@import 'variables';

html, body {
  font-family: 'Montserrat', sans-serif !important;
  height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
}

input::placeholder {
  color: $mid-grey;
  font-size: 14px;
}

label {
  margin-bottom: 0 !important;
}

.cst-mat-dialog {
  width: 600px;
}

.custom-dialog-class .mat-dialog-container{

  background: rgb(240, 240, 240);
  border-radius: 5px;
  margin: 0px;
  padding: 0;
  z-index: 1030;
  max-height: 80vh;
  box-shadow: 0px 0px 3px 2px #8b8b8b;
  overflow: auto;

}




.cst-floating-label-container {

  position: relative;

  input {
    padding: 5px;
  }

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 12px;
    color: $label-grey;
    background-color: white;
    transition: all 0.2s;
    line-height: 1;
    cursor: text;
  }

  input:focus + label, input.cst-filled + label {
    top: 0;
    transform: translateY(calc(-50% - 1px));
    left: 5px;
    font-size: 11px;
    padding-left: 3px;
    padding-right: 3px;
    color: $dark-blue;
  }

  input:focus + label.cst-cornered-label, input.cst-filled + label.cst-cornered-label {
    left: 0 !important;
    transform: translateY(-100%) !important;
    padding-bottom: 5px;
    background-color: $dark-blue !important;
    color: white !important;
    font-size: 10px;
  }
}

.popover { max-width: 450px !important; }

.mat-spinner.cst-white circle {
  stroke: white !important;
}

.mat-spinner.cst-blue circle {
  stroke: #007BFF !important;
}


.cdk-global-scrollblock {
  height: unset !important;
}
