@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/_breakpoints";

@mixin responsive-font($xs-size: 16, $sm-size: null, $md-size: null, $lg-size: null, $xl-size: null) {

  @include media-breakpoint-down(xs) {
    font-size: #{$xs-size}px;
  }

  @include media-breakpoint-up(sm) {
    font-size: #{$sm-size or $xs-size}px;
  }

  @include media-breakpoint-up(md) {
    font-size: #{$md-size or $sm-size or $xs-size}px;
  }

  @include media-breakpoint-up(lg) {
    font-size: #{$lg-size or $md-size or $sm-size or $xs-size}px;
  }

  @include media-breakpoint-up(xl) {
    font-size: #{$xl-size or $lg-size or $md-size or $sm-size or $xs-size}px;
  }
}
