@import 'variables';
@import 'mixins';

$media-queries: sm md lg xl;

$aliases: (
  ml: margin-left,
  mr: margin-right,
  pl: padding-left,
  pr: padding-right,
);

$inversed-aliases: (
  ml: margin-right,
  mr: margin-left,
  pl: padding-right,
  pr: padding-left,
);

$levels: (
  0: 0,
  1: 0.25rem,
  2: 0.5rem,
  3: 1rem,
  4: 1.5rem,
  5: 3rem,
  auto: auto,
);

@function getSpace($level) {
  @return map-get($levels, $level);
}

@function getProperty($alias, $inversed: true) {

  @if $inversed {
    @return map-get($inversed-aliases, $alias);
  }
  @else {
    @return map-get($aliases, $alias);
  }
}


html[dir=rtl] {

  @each $alias in map-keys($aliases) {


    @each $level in map-keys($levels) {

      .#{$alias}-#{$level} {

        #{getProperty($alias)}: getSpace($level) !important;
        #{getProperty($alias, false)}: unset !important;
      }

      .#{$alias}-n#{$level} {

        #{getProperty($alias)}: -#{getSpace($level)} !important;
        #{getProperty($alias, false)}: unset !important;
      }

      @each $query in $media-queries {

        .#{$alias}-#{$query}-#{$level} {

          @include media-breakpoint-up($query) {

            #{getProperty($alias)}: getSpace($level) !important;
            #{getProperty($alias, false)}: unset !important;

          }
        }
      }
    }
  }

  .rounded-right {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
  }

  .rounded-left {
    border-top-right-radius: .25rem !important;
    border-bottom-right-radius: .25rem !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }

  .rtl-border-right {
    border-left: solid 1px $border-grey !important;
    border-right: none !important;
  }

  .rtl-border-left {
    border-right: solid 1px $border-grey !important;
    border-left: none !important;
  }

  @each $query in $media-queries {

    .text-#{$query}-left {
      @include media-breakpoint-up($query) {
        text-align: right !important;
      }
    }

    .text-#{$query}-right {
      @include media-breakpoint-up($query) {
        text-align: left !important;
      }
    }
  }

  .text-left {
    text-align: right !important;
  }

  .text-right {
    text-align: left !important;
  }

  .rounded-left-10 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
  }

  .rounded-right-10 {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }

  .rounded-left-20 {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
  }

  .rounded-right-20 {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }

  .rounded-left-30 {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: unset !important;
    border-bottom-left-radius: unset !important;
  }

  .rounded-right-30 {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: unset !important;
    border-bottom-right-radius: unset !important;
  }

  .rtl-flip {
    transform: scaleX(-1);
  }




  .dropdown-toggle::after {
    margin-left: unset;
    margin-right: .255em;
  }

  .cst-content .cst-content-section .cst-arrow {
    left: 12px !important;
    right: unset !important;
  }
}

.rtl-border-bottom {
  border-bottom: solid 1px $border-grey !important;
}

.rtl-border-top {
  border-top: solid 1px $border-grey !important;
}

.rtl-border-right {
  border-right: solid 1px $border-grey !important;
}

.rtl-border-left {
  border-left: solid 1px $border-grey !important;
}

.rounded-left-10 {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.rounded-right-10 {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.rounded-left-20 {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.rounded-right-20 {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.rounded-left-30 {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.rounded-right-30 {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
