
/* ----- colors ----- */
$light-orange: #FFB31A;
$dark-orange: #EBA131;
$dark-blue: #183E6F;
$light-blue: #2980B9;

$lightest-grey: #f8f8f8;
$lighter-grey: #F5F5F5;
$light-grey: #ECECEC;
$border-grey: #E5E4E4;
$mid-grey: #C6C4C4;
$dark-grey: #999999;
$darker-grey: #707070;
$label-grey: #B5B5B5;


/* ----- intervals ----- */
$quick: 0.2s;
$medium: 0.4s;
$slow: 0.8s;


/* ----- misc ----- */
$light-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
$lighter-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.1);
