<form
  (keydown.enter)="prevent($event)"
  (ngSubmit)="onSubmit()"
  [formGroup]="pickupForm"
>
  <div class="row f-regular grey">
    <div style="position: absolute; top: 0; right: 0;">
      <dev-autofill formName="pickup" [targetForm]="pickupForm"></dev-autofill>
    </div>

    <div class="col-md-6 mx-0 rtl-border-right cst-from-address-form">
      <div class="cst-contact-form form-row" formGroupName="shipperData">
        <p class="theme-dark-blue font-16 f-medium col-12 mb-1">
          <span class="uppercased mr-2"
            >{{ "pickupdetails.label_3" | translate }} -</span
          >
          <span>{{ locations.org }}</span>
        </p>

        <div class="col-sm-4 flex-grow-1">
          <label class="font-12 f-medium theme-dark-blue capitalized">
            {{ "pickupdetails.placeholder_1" | translate }}</label
          >
          <input
            readonly
            formControlName="country"
            [value]="shipperCountry.value | countryName | async"
            class="w-100 cst-primary-form"
            placeholder=" {{ 'pickupdetails.placeholder_1' | translate }}"
          />
        </div>

        <div class="col-sm-4 flex-grow-1">
          <label class="font-12 f-medium theme-dark-blue capitalized">{{
            "pickupdetails.placeholder_2" | translate
          }}</label>
          <input
            readonly
            formControlName="city"
            class="w-100 cst-primary-form"
            placeholder="{{ 'pickupdetails.placeholder_2' | translate }}"
          />
        </div>

        <div class="col-sm-4 flex-grow-1 align-self-end">
          <label class="font-12 f-medium theme-dark-blue capitalized">
            {{ "pickupdetails.placeholder_3" | translate }}</label
          >
          <input
            readonly
            formControlName="state"
            class="w-100 cst-primary-form"
            placeholder="{{ 'pickupdetails.placeholder_3' | translate }}"
          />
        </div>

        <div
          class="form-row cst-address-section"
          [class.active]="orgAddressVisible"
        >
          <div *ngIf="!orgAddressVisible" class="col-12 mb-2">
            <span
              class="cst-fake-link font-13"
              (click)="orgAddressVisible = true"
              >{{ "pickupdetails.label_8" | translate }}</span
            >
          </div>
          <div
            *ngIf="orgAddressVisible"
            class="col-12 flex-grow-1 position-relative"
          >
            <button
              title="close"
              mat-icon-button
              (click)="orgAddressVisible = false"
              class="cst-close-address theme-dark-blue"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
            <div class="cst-floating-label-container">
              <input
                appGoogleAutocomplete
                (placeChanged)="
                  setAddress($event, 'shipper'); orgAddressVisible = false
                "
                appFloatingLabel
                [formControl]="shipperAddress"
                id="address"
                class="w-100 cst-primary-form pr-5"
              />
              <label for="address">{{
                "pickupdetails.label_9" | translate
              }}</label>
            </div>
          </div>

          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input
                [attr.disabled]="orgAddressVisible ? '' : null"
                [class.cst-highlight]="
                  unfoundFragments.includes('shipperStreet')
                "
                appFloatingLabel
                required
                formControlName="street"
                id="street"
                class="w-100 cst-primary-form"
              />
              <label for="street">{{
                "pickupdetails.placeholder_4" | translate
              }}</label>
            </div>
            <div
              @rowInsertion
              *ngIf="
                isSubmitFailed && shipperData.get('street').hasError('required')
              "
              class="err-msg"
            >
              {{ "pickupdetails.label_10" | translate }}
            </div>
          </div>

          <div class="col-sm-3 flex-grow-1">
            <div class="cst-floating-label-container">
              <input
                [attr.disabled]="orgAddressVisible ? '' : null"
                [class.cst-highlight]="
                  unfoundFragments.includes('shipperHouse')
                "
                appFloatingLabel
                formControlName="houseNumber"
                id="house"
                class="w-100 cst-primary-form"
              />
              <label for="house">{{
                "pickupdetails.placeholder_5" | translate
              }}</label>
            </div>
          </div>

          <div class="col-sm-3 flex-grow-1">
            <div class="cst-floating-label-container">
              <input
                [attr.disabled]="orgAddressVisible ? '' : null"
                [class.cst-highlight]="
                  unfoundFragments.includes('shipperPostalCode')
                "
                appFloatingLabel
                required
                formControlName="postalCode"
                id="postal-code"
                class="w-100 cst-primary-form"
              />
              <label for="postal-code">{{
                "pickupdetails.placeholder_6" | translate
              }}</label>
            </div>
            <div
              @rowInsertion
              *ngIf="
                isSubmitFailed &&
                shipperData.get('postalCode').hasError('required')
              "
              class="err-msg"
            >
              {{ "pickupdetails.label_10" | translate }}
            </div>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              required
              formControlName="name"
              id="name"
              class="w-100 cst-primary-form"
            />
            <label for="name">{{
              "pickupdetails.placeholder_7" | translate
            }}</label>
          </div>
          <div
            @rowInsertion
            *ngIf="
              isSubmitFailed && shipperData.get('name').hasError('required')
            "
            class="err-msg"
          >
            {{ "pickupdetails.label_10" | translate }}
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              required
              formControlName="contactPerson"
              id="contactPerson"
              class="w-100 cst-primary-form"
            />
            <label for="contactPerson">{{
              "pickupdetails.placeholder_8" | translate
            }}</label>
          </div>
          <div
            @rowInsertion
            *ngIf="
              isSubmitFailed &&
              shipperData.get('contactPerson').hasError('required')
            "
            class="err-msg"
          >
            {{ "pickupdetails.label_10" | translate }}
          </div>
        </div>
        <div class="col-12 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="additionalInstructions"
              id="additionalInstructions"
              class="w-100 cst-primary-form"
            />
            <label for="additionalInstructions">{{
              "pickupdetails.placeholder_9" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="email"
              id="email"
              class="w-100 cst-primary-form"
            />
            <label for="email">{{
              "pickupdetails.placeholder_10" | translate
            }}</label>
          </div>

          <div
            @rowInsertion
            *ngIf="isSubmitFailed && shipperData.get('email').hasError('email')"
            class="err-msg"
          >
            {{ "pickupdetails.label_11" | translate }}
          </div>
          <div
            @rowInsertion
            *ngIf="
              isSubmitFailed && shipperData.get('email').hasError('required')
            "
            class="err-msg"
          >
            {{ "pickupdetails.label_10" | translate }}
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="row no-gutters">
            <div class="col-3">
              <app-phone-autocomplete
                [code]="normalizedOrder.shipperData.country"
                (codeSelected)="shipperCode = $event"
              ></app-phone-autocomplete>
            </div>
            <div class="cst-floating-label-container col-9">
              <input
                appFloatingLabel
                formControlName="phone"
                id="phone"
                class="w-100 cst-primary-form"
              />
              <label for="phone">{{
                "pickupdetails.placeholder_11" | translate
              }}</label>
            </div>

            <div
              @rowInsertion
              *ngIf="
                isSubmitFailed && shipperData.get('phone').hasError('required')
              "
              class="err-msg"
            >
              {{ "pickupdetails.label_10" | translate }}
            </div>
            <div
              @rowInsertion
              *ngIf="
                isSubmitFailed && shipperData.get('phone').hasError('minlength')
              "
              class="err-msg"
            >
              {{ "pickupdetails.label_12" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column">
        <label
          class="cst-checkbox-container cst-invoice-checkbox theme-dark-blue font-12 f-medium mb-3 mr-2"
        >
          {{ "pickupdetails.label_5" | translate }}
          <input type="radio" value="sender" formControlName="receiveInvoice" />
          <span class="checkmark"></span>
        </label>

        <label
          class="cst-checkbox-container cst-invoice-checkbox theme-dark-blue font-12 f-medium mb-3"
        >
          {{ "pickupdetails.label_6" | translate }}
          <input type="radio" value="sender" formControlName="payTaxes" />
          <span class="checkmark"></span>
        </label>
      </div>

      <p class="cst-heading">{{ "pickupdetails.heading_4" | translate }}</p>

      <div class="row" formGroupName="estimatedDeliveryDate">
        <div class="col-6 d-flex align-items-center">
          <input
            [min]="today"
            formControlName="pickupDate"
            readonly
            class="cst-primary-form w-75 border-right-0"
            [matDatepicker]="picker"
          />
          <mat-datepicker #picker></mat-datepicker>
          <button
            type="button"
            class="cst-primary-form w-25 overflow-hidden"
            (click)="picker.open()"
          >
            <img src="assets/icons/calendar-icon.svg" />
          </button>
        </div>
        <div class="col-6">
          <select formControlName="pickupTime" class="cst-primary-form">
            <option
              *ngFor="let timeRange of timeRangeOptions"
              [value]="timeRange.startTime"
            >
              {{ timeRange.startTime }} - {{ timeRange.endTime }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <hr class="col-10 d-md-none" />

    <div class="col-md-6 mx-0">
      <div class="cst-contact-form form-row" formGroupName="consigneeData">
        <p class="theme-dark-blue font-16 f-medium col-12 mb-1">
          <span class="uppercased mr-2"
            >{{ "pickupdetails.label_4" | translate }} -</span
          >
          <span>{{ locations.dest }}</span>
        </p>
        <div class="col-sm-4 flex-grow-1">
          <label class="font-12 f-medium theme-dark-blue capitalized">
            {{ "pickupdetails.placeholder_1" | translate }}</label
          >
          <input
            readonly
            formControlName="country"
            [value]="consigneeCountry.value | countryName | async"
            class="w-100 cst-primary-form"
            placeholder="{{ 'pickupdetails.placeholder_1' | translate }}"
          />
        </div>
        <div class="col-sm-4 flex-grow-1">
          <label class="font-12 f-medium theme-dark-blue capitalized">{{
            "pickupdetails.placeholder_2" | translate
          }}</label>
          <input
            readonly
            formControlName="city"
            class="w-100 cst-primary-form"
            placeholder="{{ 'pickupdetails.placeholder_2' | translate }}"
          />
        </div>
        <div class="col-sm-4 flex-grow-1 align-self-end">
          <label class="font-12 f-medium theme-dark-blue capitalized">
            {{ "pickupdetails.placeholder_3" | translate }}</label
          >
          <input
            readonly
            formControlName="state"
            class="w-100 cst-primary-form"
            placeholder="{{ 'pickupdetails.placeholder_3' | translate }}"
          />
        </div>

        <div
          class="form-row cst-address-section"
          [class.active]="destAddressVisible"
        >
          <div *ngIf="!destAddressVisible" class="col-12 mb-2">
            <span
              class="cst-fake-link font-12"
              (click)="destAddressVisible = true"
              >{{ "pickupdetails.label_8" | translate }}</span
            >
          </div>
          <div *ngIf="destAddressVisible" class="col-12 flex-grow-1">
            <button
              title="close"
              mat-icon-button
              (click)="destAddressVisible = false"
              class="cst-close-address theme-dark-blue"
            >
              <mat-icon>add_circle</mat-icon>
            </button>
            <div class="cst-floating-label-container">
              <input
                appGoogleAutocomplete
                (placeChanged)="
                  setAddress($event, 'consignee'); destAddressVisible = false
                "
                appFloatingLabel
                [formControl]="consigneeAddress"
                id="address_1"
                class="w-100 cst-primary-form pr-5"
              />
              <label for="address_1">{{
                "pickupdetails.label_9" | translate
              }}</label>
            </div>
          </div>

          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input
                [attr.disabled]="destAddressVisible ? '' : null"
                [class.cst-highlight]="
                  unfoundFragments.includes('consigneeStreet')
                "
                appFloatingLabel
                required
                formControlName="street"
                id="street_1"
                class="w-100 cst-primary-form"
              />
              <label for="street_1">{{
                "pickupdetails.placeholder_4" | translate
              }}</label>
            </div>
            <div
              @rowInsertion
              *ngIf="
                isSubmitFailed &&
                consigneeData.get('street').hasError('required')
              "
              class="err-msg"
            >
              {{ "pickupdetails.label_10" | translate }}
            </div>
          </div>
          <div class="col-sm-3 flex-grow-1">
            <div class="cst-floating-label-container">
              <input
                [attr.disabled]="destAddressVisible ? '' : null"
                [class.cst-highlight]="
                  unfoundFragments.includes('consigneeHouse')
                "
                appFloatingLabel
                formControlName="houseNumber"
                id="house_1"
                class="w-100 cst-primary-form"
              />
              <label for="house_1">{{
                "pickupdetails.placeholder_5" | translate
              }}</label>
            </div>
          </div>
          <div class="col-sm-3 flex-grow-1">
            <div class="cst-floating-label-container">
              <input
                [attr.disabled]="destAddressVisible ? '' : null"
                [class.cst-highlight]="
                  unfoundFragments.includes('consigneePostalCode')
                "
                appFloatingLabel
                required
                formControlName="postalCode"
                id="postal-code_1"
                class="w-100 cst-primary-form"
              />
              <label for="postal-code_1">{{
                "pickupdetails.placeholder_6" | translate
              }}</label>
            </div>
            <div
              @rowInsertion
              *ngIf="
                isSubmitFailed &&
                consigneeData.get('postalCode').hasError('required')
              "
              class="err-msg"
            >
              {{ "pickupdetails.label_10" | translate }}
            </div>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              required
              formControlName="name"
              id="name_1"
              class="w-100 cst-primary-form"
            />
            <label for="name_1">{{
              "pickupdetails.placeholder_7" | translate
            }}</label>
          </div>
          <div
            @rowInsertion
            *ngIf="
              isSubmitFailed && consigneeData.get('name').hasError('required')
            "
            class="err-msg"
          >
            {{ "pickupdetails.label_10" | translate }}
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              required
              formControlName="contactPerson"
              id="contactPerson_1"
              class="w-100 cst-primary-form"
            />
            <label for="contactPerson_1">{{
              "pickupdetails.placeholder_8" | translate
            }}</label>
          </div>
          <div
            @rowInsertion
            *ngIf="
              isSubmitFailed &&
              consigneeData.get('contactPerson').hasError('required')
            "
            class="err-msg"
          >
            {{ "pickupdetails.label_10" | translate }}
          </div>
        </div>
        <div class="col-12 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="additionalInstructions"
              id="additionalInstructions_1"
              class="w-100 cst-primary-form"
            />
            <label for="additionalInstructions_1">{{
              "pickupdetails.placeholder_9" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="email"
              id="email_1"
              class="w-100 cst-primary-form"
            />
            <label for="email_1">{{
              "pickupdetails.placeholder_10" | translate
            }}</label>
          </div>

          <div
            @rowInsertion
            *ngIf="
              isSubmitFailed && consigneeData.get('email').hasError('email')
            "
            class="err-msg"
          >
            {{ "pickupdetails.label_11" | translate }}
          </div>
          <div
            @rowInsertion
            *ngIf="
              isSubmitFailed && consigneeData.get('email').hasError('required')
            "
            class="err-msg"
          >
            {{ "pickupdetails.label_10" | translate }}
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="row no-gutters">
            <div class="col-3">
              <app-phone-autocomplete
                [code]="normalizedOrder.consigneeData.country"
                (codeSelected)="consigneeCode = $event"
              ></app-phone-autocomplete>
            </div>
            <div class="cst-floating-label-container col-9">
              <input
                appFloatingLabel
                formControlName="phone"
                id="phone_1"
                class="w-100 cst-primary-form"
              />
              <label for="phone_1">{{
                "pickupdetails.placeholder_11" | translate
              }}</label>
            </div>

            <div
              @rowInsertion
              *ngIf="
                isSubmitFailed &&
                consigneeData.get('phone').hasError('required')
              "
              class="err-msg"
            >
              {{ "pickupdetails.label_10" | translate }}
            </div>
            <div
              @rowInsertion
              *ngIf="
                isSubmitFailed &&
                consigneeData.get('phone').hasError('minlength')
              "
              class="err-msg"
            >
              {{ "pickupdetails.label_12" | translate }}
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column">
        <label
          class="cst-checkbox-container cst-invoice-checkbox theme-dark-blue font-12 f-medium mb-3 mr-2"
        >
          {{ "pickupdetails.label_5" | translate }}
          <input
            type="radio"
            value="receiver"
            formControlName="receiveInvoice"
          />
          <span class="checkmark"></span>
        </label>

        <label
          class="cst-checkbox-container cst-invoice-checkbox theme-dark-blue font-12 f-medium mb-3"
        >
          {{ "pickupdetails.label_6" | translate }}
          <input type="radio" value="receiver" formControlName="payTaxes" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>

  <hr />

  <div *ngIf="isNextStep && contactsValid">
    <p class="cst-heading">{{ "pickupdetails.heading_1" | translate }}</p>

    <span class="font-12 f-medium theme-dark-blue capitalized">{{
      "pickupdetails.label_1" | translate
    }}</span>
    <div class="cst-contact-form form-row align-items-start">
      <div class="col-md-2">
        <select formControlName="reason" class="cst-primary-form">
          <option value="" disabled selected hidden>{{
            "pickupdetails.reason.title" | translate
          }}</option>
          <option>{{ "pickupdetails.reason.reason_1" | translate }}</option>
          <option>{{ "pickupdetails.reason.reason_2" | translate }}</option>
          <option>{{ "pickupdetails.reason.reason_3" | translate }}</option>
          <option>{{ "pickupdetails.reason.reason_4" | translate }}</option>
          <option>{{ "pickupdetails.reason.reason_5" | translate }}</option>
          <option>{{ "pickupdetails.reason.reason_6" | translate }}</option>
          <option>{{ "pickupdetails.reason.reason_7" | translate }}</option>
          <option>{{ "pickupdetails.reason.reason_8" | translate }}</option>
        </select>
        <div
          @rowInsertion
          *ngIf="
            isSubmitFailed && pickupForm.get('reason').hasError('required')
          "
          class="err-msg"
        >
          {{ "pickupdetails.label_10" | translate }}
        </div>
      </div>
      <div class="col-md-6">
        <div class="cst-floating-label-container">
          <input
            appFloatingLabel
            type="text"
            formControlName="documentDescription"
            id="description"
            class="cst-primary-form"
          />
          <label for="description">{{
            "pickupdetails.placeholder_12" | translate
          }}</label>
        </div>
        <div
          @rowInsertion
          *ngIf="
            isSubmitFailed &&
              pickupForm.get('documentDescription').hasError('required');
            else descriptionHint
          "
          class="err-msg"
        >
          {{ "pickupdetails.label_10" | translate }}
        </div>
        <ng-template #descriptionHint>
          <a class="cst-hint-link">{{ "pickupdetails.link_1" | translate }}</a>
        </ng-template>
      </div>
      <div class="col-md-2">
        <div class="cst-floating-label-container">
          <input
            appFloatingLabel
            type="text"
            formControlName="Vat_TaxId"
            id="tax_id"
            class="cst-primary-form"
          />
          <label for="tax_id">{{
            "pickupdetails.placeholder_13" | translate
          }}</label>
        </div>

        <!-- <div @rowInsertion *ngIf="isSubmitFailed && pickupForm.get('Vat_TaxId').hasError('required'); else vatTaxHint" class="err-msg">
          required field
        </div> -->
        <!-- <ng-template #vatTaxHint> -->
        <span class="cst-hint-link"
          >{{ "pickupdetails.link_2" | translate }} ?</span
        >
        <!-- </ng-template> -->
      </div>

      <div class="col-md-2">
        <div class="d-flex">
          <div class="flex-grow-1 cst-floating-label-container">
            <input
              [appRegexpRestriction]="floatReg"
              appFloatingLabel
              type="text"
              formControlName="estimatePackageValue"
              id="packageValue"
              class="cst-primary-form"
            />
            <label for="packageValue">{{
              "pickupdetails.label_13" | translate
            }}</label>
          </div>
          <button
            type="button"
            tabindex="-1"
            class="font-12 f-semi-bold suffix-btn"
          >
            $
          </button>
        </div>
        <!-- <div @rowInsertion *ngIf="isSubmitFailed && pickupForm.get('estimatePackageValue').hasError('required')" class="err-msg">
          required field
        </div> -->
      </div>
    </div>

    <div class="d-flex justify-content-center mt-2">
      <span
        class="cst-popover-link"
        popoverTitle="Customs duties and VAT"
        [outsideClick]="true"
        [popover]="popoverContent"
        triggers="hover"
        placement="right"
        container="body"
        >{{ "pickupdetails.vat.vat_1" | translate }}</span
      >

      <ng-template #popoverContent>
        <strong
          >{{ "pickupdetails.vat.vat_2" | translate }}</strong
        >
        <hr class="m-2" />
        <span>
          {{ "pickupdetails.vat.vat_3" | translate }}
        </span>
      </ng-template>
    </div>

    <hr />

    <!-- <p class="cst-heading">{{ 'pickupdetails.heading_2' | translate }}</p>

    <p class="cst-information">
      {{ 'pickupdetails.phrase_1' | translate | capital }}
      <br>
      {{ 'pickupdetails.phrase_2' | translate | capital }}
    </p>

    <div class="d-flex flex-wrap">
      <div class="mr-5">
        <input formControlName="estimatePackageValue" class="cst-primary-form mr-2" type="text" style="width: 115px">


        <select formControlName="currency" class="cst-primary-form" style="width: 70px">
          <option value="USD">$</option>
        </select>
        <div @rowInsertion *ngIf="isSubmitFailed && pickupForm.get('estimatePackageValue').hasError('required')"
          class="err-msg">required field</div>

        <div class="mt-3 font-12 f-semi-bold theme-light-orange uppercased">{{ 'pickupdetails.phrase_5' | translate }} :
          $50</div>
      </div>

      <div>
        <label class="cst-checkbox-container theme-dark-blue font-12 f-medium">
          {{ 'pickupdetails.phrase_3' | translate | capital }} !
          <br>
          {{ 'pickupdetails.phrase_4' | translate | capital }} : 5$
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <a href="#" class="cst-hint-link">{{ 'pickupdetails.link_3' | translate }}</a>
      </div>
    </div>

    <hr> -->

    <p class="cst-heading">{{ "pickupdetails.heading_3" | translate }}</p>

    <p class="cst-information">{{ "pickupdetails.phrase_6" | translate }}</p>

    <label
      class="cst-transparent-border cst-checkbox-container theme-dark-blue font-12 f-medium"
      [class.warn]="!isTermsChecked.value && isSubmitFailed"
    >
      {{ "pickupdetails.label_2" | translate | capital }}
      <input type="checkbox" [formControl]="isTermsChecked" />
      <span class="checkmark"></span>
    </label>

    <div class="mt-4 ml-4">
      <div class="d-flex flex-wrap mb-3">
        <div class="pr-5">
          <div class="cst-information">
            • {{ "pickupdetails.phrase_7" | translate | capital }}
          </div>
          <div class="cst-information">
            • {{ "pickupdetails.phrase_8" | translate | capital }}
          </div>
        </div>
        <div>
          <div class="cst-information">
            • {{ "pickupdetails.phrase_9" | translate | capital }}
          </div>
          <div class="cst-information">
            • {{ "pickupdetails.phrase_10" | translate | capital }}
          </div>
        </div>
      </div>
      <a
        href="assets/pdf/List of Forbidden Goods.pdf"
        target="_blank"
        class="cst-hint-link"
        >{{ "pickupdetails.link_4" | translate | capital }}</a
      >
      <br />
    </div>

    <label
      class="cst-transparent-border cst-checkbox-container theme-dark-blue font-12 f-medium mt-1"
      [class.warn]="!isChecked.value && isSubmitFailed"
    >
      {{ "pickupdetails.terms.term_1" | translate }}
      <a
        class="theme-light-blue"
        href="assets/pdf/Terms of use.pdf"
        target="_blank"
        >{{ "pickupdetails.terms.term_2" | translate }}</a
      >
      {{ "pickupdetails.terms.term_3" | translate }}
      <a
        class="theme-light-blue"
        href="assets/pdf/Privacy Policy.pdf"
        target="_blank"
        >{{ "pickupdetails.terms.term_4" | translate }}</a
      >
      <input type="checkbox" [formControl]="isChecked" />
      <span class="checkmark"></span>
    </label>

    <div class="d-flex flex-wrap align-items-center mt-5">
      <div class="mb-2 pr-5 cst-information">
        {{ "pickupdetails.phrase_11" | translate | capital }}
        <br />
        {{ "pickupdetails.phrase_12" | translate | capital }}
      </div>
      <div>
        <img
          *ngFor="let ind of [1, 2, 3, 4, 5]"
          src="assets/icons/danger-icon-{{ ind }}-sm.png"
          class="mr-2"
        />
      </div>
    </div>

    <hr />
  </div>

  <div
    class="d-flex justify-content-center justify-content-md-end align-items-center"
  >
    <button
      [disabled]="requesting"
      type="submit"
      class="cst-next-btn font-18 f-medium px-3 mr-md-n5"
    >
      <span class="mr-3 f-regular">{{
        "pickupdetails.action_2" | translate
      }}</span>
      <img class="rtl-flip" src="assets/icons/arrow.svg" />
      <mat-spinner
        *ngIf="requesting"
        class="ml-1 cst-white"
        [diameter]="15"
      ></mat-spinner>
    </button>
  </div>
</form>
