<div class="container-fluid mt-sm-3 theme-light-blue-bg">
  <div>
    <div class="py-4 py-sm-2 cst-advantage-row">

      <div class="cst-advantage f-semi-bold">
        <span>{{ 'homepage.phrase_3' | translate }}</span>
      </div>
      <div class="cst-advantage">
        <img src="assets/icons/arrow.svg" class="rtl-flip" alt=" > ">
      </div>
      <div class="cst-advantage f-semi-bold">
        <span>{{ 'homepage.phrase_4' | translate }}</span>
      </div>
      <div class="cst-advantage">
        <img src="assets/icons/arrow.svg" class="rtl-flip" alt=" > ">
      </div>
      <div class="cst-advantage f-semi-bold">
        <span>{{ 'homepage.phrase_5' | translate }}</span>
      </div>
      <div class="cst-advantage">
        <img src="assets/icons/arrow.svg" class="rtl-flip" alt=" > ">
      </div>
      <div class="cst-advantage f-semi-bold">
        <span>{{ 'homepage.phrase_28' | translate }}</span>
      </div>

    </div>
  </div>




</div>
