@import 'variables';
@import 'mixins';

.cst-advantage-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 58px;

  @include media-breakpoint-down(xs) {
    flex-flow: column nowrap;
  }


  .cst-advantage {
    color: white;
    font-size: 13px;
    padding: 8px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: center;

    img {
      width: 10px;
      @include media-breakpoint-down(xs) {
        transform: rotate(90deg);
      }
    }
  }
}
