@import 'variables';


.cst-visibility {
  outline: unset;
  position: absolute;
  right: 388px;
}
.cst-pass {
  padding: 8px;
  width: 500px;
  border-radius: 0;
  outline: unset;
  color: $dark-blue;
  font-size: 13px;
}
.cst-confirm {
  padding: 8px;
  outline: unset;
  width: 500px;
  color: $dark-blue;
  border-radius: 0;
  font-size: 13px;
}
.cst-reset {
  color: white;
  width: 500px;
  background-color: $dark-orange;
  border-radius: 0;
}
.mat-icon {
  color: $dark-blue;
}
