<form class="position-relative h-100 d-flex justify-content-center align-items-center" [formGroup]="changePasswordForm">
  <div class="d-flex justify-content-center align-items-center flex-column mt-5">
    <div class="d-flex">
      <div class="d-flex justify-content-center align-items-center w-100">
        <input placeholder="New password" formControlName="password" [type]="passVisibility ? 'text' : 'password'"
          class="cst-pass  mb-1">
      </div>
      <button tabindex="-1" class="cst-visibility " mat-icon-button type="button"
        (click)="passVisibility = !passVisibility">
        <mat-icon>{{passVisibility ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
    </div>
    <div class="d-flex justify-content-center align-items-center w-100">
      <input placeholder="Confirmation" formControlName="passwordConfirm" [type]="passVisibility ? 'text' : 'password'"
        class="cst-confirm  mb-1">
    </div>
    <div class="d-flex justify-content-center align-items-center w-100">
      <button [disabled]="changePasswordForm.invalid || changePasswordForm.disabled" type="button"
        (click)="updatePassword()" class="btn cst-reset">Reset</button>
    </div>
  </div>
  <div class="alert-danger p-2 mt-3" @insertion *ngIf="errMsg">{{errMsg}}</div>
</form>
