<app-shippiz-popup heading="remember !">


  <p class="theme-darker-grey font-13 f-regular">

    We are undergoing a run-through period, so that you might encounter bugs,
    such as failure to receive a quote or other issues. For your benefit and ours,
    we ask that you report any bug to us as well as provide us with suggestions for improvement -
    <a tabindex="-1" routerLink="/contact_us" mat-dialog-close>here</a>.
    We promise to listen and implement. <br><br>
    By the way, if you sign up
    <span tabindex="-1" class="cst-fake-link" mat-dialog-close (click)="openRegistration()">here</span> ,
    you can earn a $100 credit on your invoice!

  </p>
</app-shippiz-popup>

