@import 'mixins';
@import 'variables';

.main {
    margin: 20px;
}

#invoice_template {
    overflow: hidden;
    padding: 20px;
}

.cst-combo-box {
    padding: 10px;
    background-color: transparent;
    font-size: 16px;
    color: black;
}



.cst-transparent {
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    &::-ms-expand {display: none;}
}

.cst-field {
    height: 25px;
    border-bottom: 1px solid black;
}

th, td {
    padding: 2px;
    text-indent: 3px;
    font-size: 12px;
}

table[name=contacts] {
    width: 100%;

    caption {
        display: inline-block;
    }

    tr {
        display: flex;
    
        th {
            min-width: 80px;
            margin-right: 5px;
        }
        
        td {
            flex-grow: 1;
        }
    }

    td[contenteditable=true] {
        border-bottom: 1px dashed black;
    }
}

table[name=packages] {

    td, th {
        border: solid 1px black;
    }

    thead th {
        text-align: center;
    }

    tbody td {
        text-indent: 0;
        padding: 0;

        input {
            padding: 5px;
        }
    }

    input, select {
        width: 100%;
        height: 100%;
        border: none;
        background: transparent;
    }
}


[contenteditable=true]:empty:before {
    content: attr(placeholder);
}