
<div [style.margin.px]="printing ? 32 : 20">
    <div #invoice_template id="invoice_template">

        <div class="d-flex justify-content-end align-items-center">
            <span class="mr-2">Date:</span>
            <div #CellRef class="cst-field" style="width: 150px;" contenteditable="true">{{date}}</div>
        </div>
    
        <div class="d-flex justify-content-center mt-2">
            <span class="f-bold font-24">Commercial Invoice</span>
        </div>
    
        <div class="d-flex">
    
            <div class="flex-grow-1">
                <table name="contacts">
                    <caption>From:</caption>
                    <tr>
                        <th>Sender name:</th>
                        <td #CellRef contenteditable="true">{{from?.contactPerson}}</td>
                    </tr>
                    <tr>
                        <th>Company:</th>
                        <td #CellRef contenteditable="true">{{from?.name}}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td #CellRef contenteditable="true">{{from?.address ? from.address : from ? from.street + from.houseNumber : null}}</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td #CellRef contenteditable="true">{{from?.city}}</td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td #CellRef contenteditable="true">{{from?.state}}</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td #CellRef contenteditable="true">{{from?.country | countryName | async}}</td>
                    </tr>
                    <tr>
                        <th>Zip:</th>
                        <td #CellRef contenteditable="true">{{from?.postalCode}}</td>
                    </tr>
                    <tr>
                        <th>Tel:</th>
                        <td #CellRef contenteditable="true">{{from?.phone}}</td>
                    </tr>
                    <tr>
                        <th>ID No:</th>
                        <td #CellRef contenteditable="true"></td>
                    </tr>
                </table>
            </div>
    
            <div class="flex-grow-1">
                <table name="contacts">
                    <caption>To:</caption>
                    <tr>
                        <th>Recipient name:</th>
                        <td #CellRef contenteditable="true">{{to?.contactPerson}}</td>
                    </tr>
                    <tr>
                        <th>Company:</th>
                        <td #CellRef contenteditable="true">{{to?.name}}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td #CellRef contenteditable="true">{{to?.address ? to.address : to ? to.street + to.houseNumber : null}}</td>
                    </tr>
                    <tr>
                        <th>City:</th>
                        <td #CellRef contenteditable="true">{{to?.city}}</td>
                    </tr>
                    <tr>
                        <th>State:</th>
                        <td #CellRef contenteditable="true">{{to?.state}}</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td #CellRef contenteditable="true">{{to?.country | countryName | async}}</td>
                    </tr>
                    <tr>
                        <th>Zip:</th>
                        <td #CellRef contenteditable="true">{{to?.postalCode}}</td>
                    </tr>
                    <tr>
                        <th>Tel:</th>
                        <td #CellRef contenteditable="true">{{to?.phone}}</td>
                    </tr>
                    <tr>
                        <th>Fax:</th>
                        <td #CellRef contenteditable="true"></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr>
    
    
        <form [formGroup]="invoiceTableForm">
            <table name="packages" formArrayName="invoiceTable">
                <thead>
                    <tr>
                        <th>Currency</th>
                        <th>Serial No.</th>
                        <th>Description</th>
                        <th>Number of packages</th>
                        <th>Weight</th>
                        <th>Quantity</th>
                        <th>Unit value</th>
                        <th>Value for customs only</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of invoiceTable.controls; index as i" [formGroupName]="i">
                        <td>
                            <select (input)="appendRow()" formControlName="currency" class="cst-combo-box w-100 p-1" [class.cst-transparent]="printing">
                                <option>USD</option>
                                <option>EUR</option>
                                <option>NIS</option>
                                <option>GBP</option>
                            </select>
                        </td>
                        <td><input (input)="appendRow()" formControlName="serialNo"></td>
                        <td><input (input)="appendRow()" formControlName="description"></td>
                        <td><input (input)="appendRow()" formControlName="numberOfPackages"></td>
                        <td><input (input)="appendRow()" formControlName="weight" [appRegexpRestriction]="floatReg"></td>
                        <td><input (input)="appendRow()" formControlName="quantity" [appRegexpRestriction]="intReg"></td>
                        <td><input (input)="appendRow()" formControlName="unitValue" [appRegexpRestriction]="intReg"></td>
                        <td><input (input)="appendRow()" formControlName="valueForCustomsOnly" [appRegexpRestriction]="intReg"></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="5" class="text-center">Total</th>
                        <td>{{getTotal('quantity')}}</td>
                        <td>{{getTotal('unitValue')}}</td>
                        <td>{{getTotal('valueForCustomsOnly')}}</td>
                    </tr>
                </tfoot>
    
            </table>
        </form>
        <hr>
    
        <div class="d-flex align-items-center">
            <span class="mr-2">Purpose of shipment:</span>
            <div #CellRef class="cst-field flex-grow-1" contenteditable="true">{{misc?.purposeOfShipment}}</div>
        </div>
    
        <div class="d-flex mt-3">
            <div class="flex-grow-1 d-flex align-items-center mr-3">
                <span class="mr-2">Made in:</span>
                <div #CellRef class="cst-field flex-grow-1" contenteditable="true">{{misc?.madeIn}}</div>
            </div>
            <div class="flex-grow-1 d-flex align-items-center">
                <span class="mr-2">AWB:</span>
                <div #CellRef class="cst-field flex-grow-1" contenteditable="true">{{misc?.awb}}</div>
            </div>
        </div>
    
        <hr>
    
        <h6 class="mt-4 px-3">I declare that the above information is true and correct to the best of my knowledge</h6>
    
        <div class="d-flex justify-content-end align-items-center mt-4">
            <span class="mr-2">Signature:</span>
            <div #CellRef class="cst-field" style="width: 250px;" contenteditable="true">{{misc?.signature}}</div>
        </div>
    
    
        <div class="d-flex justify-content-center align-items-center mt-3">
            <span class="mr-2">Via:</span>
            <select [formControl]="processorComboBox" class="cst-combo-box" [class.cst-transparent]="printing">
                <option *ngFor="let processor of processors" [value]="processor.parent">{{ processor.parent }}</option>
            </select>
        </div>
    
    </div>
    
    
    <div class="mt-5 px-3 row">
        <button [disabled]="requesting" (click)="pickupId ? saveAndPrint() : printInvoice()" class="d-flex justify-content-center align-items-center btn btn-primary col">
            <span>{{pickupId && 'Save and'}} Print</span>
            <mat-spinner *ngIf="requesting" class="ml-2 cst-white" [diameter]="15"></mat-spinner>
        </button>
        <button mat-dialog-close class="btn btn-secondary ml-3 col">Cancel</button>
    </div>
</div>


