  <div class="cst-profile-container">


    <div class="mx-n3 mx-xl-0 px-3 px-sm-0 rtl-border-bottom bg-white row no-gutters">
      <div class="mb-2 mt-3 mb-sm-0 mt-lg-0 col-lg-2 d-flex align-items-center justify-content-between justify-content-sm-center">
        <div class="font-16 f-bold theme-dark-orange">
          <span>Hello {{(currentUser | async)?.fName || (currentUser | async)?.email}} !</span>
        </div>
        <div class="d-sm-none font-16 f-bold theme-dark-orange">
          <span (click)="navbarVisible = !navbarVisible">
            <mat-icon>{{ navbarVisible ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
          </span>
        </div>
      </div>
      <div class="col-lg-10 cst-section-row" [class.visible]="navbarVisible">
        <div class="cst-section f-semi-bold font-13" routerLinkActive="active" routerLink="my_deliveries">
          <span>my deliveries</span>
        </div>
        <div class="cst-section f-semi-bold font-13" routerLinkActive="active" routerLink="business_excel">
          <span>business excel</span>
        </div>
        <div class="cst-section f-semi-bold font-13" routerLinkActive="active" routerLink="my_contacts">
          <span>my contacts</span>
        </div>
        <div class="cst-section f-semi-bold font-13" routerLinkActive="active" routerLink="my_store">
          <span>my store</span>
        </div>
        <div class="cst-section f-semi-bold font-13" routerLinkActive="active" routerLink="settings">
          <span>settings</span>
        </div>
      </div>
    </div>

    <div style="min-height: 500px;">
      <router-outlet></router-outlet>
    </div>


  </div>
  <app-advantage-row></app-advantage-row>
