@import 'variables';
@import 'mixins';

.cst-profile-container {

  padding-left: 16px;
  padding-right: 16px;

  @include media-breakpoint-up(xl) {
    padding-left: 130px;
    padding-right: 130px;  
  }

  .cst-section-row {
    display: flex;
    align-items: flex-end;

    @include media-breakpoint-up(lg) {
      height: 65px;
    }

    @include media-breakpoint-down(xs) {
      max-height: 0;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      transition: max-height 0.5s;

      &.visible {
        max-height: 190px;
      }
    }

    .cst-section {
      border-bottom: solid 3px transparent;
      padding: 16px;
      flex-grow: 1;
      text-align: center;
      color: $mid-grey;
      cursor: pointer;
      transition-property: border-bottom-color, color;
      transition-duration: $medium;
      text-transform: uppercase;
      outline: none;

      @include media-breakpoint-down(xs) {
        padding: 8px;
      }

      &.active {
        border-bottom-color: $dark-blue;
        color: $dark-blue;
      }
    }
  }
}
