@import 'mixins';

.cst-guide {
  margin-top: 40px;
  margin-bottom: 40px;

  @include media-breakpoint-down(sm) {
    margin-top: 0;
    margin-bottom: 0;
  }

  min-height: 550px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;


  .cst-centered-heading span {
    line-height: 1;
  }
}
.cst-header {
  padding-top: 130px;
  background-image: url("/assets/img/bg-img-desktop.png");
  background-size: cover;
  background-position: center;
}
.cst-img {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  padding-bottom: 8px;
}

