<div class="cst-header d-none d-md-block"></div>

<div class="cst-guide container-fluid theme-dark-blue-bg">
  <div class="container uppercased text-white">


    <div class="row ">
      <div class="d-flex flex-column align-items-center align-items-md-start col-sm-6 col-md-4 p-3 my-3 text-left">
        <div class="cst-img"><img src="assets/img/bussines/bussines_6.png"></div>

        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17 text-center text-md-left">personalized assistance/guidance</div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center align-items-md-start col-sm-6 col-md-4 p-3 my-3 text-left">
        <div class="cst-img"><img src="assets/img/bussines/bussines_1.png"></div>


        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17 text-center text-md-left">special customized<br> discounts</div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center align-items-md-start col-sm-6 col-md-4 p-3 my-3 text-left">
        <div class="cst-img"><img src="assets/img/bussines/bussines_2.png"></div>
        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17 text-center text-md-left">data security and <br>safeguarding of <br> personal information</div>
        </div>
      </div>

      <div class="d-flex flex-column align-items-center align-items-md-start col-sm-6 col-md-4 p-3 my-3 text-left">
        <div class="cst-img"><img src="assets/img/bussines/bussines_5.png"></div>


        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17 text-center text-md-left">convenient <br> payment plan</div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center align-items-md-start col-sm-6 col-md-4 p-3 my-3 text-left">
        <div class="cst-img"><img src="assets/img/bussines/bussines_4.png"></div>


        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17 text-center text-md-left">diverse and <br> creative solutions</div>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center align-items-md-start col-sm-6 col-md-4 p-3 my-3 text-left">
        <div class="cst-img"><img src="assets/img/bussines/bussines_3.png"></div>


        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17 text-center text-md-left">Dashboard <br> you manage <br> all shipments <br> in one place</div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-advantage-row></app-advantage-row>
