@import 'variables';

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button ,
input[type=date]::-webkit-clear-button {
  -webkit-appearance: none;
  margin: 0;
}

.err-msg {
  font-size: 10px;
  color: red;
}

.cst-primary-form {
  height: 43px;
  border: solid 1px $mid-grey;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: $dark-blue;

  &::placeholder {
    color: $mid-grey;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.cst-contact-form {
  > div {
    margin-bottom: 15px;

  }
}

.cst-change-password-form {
  .cst-floating-label-container {
    margin-bottom: 15px;
  }
}

.cst-change-password-link {
  color: $dark-blue;
  text-decoration: underline;
  font-size: 12px;
  cursor: pointer;
}

.cst-save-btn {

  border: none;
  background-color: $dark-orange;
  height: 37px;
  width: 132px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 25px 25px 25px 25px;
  cursor: pointer;
  outline: none;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }

  img {
    transition: transform $quick;
  }

  &:hover {
    background-color: $light-orange;
    img {
      transform: scale(1.15);
    }
  }
}
