<form (ngSubmit)="updateUser()" [formGroup]="userDetailsForm" class="row f-regular py-5">

    <div class="col-lg-6 mx-0">

      <div class="cst-contact-form form-row">

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel    formControlName="fName" id='fName'  class="w-100 cst-primary-form">
            <label for="fName">First Name</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1 ">
          <div class="cst-floating-label-container">
            <input appFloatingLabel    formControlName="lName" id='lName'  class="w-100 cst-primary-form">
            <label for="lName">Last Name</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <input readonly formControlName="email" class="w-100 cst-primary-form" placeholder="Email">
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel    formControlName="phone" id='phone'  class="w-100 cst-primary-form">
            <label for="phone">Phone</label>
          </div>
        </div>
        <div class="col-sm-8 flex-grow-1">
          <app-autocomplete-combo-box (countrySelected)="country.setValue($event)" (citySelected)="city.setValue($event)"></app-autocomplete-combo-box>
        </div>
        <div class="col-sm-4 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel    formControlName="zip" id='zip'  class="w-100 cst-primary-form">
            <label for="zip">Postal Code</label>
          </div>
        </div>

        <div class="col-12 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel    formControlName="address" id='address'  class="w-100 cst-primary-form">
            <label for="address">Address</label>
          </div>
        </div>

      </div>

    </div>

    <div class="col-lg-6 mx-0">

      <div class="cst-contact-form form-row">

        <div class="col-sm-6 flex-grow-1">

          <div class="cst-floating-label-container">
            <input appFloatingLabel    formControlName="company" id='company'  class="w-100 cst-primary-form">
            <label for="company">Company</label>
          </div>

        </div>
        <div class="col-sm-6 flex-grow-1 ">
          <div class="cst-floating-label-container">
            <input appFloatingLabel    formControlName="profession" id='profession'  class="w-100 cst-primary-form">
            <label for="profession">Profession</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <input formControlName="birthDate" type="date" class="w-100 cst-primary-form" placeholder="Birth Date">
        </div>

        <div class="col-sm-6 flex-grow-1 d-flex align-items-center">
          <label class="cst-checkbox-container mx-2 theme-dark-blue font-12 f-regular">
            Male
            <input formControlName="isMale" [value]="true" type="radio">
            <span class="checkmark"></span>
          </label>

          <label class="cst-checkbox-container mx-2 theme-dark-blue font-12 f-regular">
            Female
            <input formControlName="isMale" [value]="false" type="radio">
            <span class="checkmark"></span>
          </label>
        </div>

      </div>

      <hr>

      <div class="cst-change-password-link f-medium mb-2">
        <span (click)="changePasswordFormVisible=true">Change Password</span>
      </div>

      <form (ngSubmit)="updatePassword()" *ngIf="changePasswordFormVisible" class="cst-change-password-form" [formGroup]="changePasswordForm">
        <div class="cst-floating-label-container">
          <input appFloatingLabel    formControlName="oldPassword" id='oldPassword'  class="w-100 cst-primary-form">
          <label for="oldPassword">Old Password</label>
        </div>
        <div class="cst-floating-label-container">
          <input appFloatingLabel    formControlName="password" id='password'  class="w-100 cst-primary-form">
          <label for="password">New Password</label>
        </div>
        <div class="cst-floating-label-container">
          <input appFloatingLabel    formControlName="passwordConfirm" id='passwordConfirm'  class="w-100 cst-primary-form">
          <label for="passwordConfirm">New Password Confirm</label>
        </div>
        <button [disabled]="changePasswordForm.invalid" type="submit" class="cst-save-btn mb-3 font-12 f-regular" style="width: 100px; height: 30px;">
          save
        </button>
      </form>

    </div>

    <div class="col-12 mt-4 d-flex justify-content-center">
      <button type="submit" class="cst-save-btn font-18 f-regular">
        <span class="lh-none mr-3">save</span>
        <img class="rtl-flip" src="assets/icons/arrow.svg">
      </button>
    </div>


  </form>


