<div class="cst-card">
  <div class="cst-cover" [style.opacity]="isHovered ? 0.93 : 0"></div>
  <img [src]="slide.src">

  <div class="cst-card-content" [class.hovered]="isHovered">
    <span class="f-bold uppercased">{{ slide.heading }}</span>
    <span class="f-regular uppercased">{{ slide.subheader }}</span>
    <span class="font-12 f-regular mt-2" [hidden]="!isHovered">{{slide.description}}</span>



    <div class="f-regular cst-make-none font-12" [class.cst-make-block]="isHovered">

    </div>
  </div>

  <div [hidden]="!isHovered" (click)="naviagte(slide.link)" class="cst-action-btn font-18 f-regular no-outline mt-2">
    <span class="mr-3 f-regular">{{slide.link}}</span>
    <img class="rtl-flip" src="assets/icons/arrow.svg">
  </div>

</div>
