@import 'variables';



.cst-card {
  position: relative;
  box-shadow: $light-shadow;
  display: flex;

  .cst-card-content {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 22px;
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 16px;

    &.hovered {
      top: 0;
      bottom: unset;
    }

  }
}

.cst-cover {
  transition: opacity $quick;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #06244B;
}

.cst-action-btn {
  background-color: $dark-orange;
  height: 42px;
  width: 179px;
  position: absolute;
  bottom: 22px;
  right: 0;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  box-shadow: 3px 3px 4px $dark-blue;
  transition: all $quick;
  border-radius: 25px 0 0 25px;
  cursor: pointer;

  &:hover {
    background-color: $light-orange;
  }

}

.cst-expanded-description {
  position: absolute;
  top: 0;
  left: 0;
}
