<div class="my-deliverys-container my-5 position-relative">
  
  <mat-paginator *ngIf="orders.length" (page)="handlePaginator($event)" [length]="orders.length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 50]"></mat-paginator>
  <app-delivery-report *ngFor="let order of paginatedOrders; odd as odd; first as first" [order]="order" [isOdd]='odd' [isFirst]='first'></app-delivery-report>

  <div class="cst-img ml-4 d-none d-xl-block" *ngIf="orders.length"><img src="assets/img/man_22.png"></div>
  <div *ngIf="resolved && !orders.length" class="no-delivery">
    <span class="theme-dark-blue font-18 f-bold">There are no deliveries to show</span>
  </div>
</div>
