.cst-img {
  position: absolute;
  left: -140px;
  bottom: 0;
}

.my-deliverys-container {
  min-height: 500px;
}

.no-delivery {
  width: 100%;
  position: absolute;
  top: 45%;
  display: flex;
  justify-content: center;
}