<app-shippiz-popup heading="thank you for your order">


  <p class="text-center theme-darker-grey">
    Thank you for your order; you have saved at least 50% off the market price list on this order!
    Over the next few hours and by the end of the next business day, we will contact you at the e-mail address you entered in order to coordinate collection times (please make sure the e-mail address you entered is correct)
    For inquiries, you can contact Shippiz through <img src="assets/icons/whatsapp.png" alt=""> at + 972-584805800 or via <img src="assets/icons/email.png" alt=""> at: support@shippiz.com
    In your inquiry, please enter the order number {{data.pickupId}}
  </p>

</app-shippiz-popup>

