<div class="form-row">
  <div class="mb-3 mb-sm-0 col-sm">
    <div class="cst-floating-label-container">
      <input appFloatingLabel required  id='countryControl' class="cst-primary-form"
        (input)="cityControl.setValue('')" [formControl]="countryControl" [matAutocomplete]="countryAutocomplete">
      <label for="countryControl">Country</label>
    </div>
    <div *ngIf="isRequired" class="invalid-feedback">{{ 'calculator.tooltip4' | translate }}*</div>


    <mat-autocomplete (optionSelected)="countrySelected.emit($event.option.value)"
      #countryAutocomplete="matAutocomplete" [displayWith]="getNameByCode">
      <mat-option *ngFor="let country of countryAutocomplete$ | async" [value]="country.countryCode">
        <span [innerHTML]="country.name | highlight : countryControl.value"></span>
      </mat-option>
    </mat-autocomplete>
  </div>

  <div class="col-sm">
    <div class="cst-floating-label-container">
      <input appFloatingLabel required id='countryControl'[formControl]="cityControl"  class="cst-primary-form"
        (input)="cityControl.setValue('')" [formControl]="countryControl" [matAutocomplete]="cityAutocomplete">
      <label for="countryControl">City</label>
    </div>

    <div *ngIf="isRequired" class="invalid-feedback">{{ 'calculator.tooltip4' | translate }}*</div>


    <mat-autocomplete (optionSelected)="citySelected.emit($event.option.value)" #cityAutocomplete="matAutocomplete">
      <mat-option *ngFor="let city of cityAutocomplete$ | async" [value]="city.city">
        <span [innerHTML]="city.city | highlight : cityControl.value"></span>
      </mat-option>
    </mat-autocomplete>
  </div>
</div>
