@import 'variables';
@import 'mixins';



.cst-container {
  color: $dark-blue;
  padding: 40px;

  @include media-breakpoint-down(sm) {
    padding: 10px 0px;
  }

  .red-important{
    color: $dark-orange;
  }

  .black-important{
    color: $dark-blue;
    font-weight: bold;
  }

  .cst-header {
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  }

  .cst-sub-header{
    padding-bottom: 18px;
    font-size: 18px;
  }

  .cst-text-content {
    padding-bottom: 12px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    padding-left: 60px;
  }

}
