@import 'variables';
@import 'mixins';

.cst-faq-header {
  color: $dark-blue ;
  font-size: 30px;
}
.cst-img {
  height: 112px;
  width: 112px;
}
.cst-faq-input {
  outline-style: none;
  height: 40px;
  width: 580px;
  padding: 15px;
  border: 1px solid $border-grey;
  border-right: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.mat-icon {
  height: 40px;
  color: $dark-blue;
  padding: 7px;
  border: 1px solid $border-grey;
  border-left: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.cst-info-row {
  margin-top: 50px;
  margin-bottom: 30px;

  .cst-info-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $dark-blue;
    padding: 10px;
    transition: all $quick;
    outline: unset;
    cursor: pointer;

    .cst-info-header{
      padding-top: 15px;
      text-transform: uppercase;
    }

    @include media-breakpoint-down(xs) {
      flex-direction: row;
      justify-content: space-between;
      img {
        height: 50px;
        width: auto;
      }
      .cst-info-header{
        padding-top: 0;
      }
    }

  }
}
.cst-faq-link{
  transform: scale(1.15);
  box-shadow: $light-shadow;

  @include media-breakpoint-down(xs) {
    transform: none;
  }
}
.cst-info-text:hover {
  box-shadow: $light-shadow;
}

