<div class="d-flex flex-column justify-content-center align-items-center">

  <div class="d-flex flex-column flex-lg-row align-items-center mt-4">
      <div class="order-2 order-lg-1 cst-faq-header f-semi-bold mx-3 text-center">Frequently Asked Questions</div>

      <div class="order-1 order-lg-2 d-flex align-items-center" style="width: 300px;">
        <input class="cst-faq-input" type="search" placeholder="Ask us what you want...">
        <mat-icon class="align-self-center">search</mat-icon>
      </div>

  </div>


    <div class="cst-info-row d-flex flex-column flex-sm-row justify-content-sm-around w-100">

      <div class="cst-info-text"  routerLinkActive='cst-faq-link' routerLink='about-shippiz'>
        <img class="cst-img" src="assets/img/img1/img1.png">
        <span class="f-bold font-12 font-sm-14 cst-info-header">about shippiz</span>
        <span class="d-none d-lg-inline font-12">Shippiz is not a simple sending</span>
        <span class="d-none d-lg-inline font-12">platform but offers many more advantages...</span >
      </div>

      <div class="cst-info-text"  routerLinkActive='cst-faq-link' routerLink='before-ordering'>
        <img class="cst-img" src="assets/img/img2/img2.png">
        <span class="f-bold font-12 font-sm-14 cst-info-header">before ordering</span>
        <span class="d-none d-lg-inline font-12">the world's leading courier delivery </span>
        <span class="d-none d-lg-inline font-12">companies in terms of service...</span>
      </div>

      <div class="cst-info-text"  routerLinkActive='cst-faq-link' routerLink='after-ordering'>
        <img class="cst-img" src="assets/img/img3/img3.png">
        <span class="f-bold font-12 font-sm-14 cst-info-header">after ordering</span>
        <span class="d-none d-lg-inline font-12">Shipments can be held up at customs </span>
        <span class="d-none d-lg-inline font-12">services, delaying the delivery process.</span>
      </div>

  </div>

    <div #content class="w-100">
      <router-outlet (activate)="scrollToContent(content)"></router-outlet>
    </div>



</div>
