@import 'variables';

.cst-action-btn {

    border: none;
    background-color: $dark-orange;
    height: 40px;
    min-width: 200px;
    padding-right: 15px;
    padding-left: 15px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 25px 25px 25px 25px;
    cursor: pointer;
    outline: none;
  
    &:disabled {
      cursor: default;
      opacity: 0.5;
    }
  
    img {
      transition: transform 0.15;
    }
  
    &:hover {
      background-color: $light-orange;
      img {
        transform: scale(1.1);
      }
    }
  }