<div class="px-5 py-4">

    <div class="w-100 d-flex justify-content-center mb-1">
        <img src="assets/img/happy-man.png">
    </div>
    <h1 class="uppercased theme-dark-blue f-medium font-18 text-center mb-4">
        {{heading}}
    </h1>

    <ng-content></ng-content>
    
    <div class="d-flex w-100 justify-content-center mt-3">
        <button [mat-dialog-close]="dismissable" (click)="action()" class="cst-action-btn font-18 f-regular">
            <span class="lh-none mr-3">{{ actionName }}</span>
            <img class="rtl-flip" src="assets/icons/arrow.svg">
        </button>
    </div>
</div>