<div class="border-bottom pb-2 pb-md-0">
  <div class="container-fluid">
    <div class="pb-2 pt-4">
      <div
        class="d-flex flex-column flex-sm-row justify-content-between align-items-sm-center position-relative"
      >
        <div class="d-flex align-items-center ltr-dir">
          <img
            *ngIf="isYdm"
            routerLink="/home"
            class="cst-ydm-logo mr-2 no-outline pointer"
            src="assets/images/ydm.png"
          />
          <img
            routerLink="/home"
            class="cst-main-logo mr-3 no-outline pointer"
            src="assets/icons/website-logo.svg"
          />
          <div class="theme-light-blue d-none d-lg-block f-medium font-15">
            <span class="mr-1">/</span>
            <span class="capitalized">{{ "header.phrase_1" | translate }}</span>
            <span class="ml-1">!</span>
          </div>
          <dev-clear-cache class="ml-3"></dev-clear-cache>
        </div>

        <div class="d-flex align-items-center mt-2 mt-sm-0">
          <div
            [class.cst-highlight]="authFormState.highlight"
            [hidden]="authFormState.mode === null"
            class="cst-auth-form-container"
            [class.cst-login]="authFormState.mode === 'login'"
            [class.cst-registration]="authFormState.mode === 'registration'"
          >
            <div class="cst-auth-close-btn" (click)="closeAuthForm()">
              <mat-icon class="font-14 theme-dark-grey">clear</mat-icon>
            </div>

            <ng-container [ngSwitch]="authFormState.mode">
              <form
                *ngSwitchCase="'login'"
                class="cst-auth-form cst-login-form"
                [formGroup]="loginForm"
              >
                <div
                  class="d-flex justify-content-center align-items-center my-3"
                >
                  <div class="d-flex flex-column">
                    <div class="cst-auth-input-container mb-2">
                      <input
                        formControlName="email"
                        placeholder="Email"
                        class="cst-auth-input"
                        type="text"
                      />
                    </div>
                    <div class="cst-auth-input-container">
                      <input
                        formControlName="password"
                        placeholder="Password"
                        class="cst-auth-input"
                        [type]="loginPasswordEncrypted ? 'password' : 'text'"
                      />
                      <mat-icon
                        (click)="
                          loginPasswordEncrypted = !loginPasswordEncrypted
                        "
                        class="cst-encrypt-btn"
                      >
                        {{
                          loginPasswordEncrypted
                            ? "visibility_off"
                            : "visibility"
                        }}</mat-icon
                      >
                    </div>
                  </div>
                  <button
                    (click)="login()"
                    [disabled]="loginForm.invalid"
                    class="cst-submit-btn"
                  >
                    <img class="ml-2" src="assets/icons/arrow.svg" />
                  </button>
                </div>

                <div class="d-flex flex-column align-items-center">
                  <div
                    @rowInsertion
                    *ngIf="asyncErrorMsg"
                    class="cst-registr-errors"
                  >
                    {{ asyncErrorMsg }}
                  </div>
                </div>

                <div class="my-2">
                  <span
                    (click)="openRegistration()"
                    class="cst-login-action mx-2"
                    >Registration</span
                  >
                  <span
                    (click)="openForgotPassword()"
                    class="cst-login-action mx-2"
                    >Forgot Password</span
                  >
                  <span
                    (click)="skipLogin()"
                    *ngIf="authFormState.skipable"
                    class="cst-login-action mx-2"
                    >Skip</span
                  >
                </div>
              </form>

              <form
                *ngSwitchCase="'registration'"
                class="cst-auth-form cst-registration-form"
                [formGroup]="registrationForm"
              >
                <div
                  class="d-flex justify-content-center align-items-center my-3"
                >
                  <div class="d-flex flex-column">
                    <div class="cst-auth-input-container mb-2">
                      <input
                        formControlName="email"
                        placeholder="Email"
                        class="cst-auth-input"
                        type="text"
                      />
                    </div>
                    <div class="cst-auth-input-container mb-2">
                      <input
                        formControlName="password"
                        placeholder="Password"
                        class="cst-auth-input"
                        [type]="registerPasswordEncrypted ? 'password' : 'text'"
                      />
                      <mat-icon
                        (click)="
                          registerPasswordEncrypted = !registerPasswordEncrypted
                        "
                        class="cst-encrypt-btn"
                        >{{
                          registerPasswordEncrypted
                            ? "visibility_off"
                            : "visibility"
                        }}
                      </mat-icon>
                    </div>
                    <div class="cst-auth-input-container mb-2">
                      <input
                        formControlName="passwordConfirm"
                        placeholder="Confirm Password"
                        class="cst-auth-input"
                        [type]="registerPasswordEncrypted ? 'password' : 'text'"
                      />
                    </div>
                  </div>
                  <button (click)="register()" class="cst-submit-btn">
                    <img class="ml-2" src="assets/icons/arrow.svg" />
                  </button>
                </div>

                <div class="d-flex flex-column align-items-center">
                  <div
                    @rowInsertion
                    *ngIf="requiredError"
                    class="cst-registr-errors"
                  >
                    All forms are required
                  </div>
                  <div
                    @rowInsertion
                    *ngIf="invalidEmailError"
                    class="cst-registr-errors"
                  >
                    Email format is invalid
                  </div>
                  <div
                    @rowInsertion
                    *ngIf="invalidPasswordError"
                    class="cst-registr-errors"
                  >
                    Password minlength is 6
                  </div>
                  <div
                    @rowInsertion
                    *ngIf="dismatchError"
                    class="cst-registr-errors"
                  >
                    Passwords do not match
                  </div>
                  <div
                    @rowInsertion
                    *ngIf="asyncErrorMsg"
                    class="cst-registr-errors"
                  >
                    {{ asyncErrorMsg }}
                  </div>
                </div>

                <div class="my-2">
                  <span (click)="openLogin()" class="cst-login-action mx-2">
                    {{ "header.login" | translate | capital }}
                  </span>
                </div>
              </form>
            </ng-container>
          </div>

          <select
            class="cst-primary-form mx-2 h-75"
            *appOnlyDev
            [formControl]="envControl"
          >
            <option>dev</option>
            <option>local</option>
            <option>prod</option>
          </select>

          <div class="d-flex position-relative flex-grow-1 ltr-dir">
            <input
              class="cst-track-number-control"
              placeholder="Tracking Number"
              [(ngModel)]="trackNumber"
              type="text"
              [matAutocomplete]="track"
            />

            <mat-autocomplete
              (optionSelected)="setTrackNumber($event.option.value)"
              #track="matAutocomplete"
            >
              <mat-option
                *ngFor="let obj of myTrackingNumbers"
                [value]="obj.number"
              >
                <div class="d-flex justify-content-between align-items-center">
                  <span
                    [innerHTML]="obj.number | highlight: trackNumber"
                  ></span>
                  <div
                    class="d-flex align-items-center justify-content-center"
                    style="width: 50px;"
                  >
                    <img
                      *ngIf="obj.processorId"
                      src="{{ obj.processorId | processorLogo | async }}"
                      alt=""
                      class="w-100"
                    />
                  </div>
                </div>
              </mat-option>
            </mat-autocomplete>

            <div class="cst-extra-controls d-flex align-items-center">
              <div class="dropdown font-12 f-semi-bold">
                <button
                  class="cst-processor-selector cst-transparent theme-dark-blue dropdown-toggle f-medium cst-currency mr-2 mr-md-0"
                  type="button"
                  id="dropdownMenuButton"
                  data-toggle="dropdown"
                >
                  <img
                    *ngIf="selectedProcessor"
                    [src]="'assets/icons/partners/' + selectedProcessor.logo"
                  />
                </button>

                <div class="dropdown-menu processor-menu">
                  <div
                    (click)="selectedProcessor = processor"
                    *ngFor="let processor of uniqueProcessors"
                    class="dropdown-item d-flex justify-content-center align-items-center f-medium pointer font-12"
                  >
                    <img
                      [src]="'assets/icons/partners/' + processor.logo"
                      [alt]="processor.originalName"
                    />
                  </div>
                </div>
              </div>

              <div class="cst-track-btn">
                <mat-icon (click)="getTrack()">search</mat-icon>
              </div>
            </div>
          </div>

          <button
            *ngIf="!currentUser"
            (click)="openLogin()"
            class="cst-action-btn cst-transparent font-12 f-semi-bold theme-dark-blue d-none d-md-block"
          >
            {{ "header.action_2" | translate }}
          </button>

          <button
            *ngIf="currentUser"
            (click)="logout()"
            class="cst-action-btn cst-transparent font-12 f-semi-bold theme-dark-blue d-none d-md-block"
          >
            {{ "header.logout" | translate | capital }}
          </button>
          <div class="mx-1 d-none d-sm-block" *ngIf="currentUser">
            <img
              routerLink="profile"
              src="assets/img/profile-img.png"
              height="30px"
              width="30px"
            />
          </div>

          <div disabled class="dropdown font-12 f-semi-bold d-none d-md-block">
            <button
              [disabled]="currencyDisabled"
              class="cst-action-btn cst-transparent theme-dark-blue dropdown-toggle f-medium cst-currency"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
            >
              {{ (currencyObserver | async).sign }}
              {{ (currencyObserver | async).name }}
            </button>
            <div class="dropdown-menu cst-dropdown-menu">
              <div
                (click)="currencyHandler.next('USD')"
                class="dropdown-item d-flex justify-content-center align-items-center f-medium pointer font-12"
              >
                <span
                  >&#x24;
                  {{ "header.currency.usd" | translate | capital }}</span
                >
              </div>
              <div
                (click)="currencyHandler.next('EUR')"
                class="dropdown-item d-flex justify-content-center align-items-center f-medium pointer font-12"
              >
                <span
                  >&#x20AC;
                  {{ "header.currency.euro" | translate | capital }}</span
                >
              </div>
              <div
                (click)="currencyHandler.next('NIS')"
                class="dropdown-item d-flex justify-content-center align-items-center f-medium pointer font-12"
              >
                <span
                  >&#x20AA;
                  {{ "header.currency.ils" | translate | capital }}</span
                >
              </div>
            </div>
          </div>

          <div class="dropdown font-12 f-semi-bold d-none d-md-block">
            <button
              class="cst-action-btn cst-transparent theme-dark-orange dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
            >
              {{ (selectedLanguage | async).nativeCode }}
            </button>
            <div
              class="dropdown-menu"
              [class.dropdown-menu-right]="
                (selectedLanguage | async).isRtl === false
              "
            >
              <div
                class="dropdown-item d-flex justify-content-between align-items-center text-secondary f-medium pointer"
                (click)="selectLanguage('en', false, 'en')"
              >
                <div>EN</div>
                <ul class="f32 mb-0">
                  <li class="flag gb"></li>
                </ul>
              </div>

              <div
                class="dropdown-item d-flex justify-content-between align-items-center text-secondary f-medium pointer"
                (click)="selectLanguage('he', true, 'עברית')"
              >
                <div>עברית</div>
                <ul class="f32 mb-0">
                  <li class="flag il"></li>
                </ul>
              </div>
            </div>
          </div>

          <img
            src="assets/icons/menu-icon.svg"
            alt="menu"
            appStopPropogetionEvent
            (click)="openSideBar()"
            class="cst-menu-btn pointer ml-2"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<div
  [class.opened]="isSidebarVisible"
  class="cst-sidebar d-flex align-items-center flex-column text-white justify-content-between p-4"
>
  <span class="cst-clear-icon">
    <mat-icon (click)="closeSideBar()" class="font-24">clear</mat-icon>
  </span>

  <div
    class="cst-sidebar-links d-flex flex-column p-3 align-items-center text-uppercase font-14"
  >
    <span class="p-2 p-md-3 pointer" routerLink="services">Services</span>
    <span class="p-2 p-md-3 pointer" routerLink="faq">FAQ</span>
    <span class="p-2 p-md-3 pointer" routerLink="business">Business</span>
    <span class="p-2 p-md-3 pointer" routerLink="/profile/my_store"
      >eCommerce</span
    >
    <span class="p-2 p-md-3 pointer" routerLink="about_us"> about us</span>
    <span class="p-2 p-md-3 pointer" routerLink="contact_us">contact us</span>
    <span
      class="p-2 p-md-3 pointer"
      (click)="openBlankInvoice(); isSidebarVisible = false"
      >Blank Invoice</span
    >
    <span
      *ngIf="currentUser"
      (click)="logout(); isSidebarVisible = false"
      class="p-2 p-md-3 pointer d-block d-md-none"
    >
      {{ "header.logout" | translate | capital }}
    </span>
    <span
      *ngIf="!currentUser"
      (click)="openLogin(); isSidebarVisible = false"
      class="p-2 p-md-3 pointer d-block d-md-none"
    >
      {{ "header.action_2" | translate }}
    </span>

    <span
      class="p-2 p-md-3 pointer d-block d-sm-none"
      *ngIf="currentUser"
      routerLink="profile"
    >
      profile
    </span>

    <div class="d-flex justify-content-center">
      <div disabled class="dropdown font-12 f-semi-bold d-block d-md-none">
        <button
          [disabled]="currencyDisabled"
          class="cst-action-btn cst-sidebar-dropdown text-white dropdown-toggle f-medium cst-currency"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
        >
          {{ (currencyObserver | async).sign }}
        </button>
        <div class="dropdown-menu cst-dropdown-menu">
          <div
            (click)="currencyHandler.next('USD')"
            class="dropdown-item d-flex justify-content-center align-items-center f-medium pointer font-12"
          >
            <span>&#x24;</span>
          </div>
          <div
            (click)="currencyHandler.next('EUR')"
            class="dropdown-item d-flex justify-content-center align-items-center f-medium pointer font-12"
          >
            <span>&#x20AC;</span>
          </div>
          <div
            (click)="currencyHandler.next('NIS')"
            class="dropdown-item d-flex justify-content-center align-items-center f-medium pointer font-12"
          >
            <span>&#x20AA;</span>
          </div>
        </div>
      </div>

      <div class="dropdown font-12 f-semi-bold d-block d-md-none">
        <button
          class="cst-action-btn cst-sidebar-dropdown text-white dropdown-toggle"
          type="button"
          id="dropdownMenuButton"
          data-toggle="dropdown"
        >
          {{ (selectedLanguage | async).nativeCode }}
        </button>
        <div
          class="dropdown-menu"
          [class.dropdown-menu-right]="
            (selectedLanguage | async).isRtl === false
          "
        >
          <div
            class="dropdown-item d-flex justify-content-between align-items-center text-secondary f-medium pointer"
            (click)="selectLanguage('en', false, 'en')"
          >
            <div>EN</div>
            <ul class="f32 mb-0">
              <li class="flag gb"></li>
            </ul>
          </div>

          <div
            class="dropdown-item d-flex justify-content-between align-items-center text-secondary f-medium pointer"
            (click)="selectLanguage('he', true, 'עברית')"
          >
            <div>עברית</div>
            <ul class="f32 mb-0">
              <li class="flag il"></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column align-items-center font-11">
    <img src="assets/icons/sidebar-logo.svg" alt="shippiz" />
    <div class="d-flex flex-column p-3 align-items-center">
      <span>+972-544-805-800</span>
      <span>Israel, Tel Aviv</span>
      <span>94 Igal alon (alon 2)</span>
    </div>
  </div>
</div>
