@import "variables";
@import "mixins";

// :host(.rtl) {
//   direction: rtl;
// }
.cst-menu-btn {
  @include media-breakpoint-down(xs) {
    position: absolute;
    top: 10px;
    right: 0;
  }
}

.cst-ydm-logo {
  transform: translateY(-5px);
  height: 40px;
  width: auto;
}

.cst-main-logo {
  @include media-breakpoint-down(sm) {
    width: 120px;
  }
}
.ltr-dir {
  direction: ltr;
}

.cst-sidebar {
  z-index: 1000000;

  .cst-clear-icon {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .cst-sidebar-links span {
    outline: none;
  }
  .cst-sidebar-links span:hover {
    color: $mid-grey;
  }

  height: 100vh;
  position: fixed;
  top: 0;
  right: -285px;
  width: 285px;
  background-color: $dark-blue;
  transition: right $quick;

  &.opened {
    right: 0;
  }
}
.cst-action-btn {
  margin: 0.25rem;
  text-transform: uppercase;
  padding: 6.5px 13px;
  border: none;
  background-color: $light-orange;
  transition: background-color $quick;

  &.cst-sidebar-dropdown {
    background-color: transparent;
    &:hover {
      background-color: $lighter-grey;
      color: $dark-blue !important;
    }
  }

  &.cst-transparent {
    background-color: transparent;
    &:hover {
      background-color: $lighter-grey;
    }
  }
}

@keyframes highlight {
  0% {
    box-shadow: 0 0 0;
  }
  17% {
    box-shadow: 0 1px 4px 2px $light-blue;
  }
  34% {
    box-shadow: 0 0 0;
  }
  51% {
    box-shadow: 0 1px 4px 2px $light-blue;
  }
  68% {
    box-shadow: 0 0 0;
  }
  85% {
    box-shadow: 0 1px 4px 2px $light-blue;
  }
  100% {
    box-shadow: 0 0 0;
  }
}

.cst-highlight {
  animation: highlight 2.5s;
}

.cst-auth-form-container {
  background: white;
  z-index: 100;
  position: absolute;
  width: 340px;

  @include media-breakpoint-down(sm) {
    position: fixed;
    top: 84px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include media-breakpoint-down(xs) {
    top: 126px;
  }
  border: solid 1px #e5e4e4;
  top: calc(100% + 8px);
  border-radius: 0 0 30px 30px;
  padding-left: 10px;
  padding-right: 10px;

  .cst-auth-close-btn {
    position: absolute;
    top: 3px;
    right: 5px;
  }

  .cst-auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;

    .cst-auth-input-container {
      position: relative;

      .cst-auth-input {
        border-radius: 20px;
        border: solid 1px #e5e4e4;
        color: $dark-blue;
        width: 279px;
        height: 35px;
        outline: none;
        padding-left: 12px;
        padding-right: 12px;
        font-size: 13px;

        &::placeholder {
          font-size: 13px;
        }
      }

      .cst-encrypt-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        color: $dark-blue;
        font-size: 18px;
      }
    }

    .cst-registr-errors {
      font-size: 10px;
      font-weight: 400;
      color: red;
    }
    .cst-login-action {
      font-size: 12px;
      color: $dark-blue;
      text-decoration: underline;
      font-weight: 400;
      cursor: pointer;
    }

    .cst-submit-btn {
      width: 40px;
      height: 42px;
      border-radius: 25px 0 0 25px;
      background: $dark-orange;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: -10px;
      margin-left: 10px;
      border: none;
      outline: none;
      cursor: pointer;

      &:disabled {
        cursor: default;
      }

      &:hover {
        background: darken($dark-orange, 5);
      }
    }
  }
}
.cst-currency {
  outline: unset;
}

.cst-dropdown-menu {
  width: 100px !important;
  min-width: unset;
}

.cst-track-number-control {
  width: 100%;
  height: 44px;
  border-radius: 40px;
  border: 2px solid $dark-orange;
  padding-right: 140px;
  padding-left: 15px;
  outline: none;
  color: $dark-blue;
  font-size: 14px;

  &::placeholder {
    color: $dark-blue;
    font-size: 12px;
  }

  @include media-breakpoint-down(md) {
    border-radius: 25px;
    padding-right: 120px;
    padding-left: 10px;
  }
}

.cst-extra-controls {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  img {
    height: 100%;
  }

  .cst-processor-selector {
    width: 100px;
    padding: 0 !important;
    background-color: transparent;
    border: none;

    @include media-breakpoint-down(sm) {
      width: 70px;
    }
  }
  .cst-track-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    .mat-icon {
      font-size: 30px;
    }

    @include media-breakpoint-down(sm) {
      width: 20px;
      .mat-icon {
        font-size: 20px;
      }
    }
    color: $dark-blue;
    transition: all $quick;

    &:hover {
      color: $light-blue;
    }
  }
}

.cst-primary-form {
  height: 43px;
  border: solid 1px $mid-grey;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: $dark-blue;

  &::placeholder {
    color: $mid-grey;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.processor-menu {
  width: 100px;
  min-width: unset;

  @include media-breakpoint-down(sm) {
    width: 70px;
  }
}
/*rtl*/
:host(.rtl) {
  .cst-sidebar {
    &.opened {
      left: 0;
      right: auto;
    }
  }
  // .cst-extra-controls {
  //   right: auto;
  //   left: 20px;
  // }
  // .cst-track-number-control {
  //   padding-left: 140px;
  //   padding-right: 15px;
  // }
}
