@import 'mixins';

.cst-conatiner {
  padding-top: 20px;
  padding-bottom: 20px;
  
  .cst-card{
    margin: 40px 0 40px ;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 0;
    padding-bottom: 0;
    .cst-card{
      margin: 20px 0 20px ;
    }
  }
}


.cst-header {
  padding-top: 130px;
  background-image: url("/assets/img/bg-img-desktop.png");
  background-size: cover;
  background-position: center;
}
