<div class="cst-header d-none d-md-block"></div>
<div class="row no-gutters cst-conatiner">
  <div class="col-sm-6 col-lg-4 d-flex justify-content-center" *ngFor="let slide of sliderData">
  <div class="cst-card">
    <app-card [slide]='slide'></app-card>
  </div>
</div>
</div>
<app-advantage-row></app-advantage-row>
