@import 'variables';


.cst-section-link-row {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 60px;

  .cst-section-link {
    font-size: 14px;
    color: $dark-blue;
    padding: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: solid 2px transparent;
    transition: border-bottom-color $quick;
    outline: none;
    cursor: pointer;

    &.cst-active {
      border-bottom-color: $dark-blue;
    }
  }

}
