<div class="cst-section-link-row">
  <div routerLinkActive="cst-active" routerLink="my_informations" class="cst-section-link">My information</div>
  <div routerLinkActive="cst-active" routerLink="credit_card" class="cst-section-link">Credit card</div>
  <div routerLinkActive="cst-active" routerLink="options" class="cst-section-link">Options</div>
</div>
<router-outlet></router-outlet>
