
<div *ngFor="let msg of data.msg; last as last" class="text-center" [class.mb-5]="last">
  <span>{{msg}}</span>
</div>

<div class="d-flex justify-content-center">
  <button class="mr-2" mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close (click)="data.fn()">Yes</button>
</div>
