
<form [formGroup]="pickupForm">

  <div class="row f-regular">


    <div class="col-md-6 mx-0 rtl-border-right cst-from-address-form">

      <div class="cst-contact-form form-row" formGroupName="shipperData">

        <div class="col-12 text-center">
          <span class="f-bold font-20 caps theme-dark-blue">פרטי השולח</span>
        </div>

        <div class="col-12">
          <div class="cst-floating-label-container">
            <input appFloatingLabel formControlName="city" readonly class="w-100 cst-primary-form" id="city">
            <label for="city" class="capitalized">עיר</label>
          </div>
        </div>

        <div class="form-row cst-address-section mr-0 ml-0" [class.active]="orgAddressVisible">

          <div *ngIf="!orgAddressVisible" class="col-12 mb-2">
            <span class="cst-fake-link font-13" (click)="orgAddressVisible = true">מצא את הכתובת</span>
          </div>

          <div *ngIf="orgAddressVisible" class="col-12 flex-grow-1 position-relative">
            <button title="close" mat-icon-button (click)="orgAddressVisible = false" class="cst-close-address theme-dark-blue">
              <mat-icon>add_circle</mat-icon>
            </button>
            <div class="cst-floating-label-container">
              <input appGoogleAutocomplete (placeChanged)="setAddress($event, 'shipper'); orgAddressVisible = false" appFloatingLabel [formControl]="shipperAddress" id='address' class="w-100 cst-primary-form pr-5">
              <label for="address">כתובת מלאה</label>
            </div>
          </div>

          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input [attr.disabled]="orgAddressVisible ? '' : null" [class.cst-highlight]="unfoundFragments.includes('shipperStreet')" appFloatingLabel formControlName="street" id='street' class="w-100 cst-primary-form">
              <label for="street">רחוב</label>
            </div>
            <div @rowInsertion *ngIf="isSubmitFailed && shipperData.get('street').hasError('required')" class="err-msg">
              שדה חובה
            </div>
          </div>

          <div class="col-sm-3 flex-grow-1">
            <div class="cst-floating-label-container">
              <input [attr.disabled]="orgAddressVisible ? '' : null" [class.cst-highlight]="unfoundFragments.includes('shipperHouse')" appFloatingLabel formControlName="houseNumber" id="house" class="w-100 cst-primary-form">
              <label for="house">מספר בית</label>
            </div>
          </div>

          <div class="col-sm-3 flex-grow-1">
            <div class="cst-floating-label-container">
              <input [attr.disabled]="orgAddressVisible ? '' : null" [class.cst-highlight]="unfoundFragments.includes('shipperPostalCode')"  appFloatingLabel formControlName="postalCode" id="postal-code" class="w-100 cst-primary-form">
                <label for="postal-code">מיקוד</label>
            </div>
          </div>


        </div>


        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel formControlName="name" id="name" class="w-100 cst-primary-form">
            <label for="name">חברה</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel formControlName="contactPerson" id="contactPerson" class="w-100 cst-primary-form">
            <label for="contactPerson">שם השולח</label>
          </div>
          <div @rowInsertion *ngIf="isSubmitFailed && shipperData.get('contactPerson').hasError('required')" class="err-msg">שדה חובה</div>
        </div>
        <div class="col-12 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel  formControlName="additionalInstructions" id="additionalInstructions" class="w-100 cst-primary-form">
            <label for="additionalInstructions">תיאור הגעה כגון כניסה, קומה וכו</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel  formControlName="email" id="email" class="w-100 cst-primary-form">
            <label for="email">דואר אלקטרוני</label>
          </div>

          <div @rowInsertion *ngIf="isSubmitFailed && shipperData.get('email').hasError('email')" class="err-msg">אימייל לא חוקי</div>
          <div @rowInsertion *ngIf="isSubmitFailed && shipperData.get('email').hasError('required')" class="err-msg">
            שדה חובה</div>
        </div>
        <div class="col-sm-6 flex-grow-1">

          <div class="cst-floating-label-container">
            <input appFloatingLabel  formControlName="phone" id="phone" class="w-100 cst-primary-form">
            <label for="phone">טלפון</label>
          </div>

          <div @rowInsertion *ngIf="isSubmitFailed && shipperData.get('phone').hasError('required')" class="err-msg">
            שדה חובה</div>
          <div @rowInsertion *ngIf="isSubmitFailed && shipperData.get('phone').hasError('minlength')" class="err-msg">8 ספרות</div>

        </div>


      </div>

    </div>

    <hr class="col-10 d-md-none">

    <div class="col-md-6 mx-0">

      <div class="cst-contact-form form-row" formGroupName="consigneeData">

        <div class="col-12 text-center">
          <span class="f-bold font-20 caps theme-dark-blue">פרטי המקבל</span>
        </div>

        <div class="col-12">
          <div class="cst-floating-label-container">
            <input appFloatingLabel formControlName="city" readonly class="w-100 cst-primary-form" id="city_1">
            <label for="city_1" class="capitalized">עיר</label>
          </div>
        </div>


        <div class="form-row cst-address-section mr-0 ml-0" [class.active]="destAddressVisible">

          <div *ngIf="!destAddressVisible" class="col-12 mb-2">
            <span class="cst-fake-link font-13" (click)="destAddressVisible = true">מצא את הכתובת</span>
          </div>

          <div *ngIf="destAddressVisible" class="col-12 flex-grow-1 position-relative">
            <button title="close" mat-icon-button (click)="destAddressVisible = false" class="cst-close-address theme-dark-blue">
              <mat-icon>add_circle</mat-icon>
            </button>
            <div class="cst-floating-label-container">
              <input appGoogleAutocomplete (placeChanged)="setAddress($event, 'consignee'); destAddressVisible = false" appFloatingLabel [formControl]="consigneeAddress" id='address_1' class="w-100 cst-primary-form pr-5">
              <label for="address_1">כתובת מלאה</label>
            </div>
          </div>

          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input [attr.disabled]="destAddressVisible ? '' : null" [class.cst-highlight]="unfoundFragments.includes('consigneeStreet')" appFloatingLabel formControlName="street" id='street_1' class="w-100 cst-primary-form">
              <label for="street_1">רחוב</label>
            </div>
            <div @rowInsertion *ngIf="isSubmitFailed && consigneeData.get('street').hasError('required')" class="err-msg">
              שדה חובה
            </div>
          </div>

          <div class="col-sm-3 flex-grow-1">
            <div class="cst-floating-label-container">
              <input [attr.disabled]="destAddressVisible ? '' : null" [class.cst-highlight]="unfoundFragments.includes('consigneeHouse')" appFloatingLabel formControlName="houseNumber" id="house_1" class="w-100 cst-primary-form">
              <label for="house_1">מספר בית</label>
            </div>
          </div>

          <div class="col-sm-3 flex-grow-1">
            <div class="cst-floating-label-container">
              <input [attr.disabled]="destAddressVisible ? '' : null" [class.cst-highlight]="unfoundFragments.includes('consigneePostalCode')"  appFloatingLabel formControlName="postalCode" id="postal-code_1" class="w-100 cst-primary-form">
                <label for="postal-code_1">מיקוד</label>
            </div>
          </div>


        </div>


        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel formControlName="name" id="name_1" class="w-100 cst-primary-form">
            <label for="name_1">חברה</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel formControlName="contactPerson" id="contactPerson_1" class="w-100 cst-primary-form">
            <label for="contactPerson_1">שם השולח</label>
          </div>
          <div @rowInsertion *ngIf="isSubmitFailed && consigneeData.get('contactPerson').hasError('required')" class="err-msg">שדה חובה</div>
        </div>
        <div class="col-12 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel formControlName="additionalInstructions" id="additionalInstructions_1" class="w-100 cst-primary-form">
            <label for="additionalInstructions_1">תיאור הגעה כגון כניסה, קומה וכו</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input appFloatingLabel formControlName="email" id="email_1" class="w-100 cst-primary-form">
            <label for="email_1">דואר אלקטרוני</label>
          </div>
          <div @rowInsertion *ngIf="isSubmitFailed && consigneeData.get('email').hasError('email')" class="err-msg">אימייל לא חוקי</div>
          <div @rowInsertion *ngIf="isSubmitFailed && consigneeData.get('email').hasError('required')" class="err-msg">
            שדה חובה</div>
        </div>
        <div class="col-sm-6 flex-grow-1">

          <div class="cst-floating-label-container">
            <input appFloatingLabel  formControlName="phone" id="phone_1" class="w-100 cst-primary-form">
            <label for="phone_1">טלפון</label>
          </div>
          <div @rowInsertion *ngIf="isSubmitFailed && consigneeData.get('phone').hasError('required')" class="err-msg">
            שדה חובה</div>
          <div @rowInsertion *ngIf="isSubmitFailed && consigneeData.get('phone').hasError('minlength')" class="err-msg">8 ספרות</div>

        </div>


      </div>

    </div>
  </div>
</form>

<hr>

<div class="d-flex justify-content-end">
  <label class="cst-checkbox-container theme-dark-blue font-12 f-medium mb-4 pl-0 pr-4">
    כתובת השולח או המקבל ממוקמות ביהודה ושומרון(החיוב על אזורים אלו הינו 140 ש"ח כולל מע"מ)
    <input type="checkbox" [formControl]="ydmExtraChargeForLocation">
    <span class="checkmark" style="left: unset; right: 0;"></span>
  </label>
</div>

<div class="d-flex justify-content-center justify-content-md-end align-items-center">

  <button [disabled]="requesting" type="button" (click)="createShipment()" class="cst-next-btn font-18 f-medium px-3 mr-md-n5">
    <span class="mr-3 f-regular">עבור לתשלום</span>
    <img class="rtl-flip" src="assets/icons/arrow.svg">
    <mat-spinner *ngIf="requesting" class="ml-1 cst-white" [diameter]="15"></mat-spinner>
  </button>

</div>
