.cst-animation-container {
  display: flex;
  height: 200px;
  width: 250px;
  overflow: hidden;
  position: relative;

}

.cst-img-container {
  width: 200px;
  display: flex;
  align-items: center;
}

.cst-logo {
  position: absolute;
  right: 0;
  z-index: -1;
}

.cst-gradient-border {
  width: 25px;
  height: 100%;

  &:first-child {
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0));
  }

  &:last-child {
    background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0));
  }

}
