<div class="cst-animation-container">
  <div class="cst-gradient-border"></div>
  <div class="cst-img-container">
    <img [@slide]="activeIndex === i ? 'middle' : (activeIndex === i + 1) || (activeIndex === 0 && i === 3) ? 'end' : 'begin'" *ngFor="let img of images; index as i" [src]="img" class="cst-logo">
  </div>
  <div class="cst-gradient-border"></div>
</div>
