<div class="cst-container">
  <div class="cst-header f-bold text-center text-md-left">About Shippiz</div>




  <app-expandable-content subHeader="What does Shippiz do?" [isOdd]="true">

    <div class="cst-text-content f-medium theme-lighter-grey-bg">
      <span class="pb-3">Shippiz is a digital platform that aims to assist small and medium businesses
        in sending and receiving parcels in three simple steps - search, <a class="black-important">compare, order.</a></span>

      <span class="pb-3">With <a class="red-important">Shippiz</a>, you can send to, and receive parcels in 220 countries worldwide
        at a <a  class="black-important">discount of up to 75% of the list price.</a></span>

      <span class="pb-3">
        <a class="red-important">Shippiz</a> has also developed amazing tools for companies and businesses that will
        <a class="black-important">save you time,money and hassle.</a>
      </span>

      <span class="pb-3">You’ll deal with what you know how to do and leave the headache of the deliveries to us.</span>
    </div>

  </app-expandable-content>






  <app-expandable-content subHeader="What else does Shippiz do?" [isOdd]="false">

    <div class="cst-text-content f-medium theme-light-grey-bg">
      <ol>
        <li>Worldwide storage facilities</li>

        <li>Amazon FBA shipments</li>
        <li>Re-packing and handling for e-commerce</li>
        <li>Freight shipments and consolidations</li>
        <li>Consulting on permits and import of commercial goods</li>
      </ol>
    </div>

</app-expandable-content>

















  <app-expandable-content subHeader="How to order air freight through Shippiz?" [isOdd]="true">

    <div class="cst-text-content f-medium theme-lighter-grey-bg">
      <span>In three simple steps. Search, compare, order.</span>
      <ol>
        <li> <a class="black-important">Search</a> - Fill in the delivery information on the home page – parcel destination,
          and parcel weight and volume - then click the Compare button</li>
        <li> <a class="black-important">Compare</a> – Compare delivery options. <a class="red-important">Shippiz</a> do?
          will display various delivery options
          so you can decide which carrier you want to work with. You can filter the results by price,
          company, delivery times and other services such as express / economy etc</li>
        <li><a class="black-important">Order</a> – Select and finalize the order. It is important to fill in all details accurately
          and completely to avoid any delays or errors on the part of the courier</li>
      </ol>
    </div>
  </app-expandable-content>

  <app-expandable-content subHeader="Who's behind Shippiz?" [isOdd]="false">
    <div class="cst-text-content f-medium  theme-light-grey-bg">
      <span>
        The developers of <a class="red-important">Shippiz</a>, and the company's extended staff, have been trained
        to deal with ordering and delivering parcels in all its complex aspects (documents, certificates, taxes, etc.)
        We put this vast experience and knowledge to work and place it at your fingertips, for <a class="black-important">free!</a>
      </span>
    </div>
  </app-expandable-content>

  <app-expandable-content subHeader="Who are the courier companies that actually make the deliveries?" [isOdd]="true">
    <div class="cst-text-content f-medium theme-lighter-grey-bg" >
      <span>
        The world's leading courier delivery companies in terms of service and international deployment.
        We at  <a class="red-important">Shippiz</a> examine and inspect the pros and cons of all such companies and offer you those that make the shipping
        and delivery process as smooth and simple as possible, with tracking capability
      </span>
    </div>
  </app-expandable-content>
  <app-expandable-content subHeader="Does Shippiz provide packing/packaging services?" [isOdd]="false">
    <div class="cst-text-content f-medium theme-light-grey-bg" >
      <span>
        No, <a class="red-important">Shippiz</a>  does not provide packing or packaging services.
        The shipper or sender has full responsibility for packing the shipment safely and securely and attaching the
        relevant
        bill of lading + relevant documents such as invoice, CO etc. on the parcel before the courier arrives.
      </span>
    </div>
  </app-expandable-content>


</div>
