  <div class="cst-footer-wrapper">
    <div class="container-fluid">
      <div class="footer-content flex-column flex-lg-row text-center text-lg-left">

        <div class="footer-section">
          <p class="font-13 f-bold">{{ 'footer.section_1' | translate }}</p>
          <a routerLink="/about_us" >{{ 'footer.section_1_link_1' | translate }}</a>
          <a href="#">{{ 'footer.section_1_link_2' | translate }}</a>
          <a href="#">{{ 'footer.section_1_link_3' | translate }}</a>
          <a href="assets/pdf/Terms of use.pdf" target="_blank">terms and conditions</a>
          <a href="assets/pdf/Privacy Policy.pdf" target="_blank">privacy policy</a>
        </div>

        <div class="footer-section">
          <p class="font-13 f-bold">{{ 'footer.section_2' | translate }}</p>
          <a href="#">{{ 'footer.section_2_link_1' | translate }}</a>
        </div>

        <div class="footer-section">
          <p class="font-13 f-bold">{{ 'footer.section_3' | translate }}</p>
          <a href="#">{{ 'footer.section_3_link_1' | translate }}</a>
          <a href="#">{{ 'footer.section_3_link_2' | translate }}</a>
          <a href="#">{{ 'footer.section_3_link_3' | translate }}</a>
          <a href="#">{{ 'footer.section_3_link_4' | translate }}</a>
          <a href="#">{{ 'footer.section_3_link_5' | translate }}</a>
        </div>

        <div class="footer-section">
          <p class="font-13 f-bold">{{ 'footer.section_4' | translate }}</p>
          <a href="#">{{ 'footer.section_4_link_1' | translate }}</a>
          <a href="#">{{ 'footer.section_4_link_2' | translate }}</a>
          <a href="#">{{ 'footer.section_4_link_3' | translate }}</a>
          <a href="#">{{ 'footer.section_4_link_4' | translate }}</a>
          <a href="#">{{ 'footer.section_4_link_5' | translate }}</a>
        </div>

        <div class="footer-section">
          <p class="font-13 f-bold">{{ 'footer.section_5' | translate }}</p>
          <a routerLink="/contact_us">{{ 'footer.section_5_link_1' | translate }}</a>
          <a routerLink="/faq/about-shippiz">{{ 'footer.section_5_link_2' | translate }}</a>
        </div>

        <div class="footer-section contacts-section">
          <img src="assets/icons/website-logo.svg">
          <div class="mt-3">
            <img title="facebook" src="assets/icons/facebook-icon.svg" class="mr-1 pointer">
            <img title="instagram" src="assets/icons/instagram-icon.svg" class="mr-1 pointer">
            <img title="twitter" src="assets/icons/twitter-icon.svg" class="mr-1 pointer">
          </div>
          <div class="mt-3 text-center">
            <div class="font-12 f-medium">+972-544-805-800</div>
            <div class="font-12 f-medium no-transform">Israel, Tel Aviv</div>
            <div class="font-12 f-medium no-transform">94 Igal alon (alon 2)</div>
          </div>
          <div class="mt-3">
            <mat-form-field appearance="legacy">
              <input matInput>
              <mat-icon class="rtl-flip" matSuffix>search</mat-icon>
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
  </div>


