@import 'variables';
@import 'mixins';

.cst-footer-wrapper {
  padding-top: 100px;
  padding-bottom: 65px;

  .footer-content {
    display: flex;

    .footer-section {
      color: $dark-grey;
      text-transform: uppercase;
      flex-grow: 1;
      display: flex;
      flex-direction: column;

      a {
        @include media-breakpoint-down(md) {
          display: none;
        }
        cursor: pointer;
        font-size: 12px;
        font-weight: 500;
        color: $dark-grey;
        text-decoration: none;
        margin-bottom: 0.5rem;
        transition: color $quick;

        &:hover {
          color: black;
        }
      }

      &.contacts-section {
        align-items: center;
      }
    }
  }
}
