@import 'variables';
@import 'mixins';

.cst-heading {
  font-size: 13px;
  text-transform: uppercase;
  color: $dark-blue;
  font-weight: 600;

  &.cst-main {
    font-size: 26px;
    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
    @include media-breakpoint-down(sm) {
      font-size: 15px;
    }
  }
}

.cst-information {
  font-size: 12px;
  color: $darker-grey;
  font-weight: 500;
}

.cst-tracking-orders-btn {
  padding: 7px 10px;
  border: none;
  background-color: $dark-orange;
  transition: background-color $quick;

  &:hover {
    background-color: $light-orange;
  }

}

.cst-rounded-form {
  display: flex;
  height: 37px;

  input {
    flex-grow: 1;
    padding-left: 16px;
    padding-right: 16px;
    height: 100%;
    border: solid $mid-grey 1px;
    border-radius: 30px 0 0 30px;
    width: 0;

    ::placeholder {
      color: $mid-grey;
      font-size: 12px;
      font-weight: 400;
    }
  }

  .cst-action-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 50px;
  }
}

.cst-action-btn {
  height: 37px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: background-color $quick;
  cursor: pointer;
  outline: none;
}

.cst-track-btn {
  background-color: $dark-orange;
  width: 158px;

  &:hover {
    background-color: darken($dark-orange, 8%);
  }

}

.cst-edit-btn {
  background-color: $dark-blue;
  width: 86px;

  &:hover {
    background-color: darken($dark-blue, 8%);
  }
}

.cst-print-btn {
  background-color: $light-blue;
  &:hover {
    background-color: darken( $light-blue, 8%);
  }
}

.cst-advantage-row {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 67px;

    .cst-advantage {
      color: white;
      font-size: 13px;
      padding: 10px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 1.6px;
    }
  }
