
    <div class="d-flex flex-column p-4 align-items-center rtl-border-bottom">
        <span class="cst-heading cst-main text-center">{{ 'confirmation.heading_1' | translate }}</span>
        <span class="cst-information mt-2 text-center">{{ 'confirmation.phrase_1' | translate }}</span>
        <span *ngIf="msg" class="text-success mt-2 text-center">{{ msg }}</span>
      </div>


      <div style="min-height: 500px;" class="row no-gutters">

        <div class="col-md-6 col-lg-4 p-4 rtl-border-right">
          <div class="d-flex justify-content-around">
            <div class="d-flex flex-column justify-content-between">
              <span class="cst-heading">{{ 'confirmation.label_1' | translate }}</span>
              <span class="fon-18 f-bold theme-dark-blue mt-3">{{ data.pickupId }}</span>
            </div>
            <div class="d-flex flex-column justify-content-between">
              <button
                class="cst-tracking-orders-btn font-13 f-bold uppercased text-white">{{ 'confirmation.label_2' | translate }}</button>
              <span class="fon-18 f-bold theme-dark-orange mt-3">{{ data.pickupAuthorization }}</span>
            </div>
          </div>
          <div class="d-flex justify-content-center py-5">
            <div class="cst-action-btn cst-track-btn">
              <span class="mr-3 font-18 f-medium">{{ 'confirmation.action_1' | translate }}</span>
                <img class="rtl-flip" src="assets/icons/action-arrow.svg">
            </div>
          </div>
          <p class="cst-information">{{ 'confirmation.phrase_2' | translate }}</p>
        </div>

        <div class="col-12 px-4 d-md-none">
          <hr>
        </div>

        <div class="col-md-6 col-lg-8 row no-gutters">
          <div class="col-lg-6 p-4 rtl-border-right">
            <div class="d-flex justify-content-between align-items-center">
              <span class="cst-heading theme-light-blue">{{ 'confirmation.label_3' | translate }}</span>
              <div class="cst-action-btn cst-print-btn">
                  <a [href]="data.labelURL" target="_blank">
                    <img src="assets/icons/print-white-icon.svg">
                  </a>
  
              </div>
            </div>
            <div class="cst-rounded-form mt-4">
              <input type="text" placeholder="{{ 'confirmation.placeholder_1' | translate }}">
              <div class="cst-action-btn theme-light-blue-bg">
                <img class="rtl-flip" src="assets/icons/action-arrow.svg">
              </div>
            </div>
            <div class="mt-4">
              <p class="cst-information">{{ 'confirmation.phrase_3' | translate }}</p>
            </div>
  
          </div>
          
          <div class="col-12 px-4 d-lg-none">
            <hr>
          </div>
          
          <div class="col-lg-6 p-4">
            <div class="d-flex justify-content-between align-items-center">
              <span class="cst-heading">{{ 'confirmation.label_4' | translate }}</span>
              <div (click)="openInvoice()" class="cst-action-btn cst-edit-btn">
                <span>{{ 'confirmation.action_2' | translate }}</span>
              </div>
            </div>
            <div class="cst-rounded-form mt-4">
              <input type="text" placeholder="{{ 'confirmation.placeholder_1' | translate }}">
              <div class="cst-action-btn theme-dark-blue-bg">
                <img class="rtl-flip" src="assets/icons/action-arrow.svg">
              </div>
            </div>
            <hr class="mt-5">
            <div class="text-right">
              <span class="cst-heading">{{ 'confirmation.label_5' | translate }}</span>
            </div>
  
          </div>
        </div>

        
      </div>

      <app-advantage-row></app-advantage-row>

      <!-- <div class="container-fluid theme-light-blue-bg">
        <div class="cst-advantage-row">

          <div class="cst-advantage f-semi-bold">
            <span>{{ 'homepage.phrase_3' | translate }}</span>
          </div>
          <div class="cst-advantage">
            <img src="assets/icons/action-arrow.svg" class="rtl-flip" alt=" > ">
          </div>
          <div class="cst-advantage f-semi-bold">
            <span>{{ 'homepage.phrase_4' | translate }}</span>
          </div>
          <div class="cst-advantage">
            <img src="assets/icons/action-arrow.svg" class="rtl-flip" alt=" > ">
          </div>
          <div class="cst-advantage f-semi-bold">
            <span>{{ 'homepage.phrase_5' | translate }}</span>
          </div>
          <div class="cst-advantage">
            <img src="assets/icons/action-arrow.svg" class="rtl-flip" alt=" > ">
          </div>
          <div class="cst-advantage f-semi-bold">
            <span>{{ 'homepage.phrase_28' | translate }}</span>
          </div>

        </div>
      </div> -->

