<div class="cst-card-container">
  <div class="cst-content row no-gutters border border-bottom-0">
    <div class="col-md-3 row align-items-center no-gutters">
      <div class="col-6 cst-poster {{ bgClass }}">
        <div
          class="d-flex align-items-baseline align-items-md-center flex-md-column"
        >
          <span class="f-extra-bold font-29 mr-2 mr-md-0">
            {{ option.estimatedTimeNumber }}
          </span>
          <span class="f-bold font-16">{{ option.estimatedPeriod }}</span>
        </div>
        <span class="f-medium font-9 mt-3">{{
          "shippage.chooseCard.estimated" | translate
        }}</span>
      </div>

      <div class="col-6 cst-content-section cst-section-1 align-items-center">
        <img
          *ngIf="processor | async as processor"
          src="assets/icons/{{ processor.logo }}"
        />
        <ng-container *appOnlyDev>
          <div
            class="d-flex justify-content-center f-medium font-9 theme-dark-blue"
            *ngIf="processor | async as processor"
          >
            {{ processor.originalName }}
          </div>
        </ng-container>
      </div>
    </div>

    <div class="col-md-5 py-4 py-md-0 row align-items-center no-gutters">
      <div class="col-5 cst-content-section cst-section-2 text-center cst-from">
        <div>
          <img class="mr-2" src="assets/icons/drop-off-icon.svg" />
          <span class="f-bold font-11 theme-dark-blue uppercased">{{
            "shippage.chooseCard.drop" | translate | capital
          }}</span>
        </div>

        <div class="font-13 f-medium theme-darker-grey">
          {{ option.pickupDate | safeDate }}
        </div>

        <!-- <div class="font-9 f-medium theme-mid-grey mt-1">At home / office, if you book <br> in the next 2 hours</div> -->
      </div>
      <div class="col-2 text-center">
        <img class="rtl-flip" src="assets/icons/dark-arrow.svg" />
      </div>
      <div class="col-5 cst-content-section cst-section-3 text-center cst-to">
        <div>
          <img class="mr-2" src="assets/icons/delivery-icon.svg" />
          <span class="f-bold font-11 theme-dark-blue uppercased">{{
            "shippage.chooseCard.delivery" | translate | capital
          }}</span>
        </div>

        <div class="font-13 f-medium theme-darker-grey">
          {{ option.deliveryTime | safeDate }}
        </div>

        <!-- <div class="font-9 f-medium theme-mid-grey">Delivery to home / office</div> -->
      </div>
    </div>

    <div class="col-md-4 py-4 py-md-0 row align-items-center no-gutters">
      <div class="col-5 cst-content-section cst-section-4 align-items-center">
        <span
          style="text-decoration: line-through;"
          class="font-12 theme-light-blue f-medium"
          >{{ option | relevantPrice: "originalPrice" | async }}
          {{ (currencyObserver | async).sign }}</span
        >
        <span class="font-8 theme-dark-grey f-medium">{{
          "shippage.chooseCard.commonPricing" | translate
        }}</span>
      </div>

      <div class="col-7 cst-content-section cst-section-5 align-items-s">
        <div class="d-flex flex-column align-items-end mr-4">
          <span class="font-22 f-bold theme-dark-blue lh-md"
            >{{ option | relevantPrice: "price" | async }}
            {{ (currencyObserver | async).sign }}</span
          >
        </div>

        <div
          (click)="chooseService()"
          class="cst-choose-btn rounded-left-30 no-outline mt-2"
        >
          <span class="mx-3 f-medium">{{
            "shippage.chooseCard.choose" | translate
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <div class="cst-footer pr-2">
        <div class="d-flex justify-content-between">
          <div
            class="cst-footer-detail mr-md-3 p-2"
            (click)="changeActiveNum(1, $event)"
          >
            <img
              [src]="
                activeNumber === 1
                  ? 'assets/icons/inactive-print-icon.svg'
                  : 'assets/icons/inactive-print-icon.svg'
              "
              class="mr-2"
            />
            <span class="font-8 f-medium">{{
              "shippage.chooseCard.printer" | translate
            }}</span>
          </div>
          <div
            class="cst-footer-detail mr-md-3 p-2"
            (click)="changeActiveNum(2, $event)"
          >
            <img
              [src]="
                activeNumber === 2
                  ? 'assets/icons/active-info-icon.svg'
                  : 'assets/icons/inactive-info-icon.svg'
              "
              class="mr-2"
            />
            <span class="font-8 f-medium">{{
              "shippage.chooseCard.info" | translate
            }}</span>
          </div>
          <div
            class="cst-footer-detail mr-md-3 p-2"
            (click)="changeActiveNum(3, $event)"
          >
            <img
              [src]="
                activeNumber === 3
                  ? 'assets/icons/active-map-icon.svg'
                  : 'assets/icons/inactive-map-icon.svg'
              "
              class="mr-2"
            />
            <span class="font-8 f-medium">{{
              "shippage.chooseCard.relay" | translate
            }}</span>
          </div>
        </div>

        <div>
          <span class="uppercased font-11 f-bold">{{
            "shippage.chooseCard.details" | translate
          }}</span>
        </div>
      </div>
    </mat-expansion-panel-header>
    <div [ngSwitch]="activeNumber">
      <div class="row px-3 cts-detail-content" *ngSwitchCase="2">
        <div class="col-6 lh-lg">
          <span class="theme-dark-blue font-9 f-medium">
            {{ "shippage.details.details_1" | translate }} <br />
            {{ "shippage.details.details_2" | translate }} <br />
            {{ "shippage.details.details_3" | translate }} <br />
            {{ "shippage.details.details_4" | translate }} <br />
            {{ "shippage.details.details_5" | translate }} <br />
            {{ "shippage.details.details_6" | translate }} <br />
            <!-- - The price does not include customs commission fees and various.
            charges depending on the product and country of import. <br />
            - The price does not include tax charges in the importing country.
            <br />
            - Please note that you have all the necessary permits. <br />
            - Export list will be charged in the following cases <br />
            1. Product over 20 kg 2. Product value exceeds $ 200 3. Product is
            for commercial use. -->
          </span>
        </div>
        <div class="col-6 lh-lg">
          <span class="theme-dark-blue font-9 f-medium">
            {{ "shippage.details.details_7" | translate }} <br />
            {{ "shippage.details.details_8" | translate }} <br />
            {{ "shippage.details.details_9" | translate }} <br />
            {{ "shippage.details.details_10" | translate }} <br />
            {{ "shippage.details.details_11" | translate }} <br />
            {{ "shippage.details.details_12" | translate }}
            <!-- - The final price will be determined after weighing and measuring
            the courier company <br />
            - Tracking will only be available after the package is collected
            <br />
            - For weight over 50 kg contact for better price <br />
            - Transit time is calculated considering only business days <br />
            - Please check packaging advice Please check packaging advice <br />
            - Maximum weight 70kg -->
          </span>
        </div>
      </div>

      <div class="row px-3 cts-detail-content" *ngSwitchCase="3">
        <div class="col-12">
          <span class="theme-dark-blue font-11 f-bold">Map</span>
        </div>
        <div class="col-6 lh-lg">
          <span class="theme-dark-grey font-9 f-medium">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatibus veritatis, omnis praesentium repellendus commodi nihil
            error, veniam corrupti odio dolor reprehenderit nesciunt doloremque
            reiciendis. <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatibus veritatis, omnis praesentium repellendus commodi nihil
            error, veniam corrupti odio dolor reprehenderit nesciunt doloremque
            reiciendis. Natus veniam amet asperiores dicta!
          </span>
        </div>
        <div class="col-6 lh-lg">
          <span class="theme-dark-grey font-9 f-medium">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatibus veritatis, omnis praesentium repellendus commodi nihil
            error, veniam corrupti odio dolor reprehenderit nesciunt doloremque
            reiciendis. <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatibus veritatis, omnis praesentium repellendus commodi nihil
            error, veniam corrupti odio dolor reprehenderit nesciunt doloremque
            reiciendis. Natus veniam amet asperiores dicta!
          </span>
        </div>
      </div>

      <div class="row px-3 cts-detail-content" *ngSwitchCase="1">
        <div class="col-12">
          <span class="theme-dark-blue font-11 f-bold">Print</span>
        </div>
        <div class="col-6 lh-lg">
          <span class="theme-dark-grey font-9 f-medium">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatibus veritatis, omnis praesentium repellendus commodi nihil
            error, veniam corrupti odio dolor reprehenderit nesciunt doloremque
            reiciendis. <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatibus veritatis, omnis praesentium repellendus commodi nihil
            error, veniam corrupti odio dolor reprehenderit nesciunt doloremque
            reiciendis. Natus veniam amet asperiores dicta!
          </span>
        </div>
        <div class="col-6 lh-lg">
          <span class="theme-dark-grey font-9 f-medium">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatibus veritatis, omnis praesentium repellendus commodi nihil
            error, veniam corrupti odio dolor reprehenderit nesciunt doloremque
            reiciendis. <br />
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro,
            voluptatibus veritatis, omnis praesentium repellendus commodi nihil
            error, veniam corrupti odio dolor reprehenderit nesciunt doloremque
            reiciendis. Natus veniam amet asperiores dicta!
          </span>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</div>
