@import 'variables';
@import 'mixins';

.cst-card-container {

  .mat-expansion-panel-header {
    @include media-breakpoint-down(md) {
      padding-left: 5px !important;
      padding-right: 10px !important;
    }
  }

  .cst-poster {
    width: 115px;
    height: 115px;
    flex-shrink: 0;
    color: white;
    margin-top: -1px;
    margin-left: -1px;

    @include media-breakpoint-down(sm) {

      height: 80px;

    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cst-content {

    > div:first-child {
      @include media-breakpoint-down(md) {
        border-bottom: solid 1px $lighter-grey;
      }
    }

    > div:nth-child(2) {
      @include media-breakpoint-down(md) {
        border-bottom: solid 1px $lighter-grey;
      }
    }

    .cst-content-section {
      display: flex;
      flex-direction: column;

      &.cst-from {
        overflow: hidden;
        position: relative;
        // height: 70px;

      }

      &.cst-to {
        overflow: hidden;
        // height: 70px;
      }
    }
  }

  .cst-footer {
    height: 36px;
    width: 100%; // for mat exp
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: $lighter-grey;
    color: $dark-blue;

    .cst-footer-detail:hover {
      background-color:  $mid-grey;

    }

    .cst-footer-detail {
      transition: background-color $quick;
      border-radius: 5px;
      display: flex;
      align-items: center;
      flex-direction: column;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }
  }


  .cst-choose-btn {
    background-color: $dark-orange;
    height: 33px;
    width: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 17px;
    transition: background-color $quick;
    cursor: pointer;

    &:hover {
      background-color: $light-orange;
    }

  }
}
