@import 'variables';
@import 'mixins';



.cst-endpoint-arrow {
  @include media-breakpoint-down(xs) {
    transform: rotate(90deg);
  }
}

.cst-delivery-report {
  min-height: 105px;
  background-color: #FAFAFA;

  &.color-dark {
    background-color:#F3F3F3;
  }
  &.isFirst {
    border-radius: 40px 40px 0 0;
  }

  .cst-status-icon {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    outline: unset;

  }
  .cst-edit-icon {
    height: 37px;
    width: 37px;
    border-radius: 50%;
    border: 1px solid  $border-grey;
    color: $dark-blue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    outline: unset;

  }
  .cst-more-vert-icon {
    color: $dark-blue;
    display: flex;
    justify-content: center;
    align-self: center;
    outline: unset;
  }

  .cst-green-bg {
    background-color: #86C458;
  }

  .cst-red-bg {
    background-color: #DC3030;
  }

  .cst-orange-bg {
    background-color: #EBA131;
  }

}

.cst-menu-item {
  color: $dark-blue;
  font-size: 10px;
  font-weight: 500;
  outline: unset;
  text-decoration: none;
}


.cst-auth {
  color: #2980B9;

  &:hover {
    text-decoration: underline;
    color: rgb(27, 86, 126);
  }
}

.menu-action-icon {
  color: $dark-blue;
  font-size: 18px;
}

