<div class="cst-delivery-report row no-gutters align-items-center px-4" [class.color-dark]="isOdd" [class.isFirst]="isFirst">
  <div class="pt-3 pb-2 pt-md-0 pb-md-0 col-md-2 d-flex flex-md-column justify-content-between justify-content-md-center">
    <div class="font-12 f-medium theme-darker-grey pb-md-2">{{date}}</div>
    <div>
      <span class="font-12 f-medium cst-auth pointer" (click)="track()">{{order.shippingAuthorization}}</span>
    </div>
  </div>

  <div class="py-2 py-md-0 col-md-5 row no-gutters align-items-center">

    <div class="col-sm-5 d-flex flex-column">
      <div class="d-flex justify-content-center justify-content-sm-start">
        <img class="mr-2" src="assets/icons/pickup-icon.svg">
        <div class="uppercased font-11 theme-dark-blue f-bold">
          <span>from</span>
          <br>
          <span>{{ order.shipperData.country | countryName | async }}</span>
        </div>
      </div>
      <div class="text-center text-sm-left">
        <span class="font-10 f-medium theme-dark-grey">
          {{ order.shipperData.houseNumber }} {{ order.shipperData.street }}, {{ order.shipperData.city }}
          {{ order.shipperData.state }}, {{ order.shipperData.postalCode }}
        </span>
      </div>
    </div>


    <div class="py-3 py-sm-0 col-sm-2 d-flex justify-content-center">
      <img class="cst-endpoint-arrow" src="assets/icons/dark-arrow.svg" alt="">
    </div>


    <div class="col-sm-5">
      <div class="d-flex justify-content-center justify-content-sm-end justify-content-md-start">
        <img class="mr-2" src="assets/icons/pickup-icon.svg">
        <div class="uppercased font-11 theme-dark-blue f-bold">
          <span>to</span>
          <br>
          <span>{{ order.consigneeData.country | countryName | async }}</span>
        </div>
      </div>
      <div class="text-center text-sm-right text-md-left">
        <span class="font-10 f-medium theme-dark-grey">
          {{ order.consigneeData.houseNumber }} {{ order.consigneeData.street }}, {{ order.consigneeData.city }}
          {{ order.consigneeData.state }}, {{ order.consigneeData.postalCode }}
        </span>
      </div>
    </div>
  </div>

  <div class="py-2 py-md-0 col-md-5 row no-gutters align-items-center">
    <div class="mr-2 mr-md-0 col-auto col-md-3 text-center">
      <img style="max-width: 70px" *ngIf="orderProcessor" src="assets/img/partners/{{orderProcessor.logo}}">
    </div>
    <div class="mr-2 mr-md-0 col-auto col-md-3 font-14 theme-dark-blue text-center f-bold">
      <span>{{order.amount}} </span>
      <span>{{order.currency | currencySign}}</span>
    </div>
    <div class="col-auto flex-grow-1 col-md-6 d-flex justify-content-end align-items-center">
      <div class="d-flex flex-column theme-dark-blue mr-2">
        <span class="text-right font-10 f-medium">{{ order.stasus }}</span>
        <span class="text-right font-11 f-bold">{{ order.deliveryDate | date }}</span>
      </div>
      <div class="d-flex justify-content-between">
        <div class="cst-status-icon"
        [class.cst-green-bg]="order.stasus === 'Delivered'"
        [class.cst-red-bg]="order.stasus === 'Canceled'"
        [class.cst-orange-bg]="order.stasus === 'On the way' || order.stasus === 'Pending'">
          <mat-icon>
            {{ order.stasus === 'Delivered' ? 'check' : order.stasus === 'Canceled' ? 'clear' : 'access_alarm' }}
          </mat-icon>
        </div>
        <div class="cst-edit-icon" *ngIf='order.stasus !== "Delivered"'>
          <mat-icon>edit</mat-icon>
        </div>
        <div [matMenuTriggerFor]="menu" class="cst-more-vert-icon ">
          <mat-icon>more_vert</mat-icon>
        </div>
        <mat-menu #menu="matMenu">
          <div>
            <a [href]="order.labelURL" target="_blank" mat-menu-item class="cst-menu-item">
              <mat-icon class="menu-action-icon">label</mat-icon>
              <span>Transport Label</span>
            </a>
          </div>
          <div class="d-flex">
            <button mat-menu-item class="cst-menu-item" (click)="openInvoice()">
              <mat-icon class="menu-action-icon">assignment</mat-icon>
              <span>Show Invoice</span>
            </button>
          </div>
          <div>
            <button mat-menu-item class="cst-menu-item" (click)="cancelShipment()">
              <mat-icon class="menu-action-icon">cancel</mat-icon>
              <span>Cancel Shipment</span>
            </button>
          </div>
          <div>
            <button mat-menu-item class="cst-menu-item" (click)="repeatShipment()">
              <mat-icon class="menu-action-icon">repeat</mat-icon>
              <span>Repeat Shipment</span>
            </button>
          </div>
          <div>
            <button mat-menu-item class="cst-menu-item">
              <mat-icon class="menu-action-icon">report_problem</mat-icon>
              <span>Report an incident</span>
            </button>
          </div>
        </mat-menu>
      </div>

    </div>
  </div>

</div>
