<div class="form-row">
    <div class="col">
        <input
        class="form-control form-control-sm"
        [formControl]="countryControl"
        [matAutocomplete]="countryAutocomplete"
        required>
        <div *ngIf="isRequired" class="invalid-feedback">{{ 'calculator.tooltip4' | translate }}*</div>

        
        <mat-autocomplete 
        (optionSelected)="countrySelected.emit($event.option.value)" 
        #countryAutocomplete="matAutocomplete"
        [displayWith]="getNameByCode">
            <mat-option *ngFor="let country of countryAutocomplete$ | async" [value]="country.countryCode">
                <span [innerHTML]="country.name | highlight : countryControl.value"></span>
            </mat-option>
        </mat-autocomplete>
    </div>
</div>