<div class="cst-container">
  <div class="cst-header f-bold text-center text-sm-left">About Us</div>
  <div class="cst-sub-header f-medium">Who are we?</div>
  <div class="cst-text-content">
    <span> <a class="red-important">Shippiz</a> is the first Shipping Enablement Platform specifically designed for SOHO's and SMB's, helping them achieve
      their business potential by arranging the shipping of their products, from anywhere, to anywhere, in a matter of
      seconds and at an attractive price.
    </span>
    <span>On <a class="red-important">Shippiz.com</a>, businesses can compare the quotes and options offered by leaders in express global shipping (DHL,
      FedEx and UPS ,TNT and others ) and send documents, parcels or pallets in a few simple clicks. Generous discounts are
      available with the various shipping companies: as much as 40%- 70% for businesses, compared to public prices.
    </span>
    <span>
      <a class="red-important">Shippiz.com</a> centralizes the offers made by the express shipping leaders enabling businesses and even private
      customers to reduce routing timesand save money while doing so. By creating a free account, businesses or private
      customers get access to innovative tools enabling them to manage their shipments easily.
    </span>
    <span>
      <a class="red-important">Shippiz.com</a> was designed to save the user time at every step of the shipment and delivery process. All additional
      expenses and taxes(excluding customs duties) are included in the proposed price: the customer, business or private,
      never encounters an unpleasant surprise when the order is finalized.
    </span>
    <span>
      More than 220 destinations are accessible for import and export services. Parcels are collected from business or home
      and delivered directly to the recipient’s home or business address.
    </span>
  </div>
</div>
