<form autocomplete="off">
    <input
    placeholder="Code"
    autocomplete="off"
    class="cst-primary-form text-center border-right-0"
    [formControl]="phoneControl"
    [matAutocomplete]="phoneAutocomplete">

    <mat-autocomplete
    panelWidth="150px"
    (optionSelected)="codeSelected.emit($event.option.value)"
    #phoneAutocomplete="matAutocomplete">
        <mat-option *ngFor="let item of phoneAutocomplete$ | async" [value]="item.dial_code">
            <div class="d-flex justify-content-between align-items-start">
              <ul class="f32 mb-0 pl-0">
                <li style="vertical-align: middle;" class="flag {{item.code.toLowerCase()}}"></li>
              </ul>
              <span [innerHTML]="item.dial_code | highlight : phoneControl.value"></span>
            </div>
        </mat-option>
    </mat-autocomplete>

</form>
