@import 'variables';

input {
    width: 100%;
}

.cst-primary-form {
    height: 43px;
    border: solid 1px $mid-grey;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    background-color: white;
    font-size: 12px;
    font-weight: 400;
    color: $dark-blue;
  
    &::placeholder {
      color: $mid-grey;
      font-size: 12px;
      font-weight: 400;
      text-transform: capitalize;
    }
  }