<div class="cst-container">
  <div class="cst-header f-bold text-center text-md-left">After ordering</div>




  <app-expandable-content subHeader=" What do I do if something goes wrong?" [isOdd]='true'>
    <div class="cst-text-content f-medium theme-lighter-grey-bg" >
      <span>
        In the event something goes wrong, such as a courier no-show for parcel pick-up,
        a high price offered on the site, a delay in custom clearance, or any other problem, you can immediately contact
        <a class="red-important">Shippiz</a> by email or phone and we are here to assist you as much as possible with the courier companies.
      </span>
    </div>
  </app-expandable-content>





  <app-expandable-content subHeader=" What about customs delays?" [isOdd]='false'>
    <div class="cst-text-content f-medium theme-light-grey-bg" >
      <span class="pb-3">
        Shipments can be held up at customs services, delaying the delivery process. why does this happen and how do I
        avoid delays?
      </span>

      <span>There are several reasons that might explain why a parcel has been delayed in customs:</span>
      <ul>
        <li>the pro-forma invoice attached to the shipment and or individual parcel was not detailed enough,
          or the description did not correspond accurately to the contents</li>
        <li>the contents of the shipment or individual parcel requires a license / specific authorization for import and
          the license
          or authorization was not provided.</li>
      </ul>
      <span class="pb-3">
        <a class="black-important">Note</a> Cross-border transport of all goods requires the payment of customs duties and VAT for any exported goods
        (including personal belongings) when the country of origin and destination are not in the same economic zone,
        whatever the reason for shipping.For anything stopped at customs, it is generally up to the recipient to contact the
        courier in the destination country. Please provide the exact details of the recipient (local telephone number +
        email address)
        so that customs or the courier can get in touch with him easily
      </span>
      <span>To avoid problems at customs:</span>
      <ul>
        <li>Make sure all relevant documentation is clear, accurate and attached to the shipment.
          We advise you to be as accurate as possible when providing details of the contents of your parcel
          (indicate material/matter as well as origin, and customs code if you know it).
        </li>
        <li>Make sure to obtain all permits and authorizations required for imported goods</li>
        <li>Make sure that all customs duties, if any, are paid in a timely manner. </li>
        <li>Understand the implications of shipments between countries that don’t have a trade agreement,
          as this may affect duties and taxes liability.
        </li>
      </ul>

      <span>
        <a class="red-important">Shippiz</a> is developing systems that will alert and update us and you online if a shipment is delayed;
        Nevertheless, we recommend that you track the shipment with the online tracking button, and if you see that the
        shipment
        is delayed in customs, please contact us by email or phone, or the shipping company in the importing country
      </span>
    </div>
  </app-expandable-content>




  <app-expandable-content subHeader=" How do I pay duties, taxes and all charges as an exporter? What should I do?" [isOdd]='true'>
    <div class="cst-text-content f-medium theme-lighter-grey-bg" >
      <span>
        Duties and taxes are calculated according to the country of origin and destination but also to the type of product
        being shipped;
        More often than not, these duties and taxes are payable upon receipt. By opening an export account with <a class="red-important">Shippiz</a>,
        you can quickly and easily pay all taxes, duties and other charges without having to pay the shipping company in
        the destination country. If you don’t have an account, you will be charged a fee for issuance of a one-time manual
        invoice.
      </span>
    </div>
  </app-expandable-content>


  <app-expandable-content subHeader="What happens if I’m not there when the courier arrives?" [isOdd]='false'>
    <div class="cst-text-content f-medium theme-light-grey-bg" >
      <span>
        The courier company will return the parcel to its sorting center and keep your item for several days
        (5-10 days, depending on the shipping company). The company will try to contact you to arrange another delivery
        time.
        After 3 attempts, the company will relinquish liability for the shipment.
      </span>
    </div>
  </app-expandable-content>


  <app-expandable-content subHeader="  I don't see tracking of my parcel on your site. What should I do?" [isOdd]='true'>
    <div class="cst-text-content f-medium theme-lighter-grey-bg" >
      <span>
        If your parcel hasn’t yet been collected, then it seems logical that you won’t be able to track it.
        Monitoring of your shipment begins when the parcel is scanned and trackability may depend on whether the parcel is
        scannedat the
        pick-up location (by a driver with the required equipment) or at the sorting center when the driver completes his
        collection round.
        Also, in some remote areas, it may take a day (24 hours) for the package to be tracked
      </span>
    </div>
  </app-expandable-content>

  <app-expandable-content subHeader="Does Shippiz provide packing/packaging services?" [isOdd]='false'>
    <div class="cst-text-content f-medium theme-light-grey-bg" >
      <span>
        No, <a class="red-important">Shippiz</a> does not provide packing or packaging services. The shipper or sender has full responsibility for
        packing the shipment
        safely and securely and attaching the relevant bill of lading + relevant documents such as invoice, CO etc. on
        the parcel before
        the courier arrives.
      </span>
    </div>
  </app-expandable-content>

  <app-expandable-content subHeader="  What if I need to cancel a shipping order or change the time of delivery?" [isOdd]='true'>
    <div class="cst-text-content f-medium theme-lighter-grey-bg" >
      <span>
        You must notify <a class="red-important">Shippiz</a> of any cancellation of a shipping order and / or change of date or time of delivery up
        to 3 hours
        prior to collection time (i.e. if pickup is scheduled between 12-15 then 3 hours before 12) and confirm receipt
        by email or phone.
        If you have not notified <a class="red-important">Shippiz</a> or have not received explicit confirmation of the changes by email,
        you will be charged the full shipping fee.
      </span>
    </div>
  </app-expandable-content>

  <app-expandable-content subHeader="    What about returns?" [isOdd]='false'>
    <div class="cst-text-content f-medium theme-light-grey-bg" >
      <span>
        With <a class="red-important">Shippiz</a>, it’s possible to get product returns at the seller's expense. This is a special service given to
        E-commerce to
        facilitate sales and meet international high standards of service.
      </span>
    </div>
  </app-expandable-content>

  <app-expandable-content subHeader="Can a recipient of a shipment place an import shipment order?"  [isOdd]='true'>
    <div class="cst-text-content f-medium theme-lighter-grey-bg" >
      <span class="pb-3">The answer is yes. In the following cases:</span>
      <ul>
        <li>It knows the exact dimensions and weight of the shipment</li>
        <li>It can send the bill of lading and invoice for the shipment to the place of collection to attach the
          relevant
          documents to the parcel
        </li>
      </ul>
    </div>
  </app-expandable-content>

  <app-expandable-content subHeader="If there is a delay in delivery of the parcel, am I entitled to a refund from the shipping company?"  [isOdd]='false'>
    <div class="cst-text-content f-medium theme-light-grey-bg" >
      <span class="pb-3">
        Courier companies do not guarantee delivery times in the strict meaning of the word.
        When they commit to a delivery time it means that they will do everything to try to meet the stated delivery
        time and that in case of late delivery they may reimburse some or all of the delivery expenses, according to
        the delivery option
        selected.
      </span>
      <span>
        Please also note that <a class="red-important">Shippiz</a> air freight agreements do not allow refunds for late deliveries due to the
        preferred rates offered
        by <a class="red-important">Shippiz</a>. However, commitments on the part of courier companies have shown an excellent probability that
        delivery times will be
        met. Compliance with the delivery time exceeds 96%, so the chance of the delivery being delayed is a reduced.
      </span>
    </div>
  </app-expandable-content>

</div>




