@import 'variables';

.cst-header {
  margin-top: 40px;
  margin-bottom: 10px;
}
.cst-edit-icon {
  height: 37px;
  width: 37px;
  border-radius: 50%;
  border: 1px solid  $border-grey;
  color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  outline: unset;

}
.cst-primary-form {
  height: 43px;
  border: solid 1px $mid-grey;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: $dark-blue;

  &::placeholder {
    color: $mid-grey;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
.cst-btn {
  background-color: $dark-orange;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 25px;
}
.cst-download-input {
  position: relative;
  height: 40px;
  outline: unset;
  input {
    border-radius: 20px;
    width: 100%;
    border: 1px solid $border-grey;
    outline: unset;
    height: 100%;
    padding-left: 15px;
    padding-right: 40px;
    font-size: 12px;
    &::placeholder {
      font-size: 12px;
    }
  }
}

.cst-save-alt {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: $dark-blue;
}
.cst-word-icon {
  width: 80px;
  height: 40px;
  & img {
    width: 100%;
    height: 100%;
  }
}
.cst-excell-icon {
  width: 35px;
  height: 31px;
  & img {
    width: 100%;
    height: 100%;
  }
}
