<div>
  <div class="d-flex flex-column">
    <span class="cst-header f-semi-bold font-12 theme-dark-blue">Ship using Excel spreadsheet or text</span>
    <span class="f-medium font-10 theme-darker-grey">
      Schedule the shipment of multiple packages to multiple recipients. Import your completed file according to the
      examples below. Only the weight is required, you must take into account the dimensional weight of your parcel
      calculated as follows: [length (cm) x height (cm) x width (cm)] / 5000. Fill in the highest value between this
      result and the actual weight.
    </span>
  </div>

  <div class="d-flex flex-column flex-md-row mt-4 mt-md-3 align-items-center">
    <span class="theme-dark-blue font-12 f-semi-bold mr-md-3 mb-2 mb-md-0">YOUR SPREADSHEET</span>
    <div class="mr-md-4 cst-download-input mb-2 mb-md-0">
      <input placeholder="Import spreadsheet (xls, xlsx, csv, txt)">
      <mat-icon class="cst-save-alt">save_alt</mat-icon>
    </div>
    <div class="d-flex">
      <span class="theme-darker-grey font-10">Download a sample <br> contacts table</span>
      <div class="d-flex align-items-center">
        <span class="cst-word-icon"><img src="assets/icons/word-icon.png"></span>
        <span class="cst-excell-icon"><img src="assets/icons/excell-icon.png"></span>
      </div>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-center mt-4 mt-md-3">
    <span class="mb-2 f-semi-bold font-12 uppercase theme-dark-blue pr-3">Sender</span>
    <span class="mb-2 f-medium font-12 theme-dark-orange pr-4 text-center">Shai BICHLER, Agassi 59 - 91142 Jerusalem - ISRAEL</span>
    <div class="mb-2">
      <div class="cst-edit-icon"><mat-icon>edit</mat-icon></div>
    </div>
  </div>

  <div class="d-flex flex-column flex-md-row align-items-center mt-4 mt-md-3">
    <span class="mb-2 theme-dark-blue f-semi-bold font-12 mr-md-3">COLLECTION DATE</span>
    <div class="form-row mb-2 mr-md-3">
      <div class="mb-2 mb-sm-0 col-sm-6 d-flex align-items-center">
        <input readonly class="cst-primary-form w-75"
          [matDatepicker]="picker">
        <mat-datepicker #picker></mat-datepicker>
        <button type="button" class="cst-primary-form w-25 overflow-hidden" (click)="picker.open()">
          <img src="assets/icons/calendar-icon.svg">
        </button>
      </div>
      <div class="mb-2 mb-sm-0 col-sm-6">
        <select class="cst-primary-form">
          <option>
            11:00 - 13:00
          </option>
          <option>
            15:00 - 18:00
          </option>
        </select>
      </div>
    </div>

    <div class="mb-2 font-12 f-regular d-flex align-items-center theme-mid-grey">
      <label class="cst-checkbox-container theme-dark-blue font-12 f-medium">
        I drop off my parcel at
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <hr>
  <div>
    <label class="cst-checkbox-container theme-dark-blue font-12 f-medium">
      {{ 'pickupdetails.label_2' | translate | capital }}
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="w-100 mt-4 d-flex flex-column flex-sm-row justify-content-between">
    <div class="mr-5">
      <div class="d-flex flex-wrap mb-3">
        <div class="pr-5 font-12">
          <div class="cst-information theme-darker-grey">• {{ 'pickupdetails.phrase_7' | translate | capital }}</div>
          <div class="cst-information theme-darker-grey">• {{ 'pickupdetails.phrase_8' | translate | capital }}</div>
        </div>
        <div class="font-12">
          <div class="cst-information theme-darker-grey">• {{ 'pickupdetails.phrase_9' | translate | capital }}</div>
          <div class="cst-information theme-darker-grey">• {{ 'pickupdetails.phrase_10' | translate | capital }}</div>
        </div>
      </div>
      <a href="#" class="cst-hint-link font-10">{{ 'pickupdetails.link_4' | translate | capital }}</a>
    </div>
    <div class="d-flex flex-column mt-3 mt-md-0">
      <div class=" cst-information font-12 theme-darker-grey">
        {{ 'pickupdetails.phrase_11' | translate | capital }}
        <br>
        {{ 'pickupdetails.phrase_12' | translate | capital }}
      </div>
      <div class="mt-2" >
        <img *ngFor="let ind of [1,2,3,4,5]" src="assets/icons/danger-icon-{{ind}}-sm.png" class="mr-2">
      </div>
    </div>
  <div>
      

   
  </div>
    
  </div>
  <hr>
  <div class="w-100 d-flex justify-content-center my-4">
    <button class="f-medium font-18 uppercase text-white cst-btn d-flex justify-content-around align-items-center" >
      <span>IMPORT</span> <img src="assets/icons/arrow.svg">
  </button></div>
</div>
