<form class="px-3 py-4" (ngSubmit)="save()" [formGroup]="pickupForm">
  <div class="cst-table-container mb-3">
    <div formArrayName="packageDetails">
      <div class="text-center mb-4">
        <span class="f-bold font-20 caps theme-dark-blue">Packages</span>
      </div>

      <div
        *ngFor="
          let package of packages.controls;
          index as i;
          first as first;
          last as last
        "
        [formGroupName]="i"
        [class.mb-4]="!last"
      >
        <div class="cst-package-row mb-5 mb-md-3 row">
          <div class="d-flex col-6 col-md-3 mb-2 mb-md-0">
            <div class="cst-floating-label-container w-100">
              <input
                appFloatingLabel
                formControlName="quantity"
                [id]="'quantity' + i"
                class="cst-primary-form w-100"
              />
              <label [for]="'quantity' + i">{{
                "homepage.placeholder_2" | translate | capital
              }}</label>
            </div>
          </div>

          <div class="d-flex col-6 col-md-3 mb-2 mb-md-0">
            <div class="cst-floating-label-container w-100">
              <input
                appFloatingLabel
                class="cst-primary-form border-right-0"
                type="text"
                formControlName="weight"
                [id]="'weight' + i"
              />
              <label [for]="'weight' + i">{{
                "homepage.placeholder_3" | translate | capital
              }}</label>
            </div>
            <button tabindex="-1" class="font-12 f-semi-bold cst-plain-btn">
              {{ units.value === 1 ? "kg" : "lb" }}
            </button>
          </div>

          <div class="d-flex col-md-6 mt-3 mt-md-0">
            <div class="cst-floating-label-container w-100">
              <input
                appFloatingLabel
                type="text"
                class="cst-primary-form border-right-0"
                formControlName="length"
                [id]="'length' + i"
              />
              <label [for]="'length' + i">{{
                "homepage.placeholder_4" | translate | capital
              }}</label>
            </div>

            <div class="cst-floating-label-container w-100">
              <input
                appFloatingLabel
                type="text"
                class="cst-primary-form border-right-0"
                formControlName="width"
                [id]="'width' + i"
              />
              <label [for]="'width' + i">{{
                "homepage.placeholder_5" | translate | capital
              }}</label>
            </div>

            <div class="cst-floating-label-container w-100">
              <input
                appFloatingLabel
                type="text"
                class="cst-primary-form border-right-0"
                formControlName="height"
                [id]="'height' + i"
              />
              <label [for]="'height' + i">{{
                "homepage.placeholder_6" | translate | capital
              }}</label>
            </div>

            <button tabindex="-1" class="font-12 f-semi-bold cst-plain-btn">
              {{
                units.value === 1
                  ? ("homepage.placeholder_6" | translate | capital)
                  : ("homepage.placeholder_11" | translate | capital)
              }}
            </button>
          </div>

          <div *ngIf="!first" class="remove-btn" (click)="packages.removeAt(i)">
            <mat-icon>clear</mat-icon>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-center justify-content-sm-between align-items-center"
    >
      <div
        class="cst-fake-link col-sm-auto col-md-3 font-12 f-medium text-center text-sm-left mb-2 mb-md-0"
      >
        <span (click)="addPackage()"
          >+ {{ "homepage.action_1" | translate }}</span
        >
      </div>

      <div
        class="cst-fake-link mb-2 mb-md-0 col-sm-auto col-md-6 d-flex pointer font-12 f-medium align-items-center justify-content-center justify-content-sm-start"
        (click)="switchMeasurementUnits()"
      >
        <div>
          Change unit of measure ({{ units.value === 1 ? "kg" : "lb" }} /
          {{ units.value === 1 ? "cm" : "inch" }})
        </div>
      </div>

      <div
        class="cst-fake-link mb-2 mb-md-0 col-sm-auto col-md-3 d-flex justify-content-center justify-content-sm-end pointer font-12 f-medium align-items-center"
        (click)="clearPackages()"
      >
        <div class="order-1 order-sm-0">Clear packages</div>
      </div>
    </div>
  </div>

  <div class="row f-regular">
    <div class="col-md-6 mx-0 rtl-border-right cst-from-address-form">
      <div class="cst-contact-form form-row" formGroupName="shipperData">
        <div class="col-12 text-center">
          <span class="f-bold font-20 caps theme-dark-blue">From</span>
        </div>

        <div class="col-sm-4">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="country"
              class="w-100 cst-primary-form"
              id="coutry"
            />
            <label for="country" class="capitalized">{{
              "pickupdetails.placeholder_1" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="city"
              class="w-100 cst-primary-form"
              id="city"
            />
            <label for="city" class="capitalized">{{
              "pickupdetails.placeholder_2" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="state"
              class="w-100 cst-primary-form"
              id="state"
            />
            <label for="state" class="capitalized">State</label>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="street"
              id="street"
              class="w-100 cst-primary-form"
            />
            <label for="street">{{
              "pickupdetails.placeholder_4" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="houseNumber"
              id="house"
              class="w-100 cst-primary-form"
            />
            <label for="house">{{
              "pickupdetails.placeholder_5" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-3">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="postalCode"
              id="postal-code"
              class="w-100 cst-primary-form"
            />
            <label for="postal-code">{{
              "pickupdetails.placeholder_6" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="name"
              id="name"
              class="w-100 cst-primary-form"
            />
            <label for="name">{{
              "pickupdetails.placeholder_7" | translate
            }}</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="contactPerson"
              id="contactPerson"
              class="w-100 cst-primary-form"
            />
            <label for="contactPerson">{{
              "pickupdetails.placeholder_8" | translate
            }}</label>
          </div>
        </div>
        <div class="col-12 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="additionalInstructions"
              id="additionalInstructions"
              class="w-100 cst-primary-form"
            />
            <label for="additionalInstructions">{{
              "pickupdetails.placeholder_9" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="email"
              id="email"
              class="w-100 cst-primary-form"
            />
            <label for="email">{{
              "pickupdetails.placeholder_10" | translate
            }}</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="row no-gutters">
            <div class="col-3">
              <app-phone-autocomplete
                *ngIf="resolved"
                [code]="pickupForm.get('shipperData.phoneCode').value"
                (codeSelected)="
                  pickupForm.get('shipperData.phoneCode').setValue($event)
                "
              ></app-phone-autocomplete>
            </div>
            <div class="cst-floating-label-container col-9">
              <input
                appFloatingLabel
                formControlName="phone"
                id="phone"
                class="w-100 cst-primary-form"
              />
              <label for="phone">{{
                "pickupdetails.placeholder_11" | translate
              }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column">
        <label
          class="cst-checkbox-container cst-invoice-checkbox theme-dark-blue font-12 f-medium mb-3 mr-2"
        >
          {{ "pickupdetails.label_5" | translate }}
          <input type="radio" value="sender" formControlName="receiveInvoice" />
          <span class="checkmark"></span>
        </label>

        <label
          class="cst-checkbox-container cst-invoice-checkbox theme-dark-blue font-12 f-medium mb-3"
        >
          {{ "pickupdetails.label_6" | translate }}
          <input type="radio" value="sender" formControlName="payTaxes" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>

    <hr class="col-10 d-md-none" />

    <div class="col-md-6 mx-0">
      <div class="cst-contact-form form-row" formGroupName="consigneeData">
        <div class="col-12 text-center">
          <span class="f-bold font-20 caps theme-dark-blue">To</span>
        </div>

        <div class="col-sm-4">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="country"
              class="w-100 cst-primary-form"
              id="country_1"
            />
            <label for="country_1" class="capitalized">{{
              "pickupdetails.placeholder_1" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="city"
              class="w-100 cst-primary-form"
              id="city_1"
            />
            <label for="city_1" class="capitalized">{{
              "pickupdetails.placeholder_2" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="state"
              class="w-100 cst-primary-form"
              id="state_1"
            />
            <label for="state_1" class="capitalized">State</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="street"
              id="street_1"
              class="w-100 cst-primary-form"
            />
            <label for="street_1">{{
              "pickupdetails.placeholder_4" | translate
            }}</label>
          </div>
        </div>
        <div class="col-sm-3 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="houseNumber"
              id="house_1"
              class="w-100 cst-primary-form"
            />
            <label for="house_1">{{
              "pickupdetails.placeholder_5" | translate
            }}</label>
          </div>
        </div>
        <div class="col-sm-3 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="postalCode"
              id="postal-code_1"
              class="w-100 cst-primary-form"
            />
            <label for="postal-code_1">{{
              "pickupdetails.placeholder_6" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="name"
              id="name_1"
              class="w-100 cst-primary-form"
            />
            <label for="name_1">{{
              "pickupdetails.placeholder_7" | translate
            }}</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="contactPerson"
              id="contactPerson_1"
              class="w-100 cst-primary-form"
            />
            <label for="contactPerson_1">{{
              "pickupdetails.placeholder_8" | translate
            }}</label>
          </div>
        </div>
        <div class="col-12 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="additionalInstructions"
              id="additionalInstructions_1"
              class="w-100 cst-primary-form"
            />
            <label for="additionalInstructions_1">{{
              "pickupdetails.placeholder_9" | translate
            }}</label>
          </div>
        </div>

        <div class="col-sm-6 flex-grow-1">
          <div class="cst-floating-label-container">
            <input
              appFloatingLabel
              formControlName="email"
              id="email_1"
              class="w-100 cst-primary-form"
            />
            <label for="email_1">{{
              "pickupdetails.placeholder_10" | translate
            }}</label>
          </div>
        </div>
        <div class="col-sm-6 flex-grow-1">
          <div class="row no-gutters">
            <div class="col-3">
              <app-phone-autocomplete
                *ngIf="resolved"
                [code]="pickupForm.get('consigneeData.phoneCode').value"
                (codeSelected)="
                  pickupForm.get('consigneeData.phoneCode').setValue($event)
                "
              ></app-phone-autocomplete>
            </div>
            <div class="cst-floating-label-container col-9">
              <input
                appFloatingLabel
                formControlName="phone"
                id="phone_1"
                class="w-100 cst-primary-form"
              />
              <label for="phone_1">{{
                "pickupdetails.placeholder_11" | translate
              }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex flex-column">
        <label
          class="cst-checkbox-container cst-invoice-checkbox theme-dark-blue font-12 f-medium mb-3 mr-2"
        >
          {{ "pickupdetails.label_5" | translate }}
          <input
            type="radio"
            value="receiver"
            formControlName="receiveInvoice"
          />
          <span class="checkmark"></span>
        </label>

        <label
          class="cst-checkbox-container cst-invoice-checkbox theme-dark-blue font-12 f-medium mb-3"
        >
          {{ "pickupdetails.label_6" | translate }}
          <input type="radio" value="receiver" formControlName="payTaxes" />
          <span class="checkmark"></span>
        </label>
      </div>
    </div>
  </div>

  <hr />

  <div class="cst-contact-form form-row align-items-start">
    <div class="col-md-2">
      <select formControlName="reason" class="cst-primary-form">
        <option value="" disabled selected hidden>Select reason</option>
        <option>Commercial</option>
        <option>Gift</option>
        <option>Personal, not for resale</option>
        <option>Smaple</option>
        <option>Return for repair</option>
        <option>Return after repair</option>
        <option>Claim</option>
        <option>Return to origin</option>
      </select>
    </div>
    <div class="col-md-6">
      <div class="cst-floating-label-container">
        <input
          appFloatingLabel
          type="text"
          formControlName="documentDescription"
          id="description"
          class="cst-primary-form"
        />
        <label for="description">{{
          "pickupdetails.placeholder_12" | translate
        }}</label>
      </div>
    </div>
    <div class="col-md-2">
      <div class="cst-floating-label-container">
        <input
          appFloatingLabel
          type="text"
          formControlName="Vat_TaxId"
          id="tax_id"
          class="cst-primary-form"
        />
        <label for="tax_id">{{
          "pickupdetails.placeholder_13" | translate
        }}</label>
      </div>
    </div>

    <div class="col-md-2">
      <div class="d-flex">
        <div class="flex-grow-1 cst-floating-label-container">
          <input
            appFloatingLabel
            type="text"
            formControlName="estimatePackageValue"
            id="packageValue"
            class="cst-primary-form"
          />
          <label for="packageValue">Package Value</label>
        </div>
        <button
          type="button"
          tabindex="-1"
          class="font-12 f-semi-bold suffix-btn"
        >
          $
        </button>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center">
    <button class="btn btn-primary px-5 mx-2" type="submit">Save</button>
    <button
      *ngIf="link"
      class="btn btn-primary px-5 mx-3"
      type="submit"
      (click)="copyLink()"
    >
      Copy Link
    </button>
  </div>

  <div *ngIf="successMessage" class="text-success text-center mt-2">
    {{ successMessage | titlecase }}
  </div>
</form>
