@import 'variables';
@import 'mixins';


.cst-table-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  label {
    display: block;
    font-size: 12px;
  }

  .cst-plain-btn {
    border: solid 1px $mid-grey;
    background-color: white;
    width: 50px;
    flex-shrink: 0;
    text-align: center;
  }


  .cst-package-row {
    position: relative;

    .remove-btn {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 15px;
      transform: translate(50%, -50%);
      border-radius: 50%;
      background-color: $dark-grey;
      width: 24px;
      height: 24px;
      color: white;
      cursor: pointer;

    }

    input {
      width: 100%;
    }

    button {
      text-transform: uppercase;
      color: $dark-blue;
    }

  }

}

.cst-package-row input::placeholder {

  font-weight: 600;
  color: $dark-grey;
}

















// .cst-first-block {
//   @include media-breakpoint-down(sm) {
//     border-right: none !important;
//     border-left: none !important;
//   }
// }


.cst-address-section {
  > div {
    margin-bottom: 15px;
  }
  margin-top: 5px;
}

.suffix-btn {
  cursor: default;
  outline: none;
  border: solid 1px $mid-grey;
  border-left: 0;
  background-color: white;
  padding: 0 10px;
  height: 43px;
  text-transform: uppercase;
  color: $dark-blue;
}



.err-msg {
  font-size: 10px;
  color: red;
}

.cst-heading {
  font-size: 14px !important;
  font-weight: 500 !important;
  text-transform: uppercase;
  color: $dark-blue;
}

.cst-information {
  font-size: 12px;
  font-weight: 400;
  color: $darker-grey;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cst-primary-form {
  height: 43px;
  border: solid 1px $mid-grey;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: $dark-blue;

  &::placeholder {
    color: $mid-grey;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.cst-hint-link {
  font-size: 10px;
  font-weight: 400;
  text-transform: capitalize;
  color: $light-blue;
  cursor: pointer;
  &:hover {
    color: $dark-blue;
  }
}

.cst-popover-link {
  font-size: 15px;
  font-weight: 500;
  color: $dark-orange;
  cursor: pointer;
  &:hover {
    text-decoration: underline;;
  }
}

.cst-contact-form {
  > div {
    margin-bottom: 15px;
  }
}

.cst-invoice-checkbox {
  margin-left: 5px;
  margin-right: 5px;
}

.iframe-container {
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 15px 30px;
  box-shadow: $light-shadow;
  background: white;

  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  border-radius: 10px;
  z-index: 1000000000;

  iframe {
    height: 100%;
    width: 100%;
    border: none;
  }

  .mat-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: gray;
    font-size: 18px;
  }
}
.warn {
  border-color: red !important;
}

.cst-transparent-border {
  border: 1px solid transparent;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;

  .checkmark {
    top: 5px;
    left: 5px;
  }
}


@keyframes highlight {
  0% {box-shadow: 0 0 0;}
  17% {box-shadow: 0 0 3px 1px $dark-blue;}
  34% {box-shadow: 0 0 0;}
  51% {box-shadow: 0 0 3px 1px $dark-blue;}
  68% {box-shadow: 0 0 0;}
  85% {box-shadow: 0 0 3px 1px $dark-blue;}
  100% {box-shadow: 0 0 0;}
}

.cst-highlight {
  animation: highlight 2s;
}

input:disabled {
  color: rgb(212, 212, 212) !important;
  &::placeholder {
    color: rgb(212, 212, 212) !important;
  }
  & + label {
    color: rgb(212, 212, 212) !important;
  }
}

.cst-close-address {
  outline: none;
  position: absolute;
  z-index: 100;
  border: none;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  right: 5px;
}

.cst-from-address-form {
  @include media-breakpoint-down(sm) {
    border-left: none !important;
    border-right: none !important;
  }
}
