<app-shippiz-popup heading="!!!תודה שרכשתם בשיפיז,אתם בידיים טובות">

  <p class="text-center theme-darker-grey">
    !בהזמנה זו חסכת לפחות 50% ממחיר השוק
    <br/>
    במהלך השעות הקרובות ועד סוף יום העסקים הבא, ניצור קשר בכתובת הדואר האלקטרוני שהזנת כדי לתאם את זמני ההגעה
    (אנא וודא שכתובת הדואר האלקטרוני שהזנת נכונה)
    <br/>
       +לבירורים ניתן ליצור קשר עם שיפיז בוואטסאפ או בטלפון  972-584805800
    <br/>
     support@shippiz.com :או באמצעות מייל לכתובת
  </p>

</app-shippiz-popup>
