<div id="global-container">
  <div id="header-container">
    <app-header [class.rtl]="('type' | translate) === 'he'"></app-header>
  </div>

  <div id="content-container">
    <router-outlet></router-outlet>
  </div>

  <div id="footer-container">
    <app-footer></app-footer>
  </div>
</div>
