




#global-container {

  height: 100%;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: 0 auto;

  #header-container {
    z-index: 999;
  }

  #content-container {
    flex-grow: 1;
  }

}

div.main {
width: 700px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
vertical-align: middle;
}

div.main div {
position: relative;
margin: 40px 0;
}
.active {
  position: absolute;
  top: -20px  !important;
margin: 10px !important;
padding: 0 2px !important;
background-color: white;
z-index: 100000;

}


