@import 'mixins';

@each $query in sm md lg xl {
    @each $side in right left top bottom {
        .no-border-#{$side}-#{$query} {
            @include media-breakpoint-down($query) {
                border-#{$side}: none !important;
            }
        }

        .no-border-#{$side}-#{$query}-up {
            @include media-breakpoint-up($query) {
                border-#{side}: none !important;
            }
        }
    }
}