@import 'variables';

.native-mat-icon {
  height: 24px !important;
  width: 24px !important;
}

.cst-fake-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  &:hover {
    color:#0056b3;
  }
}

.no-outline{
  outline: none !important;
}

.no-select {
  user-select: none !important;
}

.no-size{
  height: unset !important;
  width: unset !important;
  max-height: unset !important;
  max-width: unset !important;
  min-height: unset !important;
  min-width: unset !important;
}

.no-transform {
  text-transform: none !important;
}

.lh-init {
  line-height: initial !important;
}


.lh-unset {
  line-height: unset !important;
}

.lh-none {
  line-height: 0;
}

.lh-sm {
  line-height: 0.5;
}

.lh-md {
  line-height: 0.8;
}

.lh-lg {
  line-height: 1;
}

.lh-xl {
  line-height: 1.5;
}

.pointer{
  cursor: pointer;
}

.anim-quick {
  transition: all $quick;
}

.anim-medium {
  transition: all $medium;
}

.anim-slow {
  transition: all $slow;
}

.h-100px {
  height: 100px;
}

.h-200px {
  height: 200px;
}

.h-300px {
  height: 300px;
}

.h-400px {
  height: 400px;
}

.h-500px {
  height: 500px;
}
