.cst-checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.cst-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: white;
  border: solid 1px $mid-grey;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.cst-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.cst-checkbox-container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid $dark-blue;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}











.cst-radio-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.cst-radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.cst-radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

.cst-radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .cst-radio-checkmark:after {
  display: block;
}

.cst-radio-container .cst-radio-checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
