@import 'mixins';

.dev-action {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: #e7e7e7;
  color: black;
  cursor: pointer;
  transition-property: color, background-color;
  transition-duration: 0.1s;

  &:hover {
    background-color: black;
    color: white;
  }

  @include media-breakpoint-down(md) {
    span {
      display: none;
    }
  }
}
