$sizes: (
  thin: 100,
  extra-light: 200,
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
  extra-bold: 800,
  xl-bold: 900
);

@function getSize($key) {
  @return map-get($sizes, $key);
}

@each $key in map-keys($sizes) {
  .f-#{$key} {
    font-weight: getSize($key);
  }

  @each $query in sm md lg xl {
    .f-#{$query}-#{$key} {
      @include media-breakpoint-up($query) {
        font-weight: getSize($key) !important;
      }
    }
  }
}

@for $i from 1 through 100 {
  .font-#{$i} {
    font-size: #{$i}px;
  }

  @each $query in sm md lg xl {
    .font-#{$query}-#{$i} {
      @include media-breakpoint-up($query) {
        font-size: #{$i}px !important;
      }
    }
  }
}
