$directions: (
  l: left,
  r: right,
  t: top,
  b: bottom,
);

$dimensions: (
  m: margin,
  p: padding,
  w: width,
  h: height,
  lh: line-height,
  mxw: max-width,
  mxh: max-height,
  mnw: min-width,
  mnh: min-height,
  t: top,
  b: bottom,
  l: left,
  r: right,
);

$amounts: 0 1 5 10 20 30 40 50 60 70 80 90 100 200 300 400 500;

@function getDirection($key) {
  @return map-get($directions, $key);
}

@function getDimension($key) {
  @return map-get($dimensions, $key);
}

@each $amount in $amounts {

  @each $dimensionKey in map-keys($dimensions) {
    .#{$dimensionKey}#{$amount} {
      #{getDimension($dimensionKey)}: #{$amount}px;
    }
  }

  @each $spacing in m p {
    @each $directionKey in map-keys($directions) {
      .#{$spacing}#{$directionKey}#{$amount} {
        #{getDimension($spacing)}-#{getDirection($directionKey)}: #{$amount}px;
      }
    }

    .#{$spacing}x#{$amount} {
      #{getDimension($spacing)}-left: #{$amount}px;
      #{getDimension($spacing)}-right: #{$amount}px;
    }

    .#{$spacing}y#{$amount} {
      #{getDimension($spacing)}-top: #{$amount}px;
      #{getDimension($spacing)}-bottom: #{$amount}px;
    }
  }
}