@each $query in xs sm md lg {

  .no-px-#{$query} {
    @include media-breakpoint-down($query) {
      padding-right: 0 !important;
      padding-left: 0 !important;
    }
  }

  .no-mx-#{$query} {
    @include media-breakpoint-down($query) {
      margin-right: 0 !important;
      margin-left: 0 !important;
    }
  }

  .no-py-#{$query} {
    @include media-breakpoint-down($query) {
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  .no-my-#{$query} {
    @include media-breakpoint-down($query) {
      margin-top: 0 !important;
      margin-bottom: 0 !important;
    }
  }

  .no-p-#{$query} {
    @include media-breakpoint-down($query) {
      padding: 0 !important;
    }
  }

  .no-m-#{$query} {
    @include media-breakpoint-down($query) {
      margin: 0 !important;
    }
  }
}
