
.caps {
  font-variant: small-caps;
}

.capitalized {
  text-transform: capitalize;
}

.uppercased {
  text-transform: uppercase;
}

.lowercased {
  text-transform: lowercase;
}

.capitalized-plc {
  &::placeholder {
    text-transform: capitalize;
  }
}

.uppercased-plc {
  &::placeholder {
    text-transform: uppercase;
  }
}

.lowercased-plc {
  &::placeholder {
    text-transform: lowercase;
  }
}

.no-ltr-spacing {
  letter-spacing: 0;
}
