@import 'variables';
@import 'mixins';

.cst-heading {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: $dark-blue;
}

.cst-information {
  font-size: 12px;
  font-weight: 400;
  color: $darker-grey;
}

hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

.cst-primary-form {
  height: 43px;
  border: solid 1px $mid-grey;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: $dark-blue;

  &::placeholder {
    color: $mid-grey;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
  }
}

.cst-hint-link {
  font-size: 10px;
  font-weight: 400;
  text-transform: capitalize;
}

.cst-contact-form {
  > div {
    margin-bottom: 15px;
  }
}

.cst-next-btn {
  height: 37px;
  width: 132px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $dark-orange;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 25px;
  transition: all $quick;
  cursor: pointer;
  outline: none;
  padding-right: 20px;
  padding-left: 35px;

  img {
    transition: inherit;
  }


  &:hover {
    background-color: $light-orange;
    img {
      margin-left: 5px;
      margin-right: 5px;
      transform: scale(1.15);
    }
  }

}


.err-msg {
  font-size: 10px;
  color: red;
}
.err-mes {
  font-size: 15px;
  font-weight: 500;
  color: red;
}
