<div class="d-flex justify-content-between align-items-center mt-3 mt-md-2">
  <div class="align-self-center ">
    <span class="theme-dark-blue font-12 f-semi-bold capitalized">
      {{ 'paymentdetails.label_2' | translate }}
    </span>
  </div>
  <img src="assets/img/payment-methods-3.png">

</div>

<form (ngSubmit)="isSubmitted = true" [formGroup]="paymentForm" class="pt-4 pb-5">


  <div class="cst-contact-form form-row align-items-start">
    <div class="col-md-4 flex-grow-1 mb-4">

      <div class="cst-floating-label-container">
        <input appFloatingLabel formControlName="fName" id='fName'  class="w-100 cst-primary-form">
        <label for="fName"> {{ 'paymentdetails.placeholder_1' | translate | capital }}</label>
      </div>


        <div @rowInsertion *ngIf="isSubmitted && paymentForm.get('fName').hasError('required')" class="err-msg">required field</div>
    </div>
    <div class="col-md-4 flex-grow-1 mb-4">
      <div class="cst-floating-label-container">
        <input appFloatingLabel formControlName="lName" id='lName'  class="w-100 cst-primary-form">
        <label for="lName"> {{ 'paymentdetails.placeholder_2' | translate | capital }}</label>
      </div>
        <div @rowInsertion *ngIf="isSubmitted && paymentForm.get('lName').hasError('required')" class="err-msg">required field</div>

    </div>
    <div class="col-md-4 flex-grow-1 mb-4">
      <div class="cst-floating-label-container">
        <input appFloatingLabel  id='lName'  class="w-75 cst-primary-form">
        <label for="lName"> {{ 'paymentdetails.placeholder_3' | translate | capital }}</label>
        <button class="w-25 cst-primary-form lh-init">{{ 'paymentdetails.action_1' | translate | capital }}</button>
      </div>

    </div>

    <div class="col-md-6 flex-grow-1 mb-4">
      <div class="cst-floating-label-container">
        <input appFloatingLabel  [appRegexpRestriction]="intReg"   formControlName="ID" id='ID'  class="w-100 cst-primary-form">
        <label for="ID">{{ 'paymentdetails.placeholder_4' | translate |capital }}</label>
      </div>


        <div @rowInsertion *ngIf="isSubmitted && paymentForm.get('ID').hasError('required')" class="err-msg">required field</div>
      </div>
    <div class="col-md-6 flex-grow-1 mb-4">

      <div class="cst-floating-label-container">
        <input appFloatingLabel  [appRegexpRestriction]="intReg"   formControlName="ccNumber" id='ccNumber'  class="w-100 cst-primary-form">
        <label for="ccNumber">{{ 'paymentdetails.placeholder_5' | translate |capital }}</label>
      </div>
        <div @rowInsertion *ngIf="isSubmitted && paymentForm.get('ccNumber').hasError('required')" class="err-msg">required field</div>
      </div>

    <div class="col-3 col-md-2 flex-grow-1 uppercased-plc mb-4">
      <div class="cst-floating-label-container">
        <input appFloatingLabel  [appRegexpRestriction]="intReg"   formControlName="cvv" id='cvv'  class="w-100 cst-primary-form">
        <label for="cvv">{{ 'paymentdetails.placeholder_6' | translate | capital }}</label>
      </div>

        <div @rowInsertion *ngIf="isSubmitted && paymentForm.get('cvv').hasError('required')" class="err-msg">required field</div></div>

    <div class="col-9 col-md-4 flex-grow-1 uppercased-plc mb-4 d-flex">
      <button
        class="flex-grow-1 cst-primary-form lh-init">{{ 'paymentdetails.placeholder_7' | translate | capital }}</button>

      <select #expDate (change)="setExpDate(false)" class="flex-grow-1 cst-primary-form">
        <option *ngFor="let i of monthOptions" [value]="i">{{i}}</option>
      </select>
      <select #expDate (change)="setExpDate(true)" class="flex-grow-1 cst-primary-form">
        <option *ngFor="let i of yearOptions" [value]="i">20{{i}}</option>
      </select>
    </div>

    <div class="col-md-6 align-self-center">
        <label class="cst-checkbox-container theme-dark-blue font-12 f-regular">
          {{ 'paymentdetails.label_3' | translate | capital }} !
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
    </div>


  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div @rowInsertion *ngIf="errorMes" class="err-mes">{{errorMes}}</div>
  </div>

  <div class="d-flex justify-content-center align-items-center mt-5">
    <button class="cst-next-btn ">Save <img src="assets/icons/arrow.svg"></button>
  </div>
</form>
