<!-------------------- COMPARE FORM -------------------->
<div class="px-sm-3 py-4 py-md-5" [class.rtl]="('type' | translate) === 'he'">
  <div class="row no-gutters">
    <div class="col-xl-9 text-center text-sm-right">
      <div
        class="px-3 font-25 font-sm-33 theme-dark-blue f-semi-bold uppercased"
      >
        <span>{{ "homepage.phrase_1" | translate }}</span>
      </div>
      <div
        class="px-3 font-18 font-sm-24 theme-dark-orange f-semi-bold capitalized"
      >
        <span>{{ "homepage.phrase_2" | translate }}</span>
      </div>
    </div>
  </div>

  <div class="d-flex mt-3">
    <div
      class="cst-tab font-12 f-semi-bold"
      [class.selected]="selectedTabIndex === 1"
      (click)="selectedTabIndex = 1"
    >
      {{ "homepage.tab_1" | translate }}
    </div>
    <div
      class="cst-tab font-12 f-semi-bold"
      [class.selected]="selectedTabIndex === 2"
      (click)="selectedTabIndex = 2"
    >
      {{ "homepage.tab_2" | translate }}
    </div>
  </div>

  <form
    [formGroup]="compareForm"
    [ngClass]="('type' | translate) === 'he' ? 'text-right' : 'text-left'"
  >
    <div class="no-mx-xs align-items-center">
      <div class="d-flex align-items-center flex-column flex-sm-row">
        <div class="flex-grow-1 no-px-xs">
          <div class="cst-table-container pb-5 p-3 p-sm-5 position-relative">
            <div style="position: absolute; top: 0; right: 0;">
              <dev-autofill
                formName="compare"
                [targetForm]="compareForm"
                [locations]="locations"
              ></dev-autofill>
            </div>

            <div class="row mb-4">
              <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="cst-row-1 flex-column flex-sm-row">
                  <div class="cst-form" formGroupName="origin">
                    <label class="f-semi-bold" for="from">{{
                      "homepage.label_1" | translate
                    }}</label>
                    <input
                      appGoogleAutocomplete
                      [value]="locations.org"
                      (placeChanged)="setPlace('org', $event)"
                      (postalCodeChanged)="setPostalCode('org', $event)"
                      id="from"
                      type="text"
                      placeholder="{{
                        'homepage.placeholder_1' | translate | capital
                      }}"
                    />

                    <!-- <input *ngIf="orgPostalCodeNotFound" formControlName="postalCode" class="capitalized"
                      placeholder="{{ 'homepage.placeholder_7' | translate }}"> -->
                  </div>

                  <div class="cst-swap-arrows" (click)="flipEndpoints()">
                    <img class="mx-2" src="assets/icons/swap-arrows.svg" />
                  </div>

                  <div class="cst-form" formGroupName="destination">
                    <label class="f-semi-bold" for="to">{{
                      "homepage.label_2" | translate
                    }}</label>
                    <input
                      appGoogleAutocomplete
                      [value]="locations.dest"
                      (placeChanged)="setPlace('dest', $event)"
                      (postalCodeChanged)="setPostalCode('dest', $event)"
                      id="to"
                      type="text"
                      placeholder="{{
                        'homepage.placeholder_1' | translate | capital
                      }}"
                    />

                    <!-- <input *ngIf="destPostalCodeNotFound" formControlName="postalCode" class="capitalized"
                      placeholder="{{ 'homepage.placeholder_7' | translate }}"> -->
                  </div>
                </div>
              </div>

              <div class="col-lg-4">
                <div
                  class="d-flex font-12 uppercased text-white text-left f-semi-bold"
                >
                  <span>{{ "homepage.label_4" | translate }}</span>
                  <span class="mx-1">:</span>
                  <span>{{ shippingTypeId.value | packageType | async }}</span>
                </div>
                <div class="d-flex mt-2">
                  <div
                    class="cst-icon-container mr-2"
                    (click)="setShippingTypeId(1)"
                    [class.selected]="shippingTypeId.value === 1"
                  >
                    <img
                      [src]="
                        shippingTypeId.value === 1
                          ? 'assets/icons/envelope-icon.svg'
                          : 'assets/icons/envelope-icon-inactive.svg'
                      "
                      alt="envelope"
                    />
                  </div>
                  <div
                    class="cst-icon-container mr-2"
                    (click)="setShippingTypeId(2)"
                    [class.selected]="shippingTypeId.value === 2"
                  >
                    <img
                      [src]="
                        shippingTypeId.value === 2
                          ? 'assets/icons/box-icon.svg'
                          : 'assets/icons/box-icon-inactive.svg'
                      "
                      alt="box"
                    />
                  </div>
                  <div
                    class="cst-icon-container"
                    (click)="setShippingTypeId(4)"
                    [class.selected]="shippingTypeId.value === 4"
                  >
                    <img
                      [src]="
                        shippingTypeId.value === 4
                          ? 'assets/icons/pallet-icon.svg'
                          : 'assets/icons/pallet-icon-inactive.svg'
                      "
                      alt="pallet"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="row align-items-end">
              <div class="col-lg-8">
                <div formArrayName="packageDetails">
                  <div
                    @rowInsertion
                    *ngFor="
                      let package of packageDetails.controls;
                      index as i;
                      first as first;
                      last as last
                    "
                    [formGroupName]="i"
                    [class.mb-4]="!last"
                  >
                    <div class="cst-package-row mb-5 mb-md-3 row">
                      <div class="d-flex col-6 col-md-3 mb-2 mb-md-0">
                        <div class="cst-floating-label-container">
                          <input
                            appFloatingLabel
                            [appRegexpRestriction]="intReg"
                            type="text"
                            formControlName="quantity"
                            [id]="'quantity' + i"
                          />
                          <label
                            class="flt-label cst-cornered-label"
                            [for]="'quantity' + i"
                            >{{
                              "homepage.placeholder_2" | translate | capital
                            }}</label
                          >
                        </div>
                      </div>

                      <div class="d-flex col-6 col-md-3 mb-2 mb-md-0">
                        <div class="cst-floating-label-container">
                          <input
                            appFloatingLabel
                            [appRegexpRestriction]="floatReg"
                            class="rtl-border-right"
                            type="text"
                            formControlName="weight"
                            [id]="'weight' + i"
                          />
                          <label
                            class="flt-label cst-cornered-label"
                            [for]="'weight' + i"
                            >{{
                              "homepage.placeholder_3" | translate | capital
                            }}</label
                          >
                        </div>
                        <button tabindex="-1" class="font-12 f-semi-bold">
                          {{
                            compareForm.get("measurementUnits").value === 1
                              ? ("homepage.label_5" | translate | capital)
                              : ("homepage.label_10" | translate | capital)
                          }}
                        </button>
                      </div>

                      <div class="d-flex col-md-6 mt-3 mt-md-0">
                        <div class="cst-floating-label-container">
                          <input
                            appFloatingLabel
                            [appRegexpRestriction]="intReg"
                            type="text"
                            class="rtl-border-right"
                            formControlName="length"
                            [id]="'length' + i"
                          />
                          <label
                            class="flt-label cst-cornered-label"
                            [for]="'length' + i"
                            >{{
                              "homepage.placeholder_4" | translate | capital
                            }}</label
                          >
                        </div>

                        <div class="cst-floating-label-container">
                          <input
                            appFloatingLabel
                            [appRegexpRestriction]="intReg"
                            type="text"
                            class="rtl-border-right"
                            formControlName="width"
                            [id]="'width' + i"
                          />
                          <label
                            class="flt-label cst-cornered-label"
                            [for]="'width' + i"
                            >{{
                              "homepage.placeholder_5" | translate | capital
                            }}</label
                          >
                        </div>

                        <div class="cst-floating-label-container">
                          <input
                            appFloatingLabel
                            [appRegexpRestriction]="intReg"
                            type="text"
                            class="rtl-border-right"
                            formControlName="height"
                            [id]="'height' + i"
                          />
                          <label
                            class="flt-label cst-cornered-label"
                            [for]="'height' + i"
                            >{{
                              "homepage.placeholder_6" | translate | capital
                            }}</label
                          >
                        </div>

                        <button tabindex="-1" class="font-12 f-semi-bold">
                          {{
                            compareForm.get("measurementUnits").value === 1
                              ? ("homepage.label_6" | translate | capital)
                              : ("homepage.label_11" | translate | capital)
                          }}
                        </button>
                      </div>

                      <div
                        *ngIf="!first"
                        class="remove-btn"
                        (click)="removePackage(i)"
                      >
                        <mat-icon>clear</mat-icon>
                      </div>
                    </div>
                  </div>
                </div>

                <div
                  class="row mt-3 justify-content-center justify-content-sm-between align-items-center"
                >
                  <div
                    class="col-sm-auto col-md-3 add-package-btn font-12 f-medium text-center text-sm-left mb-2 mb-md-0"
                  >
                    <span (click)="addPackage()"
                      >+ {{ "homepage.action_1" | translate }}</span
                    >
                  </div>

                  <div
                    class="mb-2 mb-md-0 col-sm-auto col-md-6 d-flex pointer cst-container font-12 f-medium align-items-center justify-content-center justify-content-sm-start"
                    (click)="clicked()"
                  >
                    <mat-icon class="pr-2">cached</mat-icon>
                    <div>
                      {{ "homepage.action_3" | translate }} ({{
                        compareForm.get("measurementUnits").value === 1
                          ? ("homepage.label_5" | translate | capital)
                          : ("homepage.label_10" | translate | capital)
                      }}
                      /
                      {{
                        compareForm.get("measurementUnits").value === 1
                          ? ("homepage.label_6" | translate | capital)
                          : ("homepage.label_11" | translate | capital)
                      }})
                    </div>
                  </div>

                  <div
                    class="mb-2 mb-md-0 col-sm-auto col-md-3 d-flex justify-content-center justify-content-sm-end pointer cst-container font-12 f-medium align-items-center"
                    (click)="removeAllPackageValues()"
                  >
                    <div class="order-1 order-sm-0">
                      {{ "homepage.action_4" | translate | capital }}
                    </div>
                    <mat-icon
                      class="pr-2 pr-sm-0 pl-2 font-20 order-0 order-sm-1"
                      >clear</mat-icon
                    >
                  </div>
                </div>
              </div>
              <div class="col-sm-5 offset-sm-7 col-lg-4 offset-lg-0">
                <div
                  [ngClass]="
                    ('type' | translate) === 'he' ? 'ml-sm-n5' : 'mr-sm-n5'
                  "
                  class="cst-compare-btn font-18 f-regular mt-4 mt-lg-0 px-3 no-outline"
                  (click)="compare()"
                >
                  <span class="mr-3 f-regular">{{
                    "homepage.action_2" | translate
                  }}</span>
                  <img class="rtl-flip" src="assets/icons/arrow.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          [ngClass]="('type' | translate) === 'he' ? 'mr-xl-3' : 'ml-xl-3'"
          class="pt-5 px-5 pt-sm-0 px-sm-0 flex-shrink-0 d-sm-none d-xl-block"
        >
          <img
            class="cst-alt-logo rtl-flip"
            src="assets/icons/website-alt-logo.svg"
          />
        </div>
      </div>
    </div>
  </form>
</div>

<!--------------------- ADVANTAGE ROW --------------------->
<app-advantage-row></app-advantage-row>

<!-------------------- PARTNER LOGOS --------------------->
<div class="container-fluid theme-light-grey-bg">
  <div class="cst-row cst-partner-row">
    <img
      *ngFor="let partner of partners"
      src="assets/img/partners/{{ partner }}.png"
    />
  </div>
</div>

<!-------------------- SLIDER --------------------->

<div class="cst-slider-container">
  <ngu-carousel [inputs]="carouselConfig" [dataSource]="sliderData">
    <div
      *nguCarouselDef="let slide; let i = index"
      class="item d-flex justify-content-center"
    >
      <app-card [slide]="slide"> </app-card>
    </div>

    <button NguCarouselPrev class="cst-slider-arrow" mat-icon-button>
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <button NguCarouselNext class="cst-slider-arrow" mat-icon-button>
      <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
  </ngu-carousel>
</div>

<!-------------------- GUIDE --------------------->
<div class="cst-guide container-fluid theme-dark-blue-bg">
  <div class="container uppercased text-white">
    <div class="cst-centered-heading font-22 font-lg-30 f-semi-bold mb-3">
      <span>{{ "homepage.phrase_14" | translate }}</span>
      <span>{{ "homepage.phrase_15" | translate }}</span>
    </div>

    <div class="row">
      <div class="col-6 col-md-4 p-3 mt-4 text-left">
        <img src="assets/icons/boxes-icon.svg" />
        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17">
            {{ "homepage.phrase_16" | translate }}
          </div>
          <div class="f-regular font-13 font-lg-17 mt-2">
            {{ "homepage.phrase_17" | translate }}
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3 mt-4 text-left">
        <img src="assets/icons/location-icon.svg" />
        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17">
            {{ "homepage.phrase_18" | translate }}
          </div>
          <div class="f-regular font-13 font-lg-17 mt-2">
            {{ "homepage.phrase_19" | translate }}
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3 mt-4 text-left">
        <img src="assets/icons/percent-icon.svg" />
        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17">
            {{ "homepage.phrase_20" | translate }}
          </div>
          <div class="f-regular font-13 font-lg-17 mt-2">
            {{ "homepage.phrase_21" | translate }}
          </div>
        </div>
      </div>

      <div class="col-6 col-md-4 p-3 mt-4 text-left">
        <img src="assets/icons/bar-chart-icon.svg" />
        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17">
            {{ "homepage.phrase_22" | translate }}
          </div>
          <div class="f-regular font-13 font-lg-17 mt-2">
            {{ "homepage.phrase_23" | translate }}
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3 mt-4 text-left">
        <img src="assets/icons/photo-camera-icon.svg" />
        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17">
            {{ "homepage.phrase_24" | translate }}
          </div>
          <div class="f-regular font-13 font-lg-17 mt-2">
            {{ "homepage.phrase_25" | translate }}
          </div>
        </div>
      </div>
      <div class="col-6 col-md-4 p-3 mt-4 text-left">
        <img src="assets/icons/dimension-cube-icon.svg" />
        <div class="mt-3">
          <div class="f-bold font-12 font-lg-17">
            {{ "homepage.phrase_26" | translate }}
          </div>
          <div class="f-regular font-13 font-lg-17 mt-2">
            {{ "homepage.phrase_27" | translate }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
