@import "variables";
@import "mixins";
.rtl {
  .cst-table-container {
    .cst-compare-btn {
      img {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        margin-right: 1rem;
      }
      border-radius: 0 30px 30px 0;
    }
  }
}
.cst-tab {
  text-transform: uppercase;
  width: 194px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-grey;
  color: $dark-blue;
  transition-property: background-color, color;
  transition-duration: $quick;
  cursor: pointer;

  &.selected {
    background-color: $dark-blue;
    color: white;
  }

  @include media-breakpoint-down(xs) {
    width: 50%;
  }
}

.cst-table-container {
  background-color: $dark-blue;
  min-height: 317px;
  border-radius: 0 0 42px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include media-breakpoint-down(xs) {
    border-radius: 0;
  }

  label {
    display: block;
    color: white;
    text-transform: uppercase;
    font-size: 12px;

    &.flt-label {
      color: $dark-grey;
      text-transform: none;
      font-weight: 600;
    }
  }

  .cst-form input::placeholder {
    font-size: 12px;
    font-weight: 600;
    color: $dark-grey;
  }

  .cst-row-1 {
    display: flex;
    align-items: flex-end;

    .cst-form {
      flex-grow: 1;
      width: 100%;
    }

    input {
      width: 100%;
      height: 42px;
      border: none;
      border-radius: 0;
      padding: 0 10px;
    }

    img {
      @include media-breakpoint-down(xs) {
        transform: rotate(90deg);
      }
    }
  }

  .cst-package-row {
    position: relative;

    .remove-btn {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 15px;
      transform: translate(50%, -50%);
      border-radius: 50%;
      background-color: $dark-orange;
      width: 24px;
      height: 24px;
      color: $light-grey;
      transition: color $quick;
      cursor: pointer;
      &:hover {
        color: $mid-grey;
      }
    }

    input,
    button {
      border: none;
      border-radius: 0;
      background-color: white;
      padding: 0 10px;
      height: 42px;
    }

    input {
      width: 100%;
      &::placeholder {
        font-size: 12px;
        font-weight: 600;
      }
    }

    button {
      text-transform: uppercase;
      color: $dark-blue;
    }
  }

  .cst-icon-container {
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    transition: transform $quick;

    &.selected {
      transform: scale(1.1);
    }
  }

  .cst-swap-arrows {
    height: 50px;
    display: flex;
  }

  .cst-compare-btn {
    background-color: $dark-orange;
    height: 42px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    color: white;
    transition: all $quick;
    margin-bottom: 35px;
    border-radius: 30px 0 0 30px;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(xs) {
      border-radius: 30px 30px 30px 30px;
      width: 255px;
      margin: auto;
      display: flex;
      justify-content: center;
    }

    img {
      transition: inherit;
    }

    cursor: pointer;

    &:hover {
      background-color: $light-orange;
      img {
        margin-left: 5px;
        margin-right: 5px;
        transform: scale(1.15);
      }
    }
  }

  .add-package-btn {
    text-transform: uppercase;

    span {
      color: $light-orange;
      transition: color $quick;
      cursor: pointer;
      &:hover {
        color: white;
      }
    }
  }
}

.cst-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &.cst-advantage-row {
    min-height: 58px;

    .cst-advantage {
      color: white;
      font-size: 13px;
      padding: 8px;
      display: flex;
      align-items: center;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      text-align: center;

      img {
        width: 10px;
        @include media-breakpoint-down(xs) {
          transform: rotate(90deg);
        }
      }
    }
  }

  &.cst-partner-row {
    min-height: 125px;

    img {
      padding: 15px;
    }

    @include media-breakpoint-down(xs) {
      padding-top: 30px;
      padding-bottom: 30px;
      img {
        padding: 5px;
      }
    }
  }

  &.cst-advertising-row {
    justify-content: space-between;
    padding-top: 125px;
    padding-bottom: 125px;

    .cst-card {
      position: relative;
      box-shadow: $light-shadow;
      position: absolute;

      .cst-card-content {
        display: flex;
        flex-direction: column;
        color: white;
        font-size: 20px;

        position: absolute;
        left: 0;
        bottom: 0;
        padding: 25px;
      }
    }
  }
}

.cst-slider-container {
  .cst-slider-arrow {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    background: rgba($dark-blue, 0.8);
    box-shadow: $light-shadow;
    border-radius: 50%;
    .mat-icon {
      outline: none;
      color: white;
    }

    &:first-of-type {
      left: 5px;
    }
    &:last-of-type {
      right: 5px;
    }
  }

  padding-top: 120px;
  padding-bottom: 120px;

  @include media-breakpoint-down(md) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include media-breakpoint-down(sm) {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .cst-card {
    position: relative;
    box-shadow: $light-shadow;
    display: flex;

    .cst-card-content {
      display: flex;
      flex-direction: column;
      color: white;
      font-size: 16px;

      position: absolute;
      left: 0;
      bottom: 0;
      padding: 25px;
    }
  }
}

.cst-centered-heading {
  text-align: center;

  display: flex;
  flex-direction: column;
}

.cst-alt-logo {
  max-height: 300px;
  width: 100%;
}

.cst-guide {
  @include media-breakpoint-up(lg) {
    height: 632px;
  }
  padding-top: 50px;
  padding-bottom: 50px;

  .cst-centered-heading span {
    line-height: 1;
  }
}
.cst-package-row input::placeholder {
  font-weight: 600;
  color: $dark-grey;
}

.cst-make-none {
  display: none;
}

.cst-make-block {
  width: 100%;
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-top: 119px;
}
.cst-selected-card {
  opacity: 0.1;
}
.cst-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #06244b;
}
.cst-container {
  color: $light-orange;
  transition: color $quick;
  cursor: pointer;
  &:hover {
    color: white;
  }
}
