<div *ngIf="(options | async) as options; else loading">
  <div *ngFor="let option of options; index as i; first as first" [class.mt-4]="!first">
    <app-option-card [option]="option" [index]="i"></app-option-card>
  </div>
</div>

<ng-template #loading>
  <div class="cst-loading-template d-flex justify-content-center align-items-center">
    <div class="d-flex flex-column align-items-center">
      <app-loading-animation></app-loading-animation>

      <img class="cst-alt-logo rtl-flip" src="assets/icons/website-alt-logo.svg">
    </div>
  </div>
</ng-template>
