.cst-loading-template {

  .rotate-center{
    position: relative;
    width: 200px;
    height: 150px;
    animation: rotate 1s infinite linear
  }
  .cst-usps {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .cst-dhl{
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  }
  // .cst-tnt {
  //   position: absolute;
  //   right: 0;
  //   top: 50%;
  //   transform: translateY(-50%);
  // }
  // .cst-fedex {
  //   position: absolute;
  //   left: 50%;
  //   bottom: 0;
  //   transform: translateX(-50%);
  // }
}




@keyframes rotate {
  0% {
    transform:rotate(0)
  }

  100% {
    transform:rotate(360deg)
  }
}
