

<div class="h-100 d-flex justify-content-center align-items-center">
    <h1 class="text-success caps"  *ngIf="successMsg">{{ successMsg }}</h1>
    <h1 class="text-danger cpas" *ngIf="errMsg">{{ errMsg }}</h1>
</div>