<div class="my-3">
  <agm-map #map [zoom]="zoom" [latitude]="coordinates[selectedLocationIndex]?.lat || 0" [longitude]="coordinates[selectedLocationIndex]?.lng || 0">
    <agm-marker *ngFor="let coordinate of coordinates" [latitude]="coordinate.lat" [longitude]="coordinate.lng" [label]="'M'"></agm-marker>
  </agm-map>
</div>
<div class="row cst-container">
  <div class="col-md-6">
    <div class="cst-header f-bold">Contact US</div>

    <div (click)="selectLocation(0)" class="d-flex flex-column cst-contact" [class.selected]="selectedLocationIndex === 0">
      <span>94 igal alon (alon 2)</span>
      <span>Tel Aviv 6789139</span>
      <span>Israel</span>
      <span>+972-544-805-800</span>
      <span>support@shippiz.com</span>
    </div>
    <hr>
    <div (click)="selectLocation(1)" class="d-flex flex-column cst-contact" [class.selected]="selectedLocationIndex === 1">
      <span>Kerékgyártó utca 2/B</span>
      <span>1147 Budapest</span>
      <span>Hungary </span>
      <span>+36-1-6102223</span>
    </div>
    <hr>
    <div (click)="selectLocation(2)" class="d-flex flex-column cst-contact" [class.selected]="selectedLocationIndex === 2">
      <span>1000 North circle road</span>
      <span>Unit 5</span>
      <span>Safestore</span>
      <span>NW27JP</span>
      <span>London</span>
    </div>
    <hr>
    <div (click)="selectLocation(3)" class="d-flex flex-column cst-contact" [class.selected]="selectedLocationIndex === 3">
      <span>802 E 92nd St</span>
      <span>Brooklyn 11236</span>
      <span>NY USA</span>
    </div>


  </div>
  <div class="col-md-6 d-flex flex-column justify-content-center align-items-center" >
    <div class="cst-header f-bold">Send Your Contact</div>

    <div class="w-100" [formGroup]="contactForm">
      <div class='mb-3 w-100'>
        <input formControlName='fName' type="text"  class="cst-primary-form" placeholder="first Name">
        <div @rowInsertion class="err-msg" *ngIf='isSubmitted && contactForm.get("fName").hasError("required")'>required field</div>
      </div>
      <div class='mb-3 w-100'>
        <input formControlName='lName' type="text" class="cst-primary-form" placeholder="Last Name">
        <div @rowInsertion class="err-msg" *ngIf='isSubmitted && contactForm.get("lName").hasError("required")'>required field</div>
      </div>
      <div class='mb-3 w-100'>
        <input formControlName='email' type="email" class="cst-primary-form" placeholder="email">
        <div @rowInsertion class="err-msg" *ngIf='isSubmitted && contactForm.get("email").hasError("required")'>required field</div>
        <div @rowInsertion class="err-msg" *ngIf='isSubmitted && contactForm.get("email").hasError("invalidEmail")'>invalid Email</div>
      </div>
      <div class='mb-3 w-100'>
        <input formControlName='phone' type="number" class="cst-primary-form" placeholder="Phone">
        <div @rowInsertion class="err-msg" *ngIf='isSubmitted && contactForm.get("phone").hasError("required")'>required field</div>
      </div>
      <div class='mb-3 w-100'>
       <input formControlName='subject' type="text" class="cst-primary-form" placeholder="subject">
      </div>
       <div class='mb-3 w-100'>
         <input formControlName='message'type="text" class="cst-primary-form" placeholder="Message">
      </div>
      <div class="w-100 d-flex justify-content-center align-items-center">
        <button *ngIf="!successMsg; else success" class="cst-submit w-100"(click)='submit()'>Submit</button>
        <ng-template #success><span class="text-success">{{successMsg}}</span></ng-template>
        <div *ngIf="errorMsg" class="text-danger">{{errorMsg}}</div>
      </div>
    </div>

  </div>
</div>
