@import 'variables';

.cst-container {
  padding: 50px 20px;
  color: $dark-blue;

  .cst-header {
    font-size: 22px;
    margin:0 0 15px 0;
    }

    .cst-contact {
      font-size: 14px;
      padding: 15px;
      cursor: pointer;
      transition: all 0.2s;
      &:hover {
        background-color: $lightest-grey;
      };

      &.selected {
        background-color: $lightest-grey;
        box-shadow: $lighter-shadow;
      }
    }

    .cst-primary-form {
      height: 43px;
      border: solid 1px $mid-grey;
      padding-left: 10px;
      padding-right: 10px;
      width: 100%;
      background-color: white;
      font-size: 12px;
      font-weight: 400;
      color: $dark-blue;
      outline: unset;
      &::placeholder {
        color: $mid-grey;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
      }
    }

    .cst-submit {
      font-weight: 500;
      height: 43px;
      border: 0;
      background-color: $dark-orange;
      font-size: 12px;
      color: white;
      outline: unset;
      &::placeholder {
        color: $mid-grey;
        font-size: 12px;
        font-weight: 400;
        text-transform: capitalize;
      }
      &:hover {
        color: $light-grey;
      }
    }
}
.err-msg {
  color: red;
  font-size: 12px;
}
agm-map {
  height: 500px;
}

hr {
  margin: 0;
}
