<div class="d-flex justify-content-center align-items-center h-100">
    <div class="d-flex align-items-center" *ngIf="loading">
        <span class="font-30 f-medium caps">Loading invoice</span>
        <mat-spinner class="ml-3 cst-blue" [diameter]="30"></mat-spinner>
    </div>

    <div *ngIf="!loading">
        <p class="font-30 f-medium caps">Review and update your invoice...</p>
        <div class="d-flex justify-content-center">
            <button class="btn btn-primary p-2 m-2" routerLink="/home">Home</button>
            <button class="btn btn-primary p-2 m-2" (click)="openInvoice()">Open Invoice</button>
        </div>
    </div>
</div>