<p class="cst-heading">{{ "paymentdetails.heading_1" | translate }}</p>

<div class="d-flex justify-content-between align-items-center">
  <div class="align-self-center">
    <span class="theme-dark-blue font-12 f-semi-bold capitalized">
      {{ "paymentdetails.label_2" | translate }}
    </span>
  </div>
  <img src="assets/img/payment-methods-3.png" />
</div>

<form (ngSubmit)="createPickup()" [formGroup]="paymentForm" class="pt-4 pb-5">
  <div class="cst-contact-form form-row align-items-start">
    <div class="col-md-4 flex-grow-1 mb-4">
      <div class="cst-floating-label-container">
        <input
          appFloatingLabel
          formControlName="fName"
          id="fName"
          class="w-100 cst-primary-form"
        />
        <label for="fName">
          {{ "paymentdetails.placeholder_1" | translate | capital }}
          <span class="text-danger">*</span></label
        >
      </div>

      <div
        @rowInsertion
        *ngIf="isSubmitted && paymentForm.get('fName').hasError('required')"
        class="err-msg"
      >
      {{ "confirmation.phrase_6" | translate }}
      </div>
    </div>
    <div class="col-md-4 flex-grow-1 mb-4">
      <div class="cst-floating-label-container">
        <input
          appFloatingLabel
          formControlName="lName"
          id="lName"
          class="w-100 cst-primary-form"
        />
        <label for="lName">
          {{ "paymentdetails.placeholder_2" | translate | capital }}
          <span class="text-danger">*</span></label
        >
      </div>
      <div
        @rowInsertion
        *ngIf="isSubmitted && paymentForm.get('lName').hasError('required')"
        class="err-msg"
      >
      {{ "confirmation.phrase_6" | translate }}
      </div>
    </div>
    <div class="col-md-4 flex-grow-1 mb-4">
      <div class="cst-floating-label-container">
        <input appFloatingLabel id="coupon" class="w-75 cst-primary-form" />
        <label for="coupon">
          {{ "paymentdetails.placeholder_3" | translate | capital }}</label
        >
        <button class="w-25 cst-primary-form lh-init">
          {{ "paymentdetails.action_1" | translate | capital }}
        </button>
      </div>
    </div>

    <div class="col-md-6 flex-grow-1 mb-4">
      <div class="cst-floating-label-container">
        <input
          appFloatingLabel
          [appRegexpRestriction]="intReg"
          formControlName="ID"
          id="ID"
          class="w-100 cst-primary-form"
        />
        <label for="ID">{{
          "paymentdetails.placeholder_4" | translate | capital
        }}</label>
      </div>
    </div>
    <div class="col-md-6 flex-grow-1 mb-4">
      <div class="cst-floating-label-container">
        <input
          appFloatingLabel
          [appRegexpRestriction]="intReg"
          formControlName="ccNumber"
          id="ccNumber"
          class="w-100 cst-primary-form"
        />
        <label for="ccNumber"
          >{{ "paymentdetails.placeholder_5" | translate | capital }}
          <span class="text-danger">*</span></label
        >
      </div>
      <div
        @rowInsertion
        *ngIf="isSubmitted && paymentForm.get('ccNumber').hasError('required')"
        class="err-msg"
      >
      {{ "confirmation.phrase_6" | translate }}
      </div>
    </div>

    <div class="col-3 col-md-2 flex-grow-1 uppercased-plc mb-4">
      <div class="cst-floating-label-container">
        <input
          appFloatingLabel
          [appRegexpRestriction]="intReg"
          formControlName="cvv"
          id="cvv"
          class="w-100 cst-primary-form"
        />
        <label for="cvv"
          >{{ "paymentdetails.placeholder_6" | translate | capital }}
          <span class="text-danger">*</span></label
        >
      </div>

      <div
        @rowInsertion
        *ngIf="isSubmitted && paymentForm.get('cvv').hasError('required')"
        class="err-msg"
      >
      {{ "confirmation.phrase_6" | translate }}
      </div>
    </div>

    <div class="col-9 col-md-4 flex-grow-1 uppercased-plc mb-4 d-flex">
      <button type="button" class="flex-grow-1 cst-primary-form lh-init">
        {{ "paymentdetails.placeholder_7" | translate | capital }}
      </button>

      <select
        #expDate
        (change)="setExpDate(false)"
        class="flex-grow-1 cst-primary-form"
      >
        <option *ngFor="let i of monthOptions" [value]="i">{{ i }}</option>
      </select>
      <select
        #expDate
        (change)="setExpDate(true)"
        class="flex-grow-1 cst-primary-form"
      >
        <option *ngFor="let i of yearOptions" [value]="i">20{{ i }}</option>
      </select>
    </div>

    <div class="col-md-6">
      <label class="cst-checkbox-container theme-dark-blue font-12 f-regular">
        {{ "paymentdetails.label_3" | translate | capital }} !
        <input type="checkbox" checked="checked" />
        <span class="checkmark"></span>
      </label>
    </div>
  </div>

  <div *ngIf="user && user.money > 0" class="d-flex align-items-center">
    <div class="separator"></div>
    <div class="mx-2 text-secondary font-12">
      {{ "confirmation.phrase_5" | translate | capital }}
    </div>
    <div class="separator"></div>
  </div>

  <div
    class="d-flex align-items-center justify-content-between flex-column flex-md-row mt-4"
  >
    <div *ngIf="user && user.money > 0" class="mb-3 mb-md-0">
      <label class="cst-checkbox-container theme-dark-blue font-12 f-regular">
        {{ "confirmation.phrase_4" | translate }}
        {{ user.money | currency: user.currency }})
        <input [formControl]="chargeFromBalance" type="checkbox" />
        <span class="checkmark"></span>
      </label>
    </div>

    <div class="ml-md-auto">
      <button
        [disabled]="requesting"
        type="submit"
        class="cst-next-btn font-18 f-medium px-3 mr-md-n5"
      >
        <span class="mr-3 f-regular">{{
          "paymentdetails.action_2" | translate
        }}</span>
        <img class="rtl-flip" src="assets/icons/arrow.svg" />
        <mat-spinner
          *ngIf="requesting"
          class="ml-1 cst-white"
          [diameter]="15"
        ></mat-spinner>
      </button>
    </div>
  </div>

  <div style="position: absolute; top: 0; right: 0;">
    <dev-autofill formName="payment" [targetForm]="paymentForm"></dev-autofill>
  </div>
</form>

<div class="d-flex justify-content-center align-items-center">
  <div @rowInsertion *ngIf="errorMes" class="err-mes">{{ errorMes }}</div>
</div>

<p class="text-center theme-dark-blue font-12">
  {{ "confirmation.phrase_6" | translate }}<br />
  {{ "confirmation.phrase_7" | translate }}
</p>
