.err-msg {
  font-size: 10px;
  color: red;
}
.err-mes {
  font-size: 15px;
  font-weight: 500;
  color: red;
}

.separator {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}

.cst-primary-form:disabled {
  background-color: rgba(189, 189, 189, 0.082);
}