<div class="px-3 py-4">

  <form [formGroup]="pickupForm">


    <div class="cst-table-container mb-3">
      <div formArrayName="packageDetails">

        <div class="text-center mb-4">
          <span class="f-bold font-20 caps theme-dark-blue">חבילות</span>
        </div>

        <div *ngFor="let package of packages.controls; index as i; first as first; last as last"
          [formGroupName]="i" [class.mb-4]="!last">

          <div class="cst-package-row mb-3 row">

            <div class="d-flex col-sm-6">
              <div class="cst-floating-label-container w-100">
                <input appFloatingLabel formControlName="quantity" [id]="'quantity' + i" class="cst-primary-form w-100">
                <label [for]="'quantity' + i">כמות</label>
              </div>
            </div>

            <div class="d-flex col-sm-6">
              <div class="cst-floating-label-container w-100">
                <input appFloatingLabel class="cst-primary-form border-right-0" type="text" formControlName="weight" [id]="'weight' + i">
                <label [for]="'weight' + i">משקל</label>
              </div>
              <button tabindex="-1" class="font-12 f-semi-bold cst-plain-btn">KG</button>
            </div>

            <div *ngIf="!first" class="remove-btn" (click)="packages.removeAt(i)">
              <mat-icon>clear</mat-icon>
            </div>

          </div>

        </div>
      </div>
      <div class="d-flex flex-column flex-sm-row align-items-center">
        <div class="cst-fake-link font-12 f-medium text-center text-sm-left mb-2 mb-md-0 mr-sm-3">
          <span (click)="addPackage()">+ הוסף חבילה</span>
        </div>

        <div class="cst-fake-link mb-2 mb-md-0 pointer font-12 f-medium mr-sm-3" (click)="clearPackages()">
          <span>נקה</span>
        </div>
      </div>
    </div>





    <div class="row f-regular">


      <div class="col-md-6 mx-0 rtl-border-right cst-from-address-form">

        <div class="cst-contact-form form-row" formGroupName="shipperData">

          <div class="col-12 text-center">
            <span class="f-bold font-20 caps theme-dark-blue">פרטי השולח</span>
          </div>

          <div class="col-sm-6">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="city" class="w-100 cst-primary-form" id="city">
              <label for="city" class="capitalized">עיר</label>
            </div>
          </div>


          <div class="col-sm-6">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="street" id='street' class="w-100 cst-primary-form">
              <label for="street">רחוב</label>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="houseNumber" id="house" class="w-100 cst-primary-form">
              <label for="house">מספר בית</label>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="postalCode" id="postal-code" class="w-100 cst-primary-form">
              <label for="postal-code">מיקוד</label>
            </div>
          </div>


          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="name" id="name" class="w-100 cst-primary-form">
              <label for="name">חברה</label>
            </div>
          </div>
          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="contactPerson" id="contactPerson" class="w-100 cst-primary-form">
              <label for="contactPerson">שם השולח</label>
            </div>
          </div>
          <div class="col-12 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel  formControlName="additionalInstructions" id="additionalInstructions" class="w-100 cst-primary-form">
              <label for="additionalInstructions">תיאור הגעה כגון כניסה, קומה וכו</label>
            </div>
          </div>

          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel  formControlName="email" id="email" class="w-100 cst-primary-form">
              <label for="email">דואר אלקטרוני</label>
            </div>
          </div>
          <div class="col-sm-6 flex-grow-1">

            <div class="cst-floating-label-container">
              <input appFloatingLabel  formControlName="phone" id="phone" class="w-100 cst-primary-form">
              <label for="phone">טלפון</label>
            </div>

          </div>

        </div>

      </div>

      <hr class="col-10 d-md-none">

      <div class="col-md-6 mx-0">

        <div class="cst-contact-form form-row" formGroupName="consigneeData">

          <div class="col-12 text-center">
            <span class="f-bold font-20 caps theme-dark-blue">פרטי המקבל</span>
          </div>

          <div class="col-sm-6">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="city" class="w-100 cst-primary-form" id="city_1">
              <label for="city_1" class="capitalized">עיר</label>
            </div>
          </div>


          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="street" id='street_1' class="w-100 cst-primary-form">
              <label for="street_1">רחוב</label>
            </div>
          </div>
          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="houseNumber" id="house_1" class="w-100 cst-primary-form">
              <label for="house_1">מספר בית</label>
            </div>
          </div>
          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="postalCode" id="postal-code_1" class="w-100 cst-primary-form">
                <label for="postal-code_1">מיקוד</label>
            </div>
          </div>


          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="name" id="name_1" class="w-100 cst-primary-form">
              <label for="name_1">חברה</label>
            </div>
          </div>
          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="contactPerson" id="contactPerson_1" class="w-100 cst-primary-form">
              <label for="contactPerson_1">שם השולח</label>
            </div>
          </div>
          <div class="col-12 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="additionalInstructions" id="additionalInstructions_1" class="w-100 cst-primary-form">
              <label for="additionalInstructions_1">תיאור הגעה כגון כניסה, קומה וכו</label>
            </div>
          </div>

          <div class="col-sm-6 flex-grow-1">
            <div class="cst-floating-label-container">
              <input appFloatingLabel formControlName="email" id="email_1" class="w-100 cst-primary-form">
              <label for="email_1">דואר אלקטרוני</label>
            </div>
          </div>
          <div class="col-sm-6 flex-grow-1">

            <div class="cst-floating-label-container">
              <input appFloatingLabel  formControlName="phone" id="phone_1" class="w-100 cst-primary-form">
              <label for="phone_1">טלפון</label>
            </div>

          </div>
        </div>


      </div>
    </div>
  </form>



  <hr>

  <div class="d-flex justify-content-center">
    <button class="btn btn-primary px-5 mx-2" (click)="save()">שמור</button>
    <button *ngIf="link" class="btn btn-primary px-5 mx-3" (click)="copyLink()">העתק קישור</button>
  </div>

  <div *ngIf="successMessage" class="text-success text-center mt-2">
    {{successMessage | titlecase}}
  </div>






  <form *ngIf="needToPay" [formGroup]="paymentForm">

    <hr>


    <div class="text-center mb-4">
      <span class="f-bold font-20 caps theme-dark-blue">תשלום</span>
    </div>

    <div class="cst-contact-form form-row align-items-start">

      <div class="col-md-4 flex-grow-1 mb-4">
        <div class="cst-floating-label-container">
          <input appFloatingLabel formControlName="fName" id='fName'  class="w-100 cst-primary-form">
          <label for="fName">שם</label>
        </div>
      </div>

      <div class="col-md-4 flex-grow-1 mb-4">
        <div class="cst-floating-label-container">
          <input appFloatingLabel formControlName="lName" id='lName'  class="w-100 cst-primary-form">
          <label for="lName">שם משפחה</label>
        </div>
      </div>

      <div class="col-md-4 flex-grow-1 mb-4">
        <div class="cst-floating-label-container">
          <input appFloatingLabel  id='coupon'  class="w-75 cst-primary-form border-right-0">
          <label for="coupon">קופון</label>
          <button class="w-25 cst-primary-form lh-init">בדוק</button>
        </div>
      </div>

      <div class="col-md-6 flex-grow-1 mb-4">
        <div class="cst-floating-label-container">
          <input appFloatingLabel formControlName="ID" id='ID'  class="w-100 cst-primary-form">
          <label for="ID">ת"ז</label>
        </div>
      </div>

      <div class="col-md-6 flex-grow-1 mb-4">
        <div class="cst-floating-label-container">
          <input appFloatingLabel formControlName="ccNumber" id='ccNumber'  class="w-100 cst-primary-form">
          <label for="ccNumber">מספר כרטיס אשראי</label>
        </div>
      </div>

      <div class="col-3 col-md-2 flex-grow-1 uppercased-plc mb-4">
        <div class="cst-floating-label-container">
          <input appFloatingLabel formControlName="cvv" id='cvv'  class="w-100 cst-primary-form">
          <label for="cvv">3 ספרות בגב הכרטיס</label>
        </div>
      </div>

      <div class="col-9 col-md-4 flex-grow-1 uppercased-plc mb-4 d-flex">
        <button type="button" class="flex-grow-1 cst-primary-form lh-init border-right-0">תוקף</button>

        <select formControlName="expDateMonth" class="flex-grow-1 cst-primary-form border-right-0">
          <option *ngFor="let i of monthOptions$ | async" [value]="i">{{i}}</option>
        </select>

        <select formControlName="expDateYear" class="flex-grow-1 cst-primary-form">
          <option *ngFor="let i of yearOptions" [value]="i">20{{i}}</option>
        </select>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button class="btn btn-primary px-5 mx-2" (click)="pay()">שלח</button>
    </div>

  </form>




</div>
