<div class="cst-sub-header pointer f-medium" (click)='isExpanded = !isExpanded' [class.cst-dark-gray]="!isOdd">
 <span> {{subHeader}}</span>
</div>
<div @expanding *ngIf="isExpanded" class="overflow-hidden">
  <ng-content></ng-content>
</div>
