@import 'variables';

.cst-sub-header{
  font-size: 18px;
  user-select: none;
  background-color: $lighter-grey;
  min-height: 75px;
  display: flex;
  align-items: center;
  padding-left: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.cst-dark-gray {
  background-color: $light-grey;

}
