@import "variables";
@import "mixins";

.cst-summary-row {
  @include media-breakpoint-only(md) {
    background-color: $lighter-grey;
    padding: 18px;
    padding-bottom: 10px;
  }
}

.cst-header {
  padding-top: 130px;
  background-image: url("/assets/img/bg-img-desktop.png");
  background-size: cover;
  background-position: center;

  @include media-breakpoint-down(sm) {
    padding-top: 0
  }


  .cst-break-line {
    height: 16px;
    background-color: $dark-blue;

  }
}

.cst-step-row {
  display: flex;
  height: 75px;
  align-items: flex-end;

  .cst-step {
    border-bottom: solid 3px transparent;
    padding: 16px;
    outline: none;
    @include media-breakpoint-down(xs) {
      padding: 12px;
    }
    flex-grow: 1;
    text-align: center;
    color: $mid-grey;
    transition-property: border-bottom-color, color;
    transition-duration: $medium;
    text-transform: uppercase;
    pointer-events: none;

    span {
      display: inline-block;
      transition: $quick;

    }

    &.active {
      border-bottom-color: $dark-blue;
      color: $dark-blue;
      cursor: pointer;
      pointer-events: initial;

      &:hover {
        span {
          transform: translateY(-8px);
        }
      }
    }
  }
}

.cst-view-container {
  padding-top: 73px;
  background-image: url("/assets/img/compare-bg-sm.png");
  background-position-y: -420px;
  background-position-x: center;
  background-size: 125%;
  position: relative;
  z-index: 1;

  .cst-blur-box {
    position: absolute;
    height: 130px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    opacity: 0.5;
    z-index: -1;
  }

  .cst-tab {
    text-transform: uppercase;
    width: 235px;
    height: 57px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $light-grey;
    color: $dark-blue;
    transition-property: background-color, color;
    transition-duration: $quick;
    font-size: 14px;
    cursor: pointer;

    &.selected {
      background-color: $dark-blue;
      color: white;
    }
  }

  .cst-nav {
    display: flex;
    height: 74px;
    align-items: flex-end;

    .cst-nav-tab {
      border-bottom: solid 3px transparent;
      font-size: 14px;
      padding: 16px;
      flex-grow: 1;
      text-align: center;
      color: $mid-grey;
      transition-property: background-color, color;
      transition-duration: $quick;
      cursor: pointer;
      text-transform: uppercase;

      &.active {
        border-bottom-color: $dark-blue;
        color: $dark-blue;
      }
    }
  }
}

.cst-advantage-row {
  min-height: 58px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .cst-advantage {
    color: white;
    font-size: 13px;
    padding: 8px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1.6px;
    text-align: center;

    img {
      width: 10px;
      @include media-breakpoint-down(xs) {
        transform: rotate(90deg);
      }
    }
  }


}

.cst-full-width {
  margin-left: -350px;
  margin-right: -350px;
}

.cst-pushed-width {
  padding-left: 350px;
  padding-right: 350px;
}
