<div class="cst-header">
  <div class="cst-break-line d-none d-md-block"></div>
</div>

<div class="rtl-border-bottom bg-white row no-gutters">
  <div class="col-lg-9 cst-step-row">
    <div routerLink="/home" class="cst-step f-semi-bold font-12 active">
      <span>1. {{ "shippage.tabs.home" | translate | capital }}</span>
    </div>
    <div
      routerLink="/ship/service_selection"
      class="cst-step f-semi-bold font-12"
      [class.active]="currentStepIndex >= 1"
    >
      <span>2. {{ "shippage.tabs.service" | translate | capital }}</span>
    </div>
    <div
      [routerLink]="
        selectedService && selectedService.domestic_Country
          ? ['/ship', 'domestic_pickup_' + selectedService.domestic_Country]
          : ['/ship', 'address_details']
      "
      class="cst-step f-semi-bold font-12"
      [class.active]="currentStepIndex >= 2"
    >
      <span>3. {{ "shippage.tabs.pickup" | translate | capital }}</span>
    </div>
    <div
      class="cst-step f-semi-bold font-12"
      [class.active]="currentStepIndex >= 3"
    >
      <span>4. {{ "shippage.tabs.payment" | translate | capital }}</span>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div
    class="order-1 order-md-2 order-lg-1 col-lg-9 rtl-border-right p-3 p-md-5"
  >
    <router-outlet></router-outlet>
  </div>

  <div
    class="order-2 order-md-1 order-lg-2 col-lg-3 px-3 px-md-0 px-lg-3 pt-3 pt-md-0 pt-lg-3"
  >
    <div
      class="cst-summary-row text-left d-flex flex-column flex-wrap flex-md-row flex-lg-column justify-content-between"
    >
      <span
        class="d-md-none d-lg-block font-18 font-md-14 font-lg-18 f-bold uppercased theme-dark-orange"
        >{{ "shippage.summary.summary" | translate }}</span
      >

      <ng-container *ngIf="user">
        <div class="mt-4 mt-md-0 mt-lg-4 mb-1 mr-md-2 mr-lg-0">
          <span
            class="font-15 font-md-11 font-lg-13 f-semi-bold uppercased theme-dark-blue mr-2"
            >{{ "shippage.summary.userId" | translate | capital }} :</span
          >
          <span class="font-15 font-md-12 f-medium theme-darker-grey mb-3">{{
            user.userId
          }}</span>
        </div>
        <div class="mr-md-2 mr-lg-0">
          <span
            class="font-15 font-md-11 font-lg-13 f-semi-bold uppercased theme-dark-blue mr-2"
            >{{ "shippage.summary.username" | translate | capital }} :</span
          >
          <span class="font-15 font-md-12 f-medium theme-darker-grey mb-3">{{
            user.fName || user.email
          }}</span>
        </div>
      </ng-container>

      <div class="mb-1 mt-4 mt-md-0 mt-lg-4 mr-md-2 mr-lg-0">
        <span
          class="font-15 font-md-11 font-lg-13 f-semi-bold uppercased theme-dark-blue mr-2"
          >{{ "shippage.summary.from" | translate }} :</span
        >
        <span class="font-15 font-md-12 f-medium theme-darker-grey mb-3">{{
          locations.org
        }}</span>
      </div>

      <div class="mb-1 mr-md-2 mr-lg-0">
        <span
          class="font-15 font-md-11 font-lg-13 f-semi-bold uppercased theme-dark-blue mr-2"
          >{{ "shippage.summary.to" | translate }} :</span
        >
        <span class="font-15 font-md-12 f-medium theme-darker-grey mb-3">{{
          locations.dest
        }}</span>
      </div>

      <div class="mb-1 mr-md-2 mr-lg-0">
        <span
          class="font-15 font-md-11 font-lg-13 f-semi-bold uppercased theme-dark-blue mr-2"
          >{{ "shippage.summary.type" | translate }} :</span
        >
        <span class="font-15 font-md-12 f-medium theme-darker-grey mb-3">{{
          shippingTypeId | packageType | async
        }}</span>
      </div>

      <div
        class="mt-3 mt-md-0 mt-lg-3 mb-1 theme-dark-blue uppercased mr-md-2 mr-lg-0"
      >
        <span
          class="font-15 font-md-11 font-lg-13 f-semi-bold mr-1 d-none d-md-inline d-lg-none"
          *ngIf="packages.length"
          >{{ packages.length }}</span
        >
        <span class="font-15 font-md-11 font-lg-13 f-semi-bold">{{
          "shippage.summary.package" | translate
        }}</span>
      </div>
      <div class="mb-3 d-md-none d-lg-block">
        <div
          *ngFor="let package of packages"
          class="font-15 font-md-12 f-medium theme-darker-grey mb-1"
        >
          {{ package.quantity }} {{ "shippage.summary.qty" | translate }},
          {{ package.weightToCharge }} {{ package.weightType }},
          {{ package.length }} X {{ package.width }} X {{ package.height }}
          {{ package.sizeType }},
        </div>
      </div>

      <div class="mt-sm-3 mt-md-0 mt-lg-3">
        <div class="text-right">
          <span
            routerLink="/home"
            class="pointer capitalized font-14 font-sm-12 f-medium theme-light-blue"
            >{{ "shippage.summary.edit" | translate }}</span
          >
        </div>
        <hr class="d-md-none d-lg-block mt-1" />
      </div>

      <ng-container *ngIf="currentStepIndex >= 2">
        <div
          class="d-flex align-items-start flex-column flex-md-row flex-lg-column"
        >
          <img
            class="mb-3 mb-md-0 mb-lg-3 mr-2"
            src="{{ selectedService.processorId | processorLogo | async }}"
          />
          <div class="mb-2 mb-md-0 mb-lg-2 mr-2">
            <span
              class="font-15 font-sm-11 font-lg-13 f-semi-bold uppercased theme-dark-blue mr-3"
              >{{ "shippage.summary.drop" | translate }}</span
            >
            <span
              *ngIf="currentStepIndex < 3"
              class="font-15 font-sm-12 f-medium theme-darker-grey"
              >{{ selectedService.pickupDate }}</span
            >
            <span
              *ngIf="shipmentDetails && currentStepIndex >= 3"
              class="font-15 font-sm-12 f-medium theme-darker-grey"
            >
              <span>{{
                shipmentDetails.clientJson.estimatedDeliveryDate.pickupDate
              }}</span>
              <span class="mx-1">/</span>
              <span>{{
                shipmentDetails.clientJson.estimatedDeliveryDate.pickupTime
              }}</span>
            </span>
          </div>
          <div class="mb-2 mb-md-0 mb-lg-2 mr-2">
            <span
              class="font-15 font-sm-11 font-lg-13 f-semi-bold uppercased theme-dark-blue mr-3"
              >{{ "shippage.summary.delivery" | translate }}</span
            >
            <span class="font-15 font-sm-12 f-medium theme-darker-grey">{{
              selectedService.deliveryTime
            }}</span>
          </div>
        </div>

        <div
          class="d-md-none d-lg-block font-14 font-sm-12 f-medium theme-light-blue mt-2"
        >
          <div class="pointer text-right capitalized">
            <span routerLink="/ship/service_selection">{{
              "shippage.summary.edit" | translate
            }}</span>
          </div>
          <hr class="mt-1" />
        </div>

        <div class="cst-section">
          <div
            class="d-flex justify-content-between align-items-center mb-5 mb-md-0 mb-lg-2"
          >
            <div
              class="font-15 font-sm-11 font-lg-13 f-semi-bold uppercased theme-dark-blue mr-3"
            >
              <span>{{ "shippage.summary.total" | translate }}</span>
            </div>
            <div class="f-semi-bold theme-light-orange">
              <div>
                <span class="font-15 mr-1"
                  >{{ selectedService | relevantPrice: "totalPrice" | async }}
                  {{ (currencyObserver | async).sign }}</span
                >
                <span class="font-12">{{
                  "shippage.summary.tax" | translate
                }}</span>
              </div>
              <!-- <div class="text-right">
                <span class="theme-light-blue font-12 f-regular">Fuel {{ selectedService.fuel | currency }}</span>
              </div> -->
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<app-advantage-row></app-advantage-row>
