@import "classes/colors";
@import "classes/common";
@import "classes/misc";
@import "classes/typography";
@import "classes/layout";
@import "classes/fonts";
@import "classes/dev";
@import "classes/responsivity";
@import "classes/custom-checkbox";
@import "classes/borders";

@import "defaults";
@import "overrides";
@import "rtl-support";

.notif-error.mat-snack-bar-container {
  color: rgb(247, 62, 62);

  .mat-simple-snackbar-action {
    color: unset;
  }
}
.notif-success.mat-snack-bar-container {
  color: rgb(125, 206, 125);
  .mat-simple-snackbar-action {
    color: unset;
  }
}

.cst-snackbar-class {
  transform: scale(1.5);
  color: red;
}
.rtl {
  direction: rtl;
}
