<div class="h-100 w-100 d-flex justify-content-center align-items-center">
  <div class="w-100 position-relative">
    <h2 mat-dialog-title>Reset Password</h2>
    <mat-dialog-content>
        <div class="form-group">
            <input [formControl]="email" class="cst-primary-form" placeholder="Type your email" />
        </div>
        <button [disabled]="email.invalid" class="cst-action-btn mb-2" (click)="resetPassword()">Reset password</button>
    </mat-dialog-content>
    <button class="cst-close" mat-icon-button mat-dialog-close>
        <mat-icon>clear</mat-icon>
    </button>
    <div @rowInsertion class="alert-success p-2" *ngIf="successMsg">
        <div>{{successMsg}}</div>
        <a [href]="url">{{url}}</a>
    </div>
    <div @rowInsertion class="alert-danger p-2" *ngIf="errMsg">{{errMsg}}</div>
  </div>
</div>
