@import 'variables';

.cst-close {
  position: absolute;
  top: -10px;
  right: -10px;
  .mat-icon {
    font-size: 12px;
  }
}
.position-relative h2{
  color: $dark-blue;
}
.cst-back-login {
  color: $dark-blue;
  font-weight: 500;
}
.cst-reset-pas  {
  background-color:$dark-orange;
  outline: unset;
  margin-right: -24px;
  border-radius: 30px 0 0 30px;

}

.cst-action-btn {
  background-color: $light-orange;
  color: white;
  border: none;
  width: 100%;
  font-size: 12px;
  height: 43px;
  &:disabled {
    opacity: 0.7;
  }
}

.cst-primary-form {
  height: 43px;
  border: solid 1px $mid-grey;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  background-color: white;
  font-size: 12px;
  font-weight: 400;
  color: $dark-blue;
  outline: none;

  &::placeholder {
    color: $mid-grey;
    font-size: 12px;
    font-weight: 400;
    text-transform: capitalize;
  }
}
