<div class="d-flex flex-column justify-content-center align-items-center py-3">
  <div class="theme-dark-blue f-bold font-28 font-sm-50 font-lg-65">Coming Soon...</div>
  <div class="d-flex flex-wrap justify-content-around w-100 my-4">
    <img class="m-3" src="assets/img/logo/amazon-logo (2).svg">
    <img class="m-3" src="assets/img/logo/ebay/ebay.png">
    <img class="m-3" src="assets/img/logo/Shopify/Shopify.png">
    <img class="m-3" src="assets/img/logo/Etsy/etsy.png">
    <img class="m-3" src="assets/img/logo/wix-logo/wix-logo.png">
    <img class="m-3" src="assets/img/logo/Cdiscount/Cdiscount.png">
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center font-medium font-12 theme-darker-grey">
    <span class="text-center">
      Our Ecommerce connectors give you the ultimate solution for grouping together all the orders from any platform.
    </span>
    <span class="text-center">
      You can then manage your online sales directly on your Shippiz Business Account.
    </span>
  </div>

  <button class="cst-btn font-medium font-17 px-3 d-flex justify-content-center align-items-center">
    <span class="text-nowrap">create an account</span>
    <img class="ml-4 height-100" src="assets/icons/arrow.svg">
  </button>

  <div class="d-flex flex-column justify-content-center align-items-center font-medium font-12 theme-dark-blue mb-3">
    <span class="text-center">
      Our Ecommerce connectors give you the ultimate solution for grouping together all the orders from any platform.
    </span>
    <span class="text-center">
      You can then manage your online sales directly on your Shippiz Business Account.
    </span>
  </div>
</div>
