@import 'variables';

.cst-btn {
  height: 37px;
  background-color: $dark-orange;
  color: white;
  text-transform: uppercase;
  border: 0;
  border-radius: 25px;
  margin-top: 55px;
  margin-bottom: 27px;
}
